flows_45_notifications_20230321.json
[{"id":"13db895d.6db0b7","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"af1c13b4.0a6dc","type":"pushover","z":"13db895d.6db0b7","name":"","device":"","title":"","priority":"0","sound":"pushover","url":"","url_title":"electricity","html":false,"x":520,"y":220,"wires":[]},{"id":"7ca543d1.f5f23c","type":"comment","z":"13db895d.6db0b7","name":"Pushover info","info":"Key\nujbnopt4yv9b94rj1xcme7kzp7oihb\n\nAPI\nam2seebcb6yx3zmkp6fvtx2o3q9mxv\n","x":530,"y":140,"wires":[]},{"id":"6e54afc.3f9425","type":"link in","z":"13db895d.6db0b7","name":"","links":["7bae512.f9adeb"],"x":275,"y":140,"wires":[[]]},{"id":"8e009ddc.4d22e","type":"link in","z":"13db895d.6db0b7","name":"","links":["a302fcbf.bfbe8"],"x":275,"y":180,"wires":[["af1c13b4.0a6dc"]]},{"id":"d6ddce6.677193","type":"link in","z":"13db895d.6db0b7","name":"","links":["5d628a3e.ef2c54"],"x":275,"y":560,"wires":[["af1c13b4.0a6dc"]]},{"id":"20b03abe.b496e6","type":"link in","z":"13db895d.6db0b7","name":"","links":["b7eeb3e7.0a7bb"],"x":275,"y":600,"wires":[["af1c13b4.0a6dc","21da0bbd.9b0594"]]},{"id":"898231b2.0904d","type":"irc out","z":"13db895d.6db0b7","name":"","sendObject":"pay","ircserver":"1c96658.dadce9b","channel":"#notify","x":730,"y":540,"wires":[]},{"id":"6c547499.a0277c","type":"link in","z":"13db895d.6db0b7","name":"","links":["6d1d3976.5ea7e8"],"x":275,"y":640,"wires":[["d798f082.6cd55"]]},{"id":"a5319ff.8f52b6","type":"function","z":"13db895d.6db0b7","name":"","func":"msg.payload = 'Loadshedding = ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":560,"wires":[["898231b2.0904d"]]},{"id":"d798f082.6cd55","type":"function","z":"13db895d.6db0b7","name":"","func":"msg.payload = 'Rain Today = ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":640,"wires":[["898231b2.0904d"]]},{"id":"21da0bbd.9b0594","type":"function","z":"13db895d.6db0b7","name":"","func":"msg.payload = 'WX Server = ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":600,"wires":[["898231b2.0904d"]]},{"id":"87e7f51.3b74b08","type":"link in","z":"13db895d.6db0b7","name":"","links":[],"x":275,"y":220,"wires":[["af1c13b4.0a6dc"]]},{"id":"1ef55e08.891272","type":"link in","z":"13db895d.6db0b7","name":"","links":["77c4507.213a4b"],"x":275,"y":260,"wires":[["af1c13b4.0a6dc","898231b2.0904d"]]},{"id":"bd3a8b56.fc6538","type":"link in","z":"13db895d.6db0b7","name":"","links":["4266e593.6251cc"],"x":275,"y":300,"wires":[["af1c13b4.0a6dc","898231b2.0904d"]]},{"id":"14b61141.13532f","type":"link in","z":"13db895d.6db0b7","name":"Loadshedding Next","links":["ad9cace3.8198f"],"x":275,"y":340,"wires":[["af1c13b4.0a6dc","898231b2.0904d"]]},{"id":"7456a11f.a75","type":"link in","z":"13db895d.6db0b7","name":"","links":["cac2501b.cfaa"],"x":275,"y":680,"wires":[["af1c13b4.0a6dc","1962e188.f5088e"]]},{"id":"1962e188.f5088e","type":"function","z":"13db895d.6db0b7","name":"","func":"msg.payload = 'GPSdata ON = ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":680,"wires":[["898231b2.0904d"]]},{"id":"136e43a8.d61a8c","type":"link in","z":"13db895d.6db0b7","name":"","links":["99a029eb.d396e8"],"x":275,"y":720,"wires":[["c5a7c909.3e9268"]]},{"id":"c5a7c909.3e9268","type":"function","z":"13db895d.6db0b7","name":"","func":"msg.payload = 'nas16 ON = ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":720,"wires":[["898231b2.0904d"]]},{"id":"a1f2c0b6.5fa4f","type":"link in","z":"13db895d.6db0b7","name":"","links":["49579cda.0342d4"],"x":275,"y":760,"wires":[["dd078d19.32d1c","af1c13b4.0a6dc"]]},{"id":"dd078d19.32d1c","type":"function","z":"13db895d.6db0b7","name":"","func":"msg.payload = 'gps2 ON = ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":760,"wires":[["898231b2.0904d"]]},{"id":"1c96658.dadce9b","type":"irc-server","server":"192.168.1.43","port":"6667","ssl":false,"cert":false,"nickname":"NodeRED"}]