flows_45_sun_20230321.json
[{"id":"2fff69d9.a75526","type":"tab","label":"Sun","disabled":false,"info":""},{"id":"d966103.2a93bf","type":"inject","z":"2fff69d9.a75526","name":"60 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"num","x":120,"y":100,"wires":[["ca52d1d0.ad3da","d37d748c.987288"]]},{"id":"ca52d1d0.ad3da","type":"http request","z":"2fff69d9.a75526","name":"Get data from NOAA API","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://services.swpc.noaa.gov/products/summary/10cm-flux.json","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["98e214be.b4ad58","b517afe5.e8e38"]]},{"id":"98e214be.b4ad58","type":"debug","z":"2fff69d9.a75526","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":60,"wires":[]},{"id":"df3b651b.37d6a8","type":"debug","z":"2fff69d9.a75526","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"b517afe5.e8e38","type":"json","z":"2fff69d9.a75526","name":"","property":"payload","action":"","pretty":false,"x":530,"y":100,"wires":[["88d0cfc6.6f8f3"]]},{"id":"88d0cfc6.6f8f3","type":"change","z":"2fff69d9.a75526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Flux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["49ee2416.fb69bc"]]},{"id":"aa334b10.231e48","type":"mqtt out","z":"2fff69d9.a75526","name":"spaceweather/SFI","topic":"spaceweather/SFI","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":750,"y":200,"wires":[]},{"id":"7a1920b0.b83ea","type":"influxdb out","z":"2fff69d9.a75526","influxdb":"56582f14.218fb","name":"spaceweather/SFI","measurement":"spaceweather/SFI","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":160,"wires":[]},{"id":"49ee2416.fb69bc","type":"function","z":"2fff69d9.a75526","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["df3b651b.37d6a8","aa334b10.231e48","7a1920b0.b83ea"]]},{"id":"d37d748c.987288","type":"http request","z":"2fff69d9.a75526","name":"Get data from NOAA API","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://services.swpc.noaa.gov/products/summary/solar-wind-speed.json","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":320,"wires":[["1da0b6b6.0a8c09","4f5a74e8.90513c"]]},{"id":"1da0b6b6.0a8c09","type":"debug","z":"2fff69d9.a75526","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"211509e0.704406","type":"debug","z":"2fff69d9.a75526","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"4f5a74e8.90513c","type":"json","z":"2fff69d9.a75526","name":"","property":"payload","action":"","pretty":false,"x":530,"y":320,"wires":[["fa0a4dd7.ef921"]]},{"id":"fa0a4dd7.ef921","type":"change","z":"2fff69d9.a75526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.WindSpeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":380,"wires":[["bc1f6a95.d7d258"]]},{"id":"cc64bb0e.86bf08","type":"mqtt out","z":"2fff69d9.a75526","name":"spaceweather/SolarWindSpeed","topic":"spaceweather/SolarWindSpeed","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":790,"y":420,"wires":[]},{"id":"3ab2521a.7ecd2e","type":"influxdb out","z":"2fff69d9.a75526","influxdb":"56582f14.218fb","name":"spaceweather/SolarWindSpeed","measurement":"spaceweather/SolarWindSpeed","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":380,"wires":[]},{"id":"bc1f6a95.d7d258","type":"function","z":"2fff69d9.a75526","name":"","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":380,"wires":[["211509e0.704406","cc64bb0e.86bf08","3ab2521a.7ecd2e"]]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"56582f14.218fb","type":"influxdb","hostname":"192.168.1.45","port":"8086","protocol":"http","database":"zs6cr","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]