flows_101_all-gps_20230321.json
[
    {
        "id": "ba0d267dd5c5ac09",
        "type": "tab",
        "label": "status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e27e5adc.5685f8",
        "type": "tab",
        "label": "Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "83c10fcd.9d332",
        "type": "tab",
        "label": "gpslog2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68f5aed7cf31f5bb",
        "type": "tab",
        "label": "gpslogger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b19ea180b2e2472e",
        "type": "tab",
        "label": "gpslogger-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "71ecae384a7968ba",
        "type": "tab",
        "label": "gpslogger-zr6aic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c3d6325d70c4b7c",
        "type": "tab",
        "label": "gps-logger-dam",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "235634fb8d8c8e18",
        "type": "tab",
        "label": "wsjtx",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93dec9dcd2ddee25",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bfae5dc8.1e56d",
        "type": "mqtt-broker",
        "name": "zs6cr-rpi-mqtt",
        "broker": "192.168.1.45",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "100",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "488c534f4d10a13e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "gpslog",
        "name": "vm-101-deb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "3d866860.7886f8",
        "type": "mqtt-broker",
        "name": "vm-101-deb",
        "broker": "192.168.1.101",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b32b60db.61369",
        "type": "mqtt out",
        "z": "e27e5adc.5685f8",
        "name": "",
        "topic": "status/vm-deb/cpu_perc",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "35495580.f93d9a",
        "type": "mqtt out",
        "z": "e27e5adc.5685f8",
        "name": "",
        "topic": "status/vm-deb/temp_C",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "c687b682.04fa08",
        "type": "cpu",
        "z": "e27e5adc.5685f8",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "b32b60db.61369"
            ]
        ]
    },
    {
        "id": "3f58a44d.bc2fbc",
        "type": "network_stats",
        "z": "e27e5adc.5685f8",
        "name": "",
        "receivedBytesSec": true,
        "transmittedBytesSec": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "2cf2add2.e99182"
            ]
        ]
    },
    {
        "id": "16be47ed.71d4c8",
        "type": "inject",
        "z": "e27e5adc.5685f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "c687b682.04fa08",
                "f5fca7b8.3ea528",
                "3f58a44d.bc2fbc",
                "df8f6e79.bc6ff",
                "66aaa2ee.79f5cc",
                "782442ff5700e162",
                "8c3cabc05c41f772"
            ]
        ]
    },
    {
        "id": "f5fca7b8.3ea528",
        "type": "cpu",
        "z": "e27e5adc.5685f8",
        "name": "",
        "msgCore": false,
        "msgOverall": false,
        "msgArray": false,
        "msgTemp": true,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "35495580.f93d9a"
            ]
        ]
    },
    {
        "id": "df8f6e79.bc6ff",
        "type": "network_stats",
        "z": "e27e5adc.5685f8",
        "name": "",
        "receivedBytesSec": false,
        "transmittedBytesSec": true,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "ad78f3f9.b231a"
            ]
        ]
    },
    {
        "id": "542f9851.18a028",
        "type": "mqtt out",
        "z": "e27e5adc.5685f8",
        "name": "",
        "topic": "status/vm-deb/mem_perc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "6e03b70d.dd8478",
        "type": "mqtt out",
        "z": "e27e5adc.5685f8",
        "name": "",
        "topic": "status/vm-deb/netRX_kBps",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "89583367.5eaa3",
        "type": "mqtt out",
        "z": "e27e5adc.5685f8",
        "name": "",
        "topic": "status/vm-deb/netTX_kBps",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "2cf2add2.e99182",
        "type": "range",
        "z": "e27e5adc.5685f8",
        "minin": "0",
        "maxin": "1024",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "6e03b70d.dd8478"
            ]
        ]
    },
    {
        "id": "7d25a396.227a3c",
        "type": "range",
        "z": "e27e5adc.5685f8",
        "minin": "0",
        "maxin": "4096",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "542f9851.18a028"
            ]
        ]
    },
    {
        "id": "ad78f3f9.b231a",
        "type": "range",
        "z": "e27e5adc.5685f8",
        "minin": "0",
        "maxin": "1024",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "89583367.5eaa3"
            ]
        ]
    },
    {
        "id": "66aaa2ee.79f5cc",
        "type": "Drives",
        "z": "e27e5adc.5685f8",
        "name": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "89c07f14.0753a"
            ]
        ]
    },
    {
        "id": "89c07f14.0753a",
        "type": "change",
        "z": "e27e5adc.5685f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].capacity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "e7731b35.7018d8"
            ]
        ]
    },
    {
        "id": "e7731b35.7018d8",
        "type": "range",
        "z": "e27e5adc.5685f8",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "a2f0de19.e0163"
            ]
        ]
    },
    {
        "id": "a2f0de19.e0163",
        "type": "mqtt out",
        "z": "e27e5adc.5685f8",
        "name": "",
        "topic": "status/vm-deb/disk_perc",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "782442ff5700e162",
        "type": "Memory",
        "z": "e27e5adc.5685f8",
        "name": "",
        "scale": "Byte",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "7d25a396.227a3c"
            ]
        ]
    },
    {
        "id": "8c3cabc05c41f772",
        "type": "Loadavg",
        "z": "e27e5adc.5685f8",
        "name": "",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "5479f9275188ddfd"
            ]
        ]
    },
    {
        "id": "5479f9275188ddfd",
        "type": "debug",
        "z": "e27e5adc.5685f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "31e1e8ca.a5f258",
        "type": "debug",
        "z": "83c10fcd.9d332",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6c2df23.6eb0f",
        "type": "delay",
        "z": "83c10fcd.9d332",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "31e1e8ca.a5f258",
                "b3192b30.e52778"
            ]
        ]
    },
    {
        "id": "d7d9ab3fbcc57b8c",
        "type": "gpsd",
        "z": "83c10fcd.9d332",
        "name": "gps2",
        "hostname": "localhost",
        "port": "2947",
        "tpv": true,
        "sky": false,
        "info": false,
        "device": false,
        "gst": false,
        "att": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c6c2df23.6eb0f"
            ]
        ]
    },
    {
        "id": "b3192b30.e52778",
        "type": "mqtt out",
        "z": "83c10fcd.9d332",
        "name": "gps/gps2/gpsd/message",
        "topic": "gps/gps2/gpsd/message",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "3a218f69a0f4cc2d",
        "type": "mqtt in",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/message",
        "topic": "gps/gpsd/message",
        "qos": "1",
        "datatype": "auto",
        "broker": "93dec9dcd2ddee25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "29f41c12b71efce3",
                "f39071014111b310"
            ]
        ]
    },
    {
        "id": "29f41c12b71efce3",
        "type": "debug",
        "z": "68f5aed7cf31f5bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "f39071014111b310",
        "type": "json",
        "z": "68f5aed7cf31f5bb",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "6dd2a5380e1ea9f4",
                "c72258bb8aa1665d",
                "8da501eca82360d2",
                "b2a265567ca52b1b",
                "af4fd9d7fcf711a6",
                "d5cb78dbf6d862b8",
                "82a826d092148ded",
                "62fd39ae2202d263",
                "ee45cbd24c7e528b",
                "1a5cfd449369660e",
                "4aa2c08f6e719b06",
                "f4852d7018c66863",
                "314a562532807861",
                "50f3b730250fcd18",
                "fae640eee27d2244"
            ]
        ]
    },
    {
        "id": "6dd2a5380e1ea9f4",
        "type": "debug",
        "z": "68f5aed7cf31f5bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "c72258bb8aa1665d",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "ept",
        "func": "msg.payload = msg.payload.ept;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "7bd14b1f10e1c58a",
                "fc858bb257abb4c5"
            ]
        ]
    },
    {
        "id": "8da501eca82360d2",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "lat",
        "func": "msg.payload = msg.payload.lat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "856501e7c0ec2222",
                "f69dfc2ad46b2985"
            ]
        ]
    },
    {
        "id": "b2a265567ca52b1b",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "lon",
        "func": "msg.payload = msg.payload.lon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "3a69b650ac32d95a",
                "33e0e7838e18bdd2"
            ]
        ]
    },
    {
        "id": "af4fd9d7fcf711a6",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "alt",
        "func": "msg.payload = msg.payload.alt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "2a5989aa541765e6",
                "23e2317a6165450e"
            ]
        ]
    },
    {
        "id": "d5cb78dbf6d862b8",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "epx",
        "func": "msg.payload = msg.payload.epx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "fd5af1a4d78b17eb",
                "adf6f8f40551692c"
            ]
        ]
    },
    {
        "id": "82a826d092148ded",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "epy",
        "func": "msg.payload = msg.payload.epy;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 560,
        "wires": [
            [
                "e0f4f311c10c7490",
                "b58a124d32e81867"
            ]
        ]
    },
    {
        "id": "62fd39ae2202d263",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "epv",
        "func": "msg.payload = msg.payload.epv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "3d04c14cdca3a17a",
                "320dbfb106dcd556"
            ]
        ]
    },
    {
        "id": "ee45cbd24c7e528b",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "track",
        "func": "msg.payload = msg.payload.track;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 720,
        "wires": [
            [
                "d069e6ff3742853f"
            ]
        ]
    },
    {
        "id": "1a5cfd449369660e",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "speed",
        "func": "msg.payload = msg.payload.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 800,
        "wires": [
            [
                "9afa1cd7a6b9d124",
                "fb252b84f57129a5"
            ]
        ]
    },
    {
        "id": "4aa2c08f6e719b06",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "climb",
        "func": "msg.payload = msg.payload.climb;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 880,
        "wires": [
            [
                "8896435d951e80f2",
                "4c938163ab666020"
            ]
        ]
    },
    {
        "id": "f4852d7018c66863",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "eps",
        "func": "msg.payload = msg.payload.eps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 960,
        "wires": [
            [
                "d4916e7cc69b136a",
                "1edf730efe99dc24"
            ]
        ]
    },
    {
        "id": "314a562532807861",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "epc",
        "func": "msg.payload = msg.payload.epc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "cae0576fe7221c2f",
                "1edf730efe99dc24"
            ]
        ]
    },
    {
        "id": "1edf730efe99dc24",
        "type": "debug",
        "z": "68f5aed7cf31f5bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7bd14b1f10e1c58a",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/ept",
        "topic": "gps/gpsd/ept",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "856501e7c0ec2222",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/lat",
        "topic": "gps/gpsd/lat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "3a69b650ac32d95a",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/lon",
        "topic": "gps/gpsd/lon",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a5989aa541765e6",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/alt",
        "topic": "gps/gpsd/alt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd5af1a4d78b17eb",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/epx",
        "topic": "gps/gpsd/epx",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "e0f4f311c10c7490",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/epy",
        "topic": "gps/gpsd/epy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 560,
        "wires": []
    },
    {
        "id": "3d04c14cdca3a17a",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/epv",
        "topic": "gps/gpsd/epv",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "d069e6ff3742853f",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/track",
        "topic": "gps/gpsd/track",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "9afa1cd7a6b9d124",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/speed",
        "topic": "gps/gpsd/speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "8896435d951e80f2",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/climb",
        "topic": "gps/gpsd/climb",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 880,
        "wires": []
    },
    {
        "id": "d4916e7cc69b136a",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/eps",
        "topic": "gps/gpsd/eps",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 960,
        "wires": []
    },
    {
        "id": "cae0576fe7221c2f",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/epc",
        "topic": "gps/gpsd/epc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 730,
        "y": 1040,
        "wires": []
    },
    {
        "id": "50f3b730250fcd18",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "status",
        "func": "msg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1120,
        "wires": [
            [
                "fb201e19dd73c099",
                "cbc1c22b555c55b8"
            ]
        ]
    },
    {
        "id": "fb201e19dd73c099",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/status",
        "topic": "gps/gpsd/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fae640eee27d2244",
        "type": "function",
        "z": "68f5aed7cf31f5bb",
        "name": "mode",
        "func": "msg.payload = msg.payload.mode;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "087e5dc059cce631",
                "fb550e0841bd658d"
            ]
        ]
    },
    {
        "id": "087e5dc059cce631",
        "type": "mqtt out",
        "z": "68f5aed7cf31f5bb",
        "name": "gps/gpsd/mode",
        "topic": "gps/gpsd/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 1200,
        "wires": []
    },
    {
        "id": "fc858bb257abb4c5",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/ept",
        "measurement": "gps/gpsd/ept",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "f69dfc2ad46b2985",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/lat",
        "measurement": "gps/gpsd/lat",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "33e0e7838e18bdd2",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/lon",
        "measurement": "gps/gpsd/lon",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "23e2317a6165450e",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/alt",
        "measurement": "gps/gpsd/alt",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "adf6f8f40551692c",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/epx",
        "measurement": "gps/gpsd/epx",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "b58a124d32e81867",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/epy",
        "measurement": "gps/gpsd/epy",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "320dbfb106dcd556",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/epv",
        "measurement": "gps/gpsd/epv",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "2def8e8921b1a026",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/track",
        "measurement": "gps/gpsd/track",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 760,
        "wires": []
    },
    {
        "id": "fb252b84f57129a5",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/speed",
        "measurement": "gps/gpsd/speed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 840,
        "wires": []
    },
    {
        "id": "4c938163ab666020",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/climb",
        "measurement": "gps/gpsd/climb",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 920,
        "wires": []
    },
    {
        "id": "23f20d96b20a80b9",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/eps",
        "measurement": "gps/gpsd/eps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4e25c237004ca6ab",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/epc",
        "measurement": "gps/gpsd/epc",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cbc1c22b555c55b8",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/status",
        "measurement": "gps/gpsd/status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fb550e0841bd658d",
        "type": "influxdb out",
        "z": "68f5aed7cf31f5bb",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gpsd/mode",
        "measurement": "gps/gpsd/mode",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 1240,
        "wires": []
    },
    {
        "id": "2056c3ba0fc247cc",
        "type": "mqtt in",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/message",
        "topic": "gps/gps2/gpsd/message",
        "qos": "1",
        "datatype": "auto",
        "broker": "93dec9dcd2ddee25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "90f5b43c4c54584a",
                "0ebe602871c7e0be"
            ]
        ]
    },
    {
        "id": "90f5b43c4c54584a",
        "type": "debug",
        "z": "b19ea180b2e2472e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "0ebe602871c7e0be",
        "type": "json",
        "z": "b19ea180b2e2472e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "8c9fc1da77811bc6",
                "769d3e0cc1376a7a",
                "2549356ae6daf602",
                "8e70d924b2f018ad",
                "d409f221cd4b5ac9",
                "584f127e541cfe5c",
                "83849c0574d47137",
                "d35c80b9af48fd23",
                "024ebe39ac8658a9",
                "3c994d5ca346b8e5",
                "182b028aee1409e9",
                "c399ed18ad44905d",
                "f473b44ebbb0e3e2",
                "68167aa37662babd",
                "c541a22d2def014f"
            ]
        ]
    },
    {
        "id": "8c9fc1da77811bc6",
        "type": "debug",
        "z": "b19ea180b2e2472e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "769d3e0cc1376a7a",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "ept",
        "func": "msg.payload = msg.payload.ept;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "0499014baf2493ee",
                "ad4667607ef8ef28"
            ]
        ]
    },
    {
        "id": "2549356ae6daf602",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "lat",
        "func": "msg.payload = msg.payload.lat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "54d48cc8e18cf64a",
                "5d987b216d2d593f"
            ]
        ]
    },
    {
        "id": "8e70d924b2f018ad",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "lon",
        "func": "msg.payload = msg.payload.lon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "0f65a3362236136f",
                "8fc3ad321dec6385"
            ]
        ]
    },
    {
        "id": "d409f221cd4b5ac9",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "alt",
        "func": "msg.payload = msg.payload.alt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "1608fffdb6d510f2",
                "a81864e55e442ab3"
            ]
        ]
    },
    {
        "id": "584f127e541cfe5c",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "epx",
        "func": "msg.payload = msg.payload.epx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "d909572d574bba16",
                "c45da2fb51b2eb7d"
            ]
        ]
    },
    {
        "id": "83849c0574d47137",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "epy",
        "func": "msg.payload = msg.payload.epy;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 560,
        "wires": [
            [
                "ef0a725165c58ade",
                "fd57543297055472"
            ]
        ]
    },
    {
        "id": "d35c80b9af48fd23",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "epv",
        "func": "msg.payload = msg.payload.epv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 640,
        "wires": [
            [
                "ca4d34549dd96d41",
                "1c49a622d2fa226d"
            ]
        ]
    },
    {
        "id": "024ebe39ac8658a9",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "track",
        "func": "msg.payload = msg.payload.track;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 720,
        "wires": [
            [
                "8b3ab12786069cce"
            ]
        ]
    },
    {
        "id": "3c994d5ca346b8e5",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "speed",
        "func": "msg.payload = msg.payload.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 800,
        "wires": [
            [
                "9ce2ceae11d0de4a",
                "3e21d68396e2bcfb"
            ]
        ]
    },
    {
        "id": "182b028aee1409e9",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "climb",
        "func": "msg.payload = msg.payload.climb;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 880,
        "wires": [
            [
                "6c1ada97d8f27905",
                "56b4a4ed749d0722"
            ]
        ]
    },
    {
        "id": "c399ed18ad44905d",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "eps",
        "func": "msg.payload = msg.payload.eps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 960,
        "wires": [
            [
                "7a88aa4a33af13bb",
                "4b27f51a7942495a"
            ]
        ]
    },
    {
        "id": "f473b44ebbb0e3e2",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "epc",
        "func": "msg.payload = msg.payload.epc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "877923418dde7255",
                "4b27f51a7942495a"
            ]
        ]
    },
    {
        "id": "4b27f51a7942495a",
        "type": "debug",
        "z": "b19ea180b2e2472e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0499014baf2493ee",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/ept",
        "topic": "gps/gps2/gpsd/ept",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "54d48cc8e18cf64a",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/lat",
        "topic": "gps/gps2/gpsd/lat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "0f65a3362236136f",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/lon",
        "topic": "gps/gps2/gpsd/lon",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "1608fffdb6d510f2",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/alt",
        "topic": "gps/gps2/gpsd/alt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "d909572d574bba16",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/epx",
        "topic": "gps/gps2/gpsd/epx",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "ef0a725165c58ade",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/epy",
        "topic": "gps/gps2/gpsd/epy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "ca4d34549dd96d41",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/epv",
        "topic": "gps/gps2/gpsd/epv",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b3ab12786069cce",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/track",
        "topic": "gps/gps2/gpsd/track",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "9ce2ceae11d0de4a",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/speed",
        "topic": "gps/gps2/gpsd/speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 800,
        "wires": []
    },
    {
        "id": "6c1ada97d8f27905",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/climb",
        "topic": "gps/gps2/gpsd/climb",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 880,
        "wires": []
    },
    {
        "id": "7a88aa4a33af13bb",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/eps",
        "topic": "gps/gps2/gpsd/eps",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 960,
        "wires": []
    },
    {
        "id": "877923418dde7255",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/epc",
        "topic": "gps/gps2/gpsd/epc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 740,
        "y": 1040,
        "wires": []
    },
    {
        "id": "68167aa37662babd",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "status",
        "func": "msg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1120,
        "wires": [
            [
                "e534a912afa41917",
                "aa4a93722a2e250d"
            ]
        ]
    },
    {
        "id": "e534a912afa41917",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/status",
        "topic": "gps/gps2/gpsd/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c541a22d2def014f",
        "type": "function",
        "z": "b19ea180b2e2472e",
        "name": "mode",
        "func": "msg.payload = msg.payload.mode;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "177780c2e2b5c808",
                "05571aae22d6ed6d"
            ]
        ]
    },
    {
        "id": "177780c2e2b5c808",
        "type": "mqtt out",
        "z": "b19ea180b2e2472e",
        "name": "gps/gps2/gpsd/mode",
        "topic": "gps/gps2/gpsd/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ad4667607ef8ef28",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/ept",
        "measurement": "gps/gps2/gpsd/ept",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d987b216d2d593f",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/lat",
        "measurement": "gps/gps2/gpsd/lat",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "8fc3ad321dec6385",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/lon",
        "measurement": "gps/gps2/gpsd/lon",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "a81864e55e442ab3",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/alt",
        "measurement": "gps/gps2/gpsd/alt",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "c45da2fb51b2eb7d",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/epx",
        "measurement": "gps/gps2/gpsd/epx",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "fd57543297055472",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/epy",
        "measurement": "gps/gps2/gpsd/epy",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "1c49a622d2fa226d",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/epv",
        "measurement": "gps/gps2/gpsd/epv",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "e6d69512804af858",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/track",
        "measurement": "gps/gps2/gpsd/track",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 760,
        "wires": []
    },
    {
        "id": "3e21d68396e2bcfb",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/speed",
        "measurement": "gps/gps2/gpsd/speed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 840,
        "wires": []
    },
    {
        "id": "56b4a4ed749d0722",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/climb",
        "measurement": "gps/gps2/gpsd/climb",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 920,
        "wires": []
    },
    {
        "id": "2549a6490f709074",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/eps",
        "measurement": "gps/gps2/gpsd/eps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 1000,
        "wires": []
    },
    {
        "id": "937d11c68cb0035b",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/epc",
        "measurement": "gps/gps2/gpsd/epc",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 740,
        "y": 1080,
        "wires": []
    },
    {
        "id": "aa4a93722a2e250d",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/status",
        "measurement": "gps/gps2/gpsd/status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1160,
        "wires": []
    },
    {
        "id": "05571aae22d6ed6d",
        "type": "influxdb out",
        "z": "b19ea180b2e2472e",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/gps2/gpsd/mode",
        "measurement": "gps/gps2/gpsd/mode",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1240,
        "wires": []
    },
    {
        "id": "875886a40fbf1079",
        "type": "mqtt in",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/message",
        "topic": "gps/zr6aic/gpsd/message",
        "qos": "1",
        "datatype": "auto",
        "broker": "93dec9dcd2ddee25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 540,
        "wires": [
            [
                "57303c00d55b3acf",
                "06d1d7f474ecd744"
            ]
        ]
    },
    {
        "id": "57303c00d55b3acf",
        "type": "debug",
        "z": "71ecae384a7968ba",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 440,
        "wires": []
    },
    {
        "id": "06d1d7f474ecd744",
        "type": "json",
        "z": "71ecae384a7968ba",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "b860ff0496837cf1",
                "e8d435d47c6ec4cd",
                "c73b49c822c3b002",
                "9982e3997cc078ce",
                "af33ce1c3fcf27de",
                "7542d7f2936e9813",
                "8cb64e8b5c9c05a0",
                "99d59e9149423c5e",
                "4d89061cc92e8d90",
                "e60d715ef7718ff9",
                "efac1dabc0f3e6f8",
                "be6c1966cf34b59d",
                "15bcb38a1dc1ae65",
                "137d65b20719218e",
                "87aefaf5aa8bfdf4"
            ]
        ]
    },
    {
        "id": "b860ff0496837cf1",
        "type": "debug",
        "z": "71ecae384a7968ba",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "e8d435d47c6ec4cd",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "ept",
        "func": "msg.payload = msg.payload.ept;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 140,
        "wires": [
            [
                "9afc19fe4cd6a62c",
                "c681ce322fc8afd3"
            ]
        ]
    },
    {
        "id": "c73b49c822c3b002",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "lat",
        "func": "msg.payload = msg.payload.lat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "3deadf2eb8c239f7",
                "a0dcb0211e1b1584"
            ]
        ]
    },
    {
        "id": "9982e3997cc078ce",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "lon",
        "func": "msg.payload = msg.payload.lon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "a8d5a6303f28c690",
                "c7256b93e405b5d6"
            ]
        ]
    },
    {
        "id": "af33ce1c3fcf27de",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "alt",
        "func": "msg.payload = msg.payload.alt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 380,
        "wires": [
            [
                "670f4baf25af3cd2",
                "4b75c013907ef254"
            ]
        ]
    },
    {
        "id": "7542d7f2936e9813",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "epx",
        "func": "msg.payload = msg.payload.epx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 460,
        "wires": [
            [
                "7090f91929679ba7",
                "be9e893045d06cb6"
            ]
        ]
    },
    {
        "id": "8cb64e8b5c9c05a0",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "epy",
        "func": "msg.payload = msg.payload.epy;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 540,
        "wires": [
            [
                "b98159823a446e39",
                "e05bedee295bbc3a"
            ]
        ]
    },
    {
        "id": "99d59e9149423c5e",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "epv",
        "func": "msg.payload = msg.payload.epv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 620,
        "wires": [
            [
                "f5c04f5e58fa3ae6",
                "d1334fbdb871c3da"
            ]
        ]
    },
    {
        "id": "4d89061cc92e8d90",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "track",
        "func": "msg.payload = msg.payload.track;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 700,
        "wires": [
            [
                "4aad182185f32257"
            ]
        ]
    },
    {
        "id": "e60d715ef7718ff9",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "speed",
        "func": "msg.payload = msg.payload.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 780,
        "wires": [
            [
                "fa04b6fc3c113a30",
                "802c3dc82fe8a5e1"
            ]
        ]
    },
    {
        "id": "efac1dabc0f3e6f8",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "climb",
        "func": "msg.payload = msg.payload.climb;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 860,
        "wires": [
            [
                "9bbaee4f5093cf89",
                "4bccece786af99fe"
            ]
        ]
    },
    {
        "id": "be6c1966cf34b59d",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "eps",
        "func": "msg.payload = msg.payload.eps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 940,
        "wires": [
            [
                "32d368db6497f135",
                "a380625910fb782b"
            ]
        ]
    },
    {
        "id": "15bcb38a1dc1ae65",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "epc",
        "func": "msg.payload = msg.payload.epc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "666111fa2734a59a",
                "a380625910fb782b"
            ]
        ]
    },
    {
        "id": "a380625910fb782b",
        "type": "debug",
        "z": "71ecae384a7968ba",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 980,
        "wires": []
    },
    {
        "id": "9afc19fe4cd6a62c",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/ept",
        "topic": "gps/zr6aic/gpsd/ept",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "3deadf2eb8c239f7",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/lat",
        "topic": "gps/zr6aic/gpsd/lat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8d5a6303f28c690",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/lon",
        "topic": "gps/zr6aic/gpsd/lon",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "670f4baf25af3cd2",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/alt",
        "topic": "gps/zr6aic/gpsd/alt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "7090f91929679ba7",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/epx",
        "topic": "gps/zr6aic/gpsd/epx",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "b98159823a446e39",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/epy",
        "topic": "gps/zr6aic/gpsd/epy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "f5c04f5e58fa3ae6",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/epv",
        "topic": "gps/zr6aic/gpsd/epv",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "4aad182185f32257",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/track",
        "topic": "gps/zr6aic/gpsd/track",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "fa04b6fc3c113a30",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/speed",
        "topic": "gps/zr6aic/gpsd/speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 780,
        "wires": []
    },
    {
        "id": "9bbaee4f5093cf89",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/climb",
        "topic": "gps/zr6aic/gpsd/climb",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 860,
        "wires": []
    },
    {
        "id": "32d368db6497f135",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/eps",
        "topic": "gps/zr6aic/gpsd/eps",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "666111fa2734a59a",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/epc",
        "topic": "gps/zr6aic/gpsd/epc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 1020,
        "wires": []
    },
    {
        "id": "137d65b20719218e",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "status",
        "func": "msg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "bb5a37018578b269"
            ]
        ]
    },
    {
        "id": "bb5a37018578b269",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/status",
        "topic": "gps/zr6aic/gpsd/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 1100,
        "wires": []
    },
    {
        "id": "87aefaf5aa8bfdf4",
        "type": "function",
        "z": "71ecae384a7968ba",
        "name": "mode",
        "func": "msg.payload = msg.payload.mode;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1180,
        "wires": [
            [
                "045b28fd37bbc146",
                "cebb1e3e70d720ad"
            ]
        ]
    },
    {
        "id": "045b28fd37bbc146",
        "type": "mqtt out",
        "z": "71ecae384a7968ba",
        "name": "gps/zr6aic/gpsd/mode",
        "topic": "gps/zr6aic/gpsd/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 760,
        "y": 1180,
        "wires": []
    },
    {
        "id": "c681ce322fc8afd3",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/ept",
        "measurement": "gps/zr6aic/gpsd/ept",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "a0dcb0211e1b1584",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/lat",
        "measurement": "gps/zr6aic/gpsd/lat",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "c7256b93e405b5d6",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/lon",
        "measurement": "gps/zr6aic/gpsd/lon",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "4b75c013907ef254",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/alt",
        "measurement": "gps/zr6aic/gpsd/alt",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "be9e893045d06cb6",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/epx",
        "measurement": "gps/zr6aic/gpsd/epx",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "e05bedee295bbc3a",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/epy",
        "measurement": "gps/zr6aic/gpsd/epy",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "d1334fbdb871c3da",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/epv",
        "measurement": "gps/zr6aic/gpsd/epv",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "5180a921a09c52f6",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/track",
        "measurement": "gps/zr6aic/gpsd/track",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "802c3dc82fe8a5e1",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/speed",
        "measurement": "gps/zr6aic/gpsd/speed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "4bccece786af99fe",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/climb",
        "measurement": "gps/zr6aic/gpsd/climb",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 900,
        "wires": []
    },
    {
        "id": "5a5b3af9f13994c0",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/eps",
        "measurement": "gps/zr6aic/gpsd/eps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 980,
        "wires": []
    },
    {
        "id": "d8d928826d85a1a2",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/epc",
        "measurement": "gps/zr6aic/gpsd/epc",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9ed723645a7ba0b2",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/status",
        "measurement": "gps/zr6aic/gpsd/status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cebb1e3e70d720ad",
        "type": "influxdb out",
        "z": "71ecae384a7968ba",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/zr6aic/gpsd/mode",
        "measurement": "gps/zr6aic/gpsd/mode",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1220,
        "wires": []
    },
    {
        "id": "56872674bbf4762f",
        "type": "mqtt in",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/message",
        "topic": "gps/dam/gpsd/message",
        "qos": "1",
        "datatype": "auto",
        "broker": "93dec9dcd2ddee25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "bb0fb90a8a28f18c",
                "70f5d274e2be0adb"
            ]
        ]
    },
    {
        "id": "bb0fb90a8a28f18c",
        "type": "debug",
        "z": "8c3d6325d70c4b7c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "70f5d274e2be0adb",
        "type": "json",
        "z": "8c3d6325d70c4b7c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "13b7aace6ac55665",
                "27f342781101cd85",
                "d640a32b814b8490",
                "6769bdc88862a1f0",
                "9dfba82aad9632b5",
                "7b18dc89bf4e8785",
                "ac9efabeb117ba39",
                "70771b21c52aa6e8",
                "f2b716e733bf974c",
                "9c26fd9e138cc2e3",
                "f971d4693cf56364",
                "a81fc1f0ad525535",
                "08a963de2328b3ec",
                "368bad7a6f5adb12",
                "0d93f8eace3c3b7e"
            ]
        ]
    },
    {
        "id": "13b7aace6ac55665",
        "type": "debug",
        "z": "8c3d6325d70c4b7c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "27f342781101cd85",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "ept",
        "func": "msg.payload = msg.payload.ept;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "8ddc91184eac49a7",
                "b04016c37ef0ef17"
            ]
        ]
    },
    {
        "id": "d640a32b814b8490",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "lat",
        "func": "msg.payload = msg.payload.lat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "0e131e1c8466e8f1",
                "4f9c20ac966c6052"
            ]
        ]
    },
    {
        "id": "6769bdc88862a1f0",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "lon",
        "func": "msg.payload = msg.payload.lon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "81c92efb27267098",
                "fb64a88a8ec9d902"
            ]
        ]
    },
    {
        "id": "9dfba82aad9632b5",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "alt",
        "func": "msg.payload = msg.payload.alt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "f83970dd9d6557f0",
                "670fbb7ba00b2ad5",
                "f47df9a604040e0d"
            ]
        ]
    },
    {
        "id": "7b18dc89bf4e8785",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "epx",
        "func": "msg.payload = msg.payload.epx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "a1dee98140c129cf",
                "c933d3c36f59a78d"
            ]
        ]
    },
    {
        "id": "ac9efabeb117ba39",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "epy",
        "func": "msg.payload = msg.payload.epy;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "c845bf13f9fe038b",
                "9ff50c21aa263708"
            ]
        ]
    },
    {
        "id": "70771b21c52aa6e8",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "epv",
        "func": "msg.payload = msg.payload.epv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 600,
        "wires": [
            [
                "0ab03830d80107da",
                "c4bec23612ab893e"
            ]
        ]
    },
    {
        "id": "f2b716e733bf974c",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "track",
        "func": "msg.payload = msg.payload.track;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "02d30949cae86f06"
            ]
        ]
    },
    {
        "id": "9c26fd9e138cc2e3",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "speed",
        "func": "msg.payload = msg.payload.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 760,
        "wires": [
            [
                "a02eac7c33523aad",
                "2481dfde0c528318"
            ]
        ]
    },
    {
        "id": "f971d4693cf56364",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "climb",
        "func": "msg.payload = msg.payload.climb;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 840,
        "wires": [
            [
                "e77861b2d3ba2d0f",
                "efb8cbda75588dfe"
            ]
        ]
    },
    {
        "id": "a81fc1f0ad525535",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "eps",
        "func": "msg.payload = msg.payload.eps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 920,
        "wires": [
            [
                "b8d77cb1c749b312",
                "53f468a5954f3252"
            ]
        ]
    },
    {
        "id": "08a963de2328b3ec",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "epc",
        "func": "msg.payload = msg.payload.epc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "b31df92ce95ab835",
                "53f468a5954f3252"
            ]
        ]
    },
    {
        "id": "53f468a5954f3252",
        "type": "debug",
        "z": "8c3d6325d70c4b7c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "8ddc91184eac49a7",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/ept",
        "topic": "gps/dam/gpsd/ept",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "0e131e1c8466e8f1",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/lat",
        "topic": "gps/dam/gpsd/lat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "81c92efb27267098",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/lon",
        "topic": "gps/dam/gpsd/lon",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "f83970dd9d6557f0",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/alt",
        "topic": "gps/dam/gpsd/alt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "a1dee98140c129cf",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/epx",
        "topic": "gps/dam/gpsd/epx",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "c845bf13f9fe038b",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/epy",
        "topic": "gps/dam/gpsd/epy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "0ab03830d80107da",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/epv",
        "topic": "gps/dam/gpsd/epv",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "02d30949cae86f06",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/track",
        "topic": "gps/dam/gpsd/track",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "a02eac7c33523aad",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/speed",
        "topic": "gps/dam/gpsd/speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 780,
        "y": 760,
        "wires": []
    },
    {
        "id": "e77861b2d3ba2d0f",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/climb",
        "topic": "gps/dam/gpsd/climb",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "b8d77cb1c749b312",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/eps",
        "topic": "gps/dam/gpsd/eps",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 920,
        "wires": []
    },
    {
        "id": "b31df92ce95ab835",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/epc",
        "topic": "gps/dam/gpsd/epc",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 770,
        "y": 1000,
        "wires": []
    },
    {
        "id": "368bad7a6f5adb12",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "status",
        "func": "msg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1080,
        "wires": [
            [
                "c400f152f731884c",
                "30cc3b200045dd25"
            ]
        ]
    },
    {
        "id": "c400f152f731884c",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/status",
        "topic": "gps/dam/gpsd/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 780,
        "y": 1080,
        "wires": []
    },
    {
        "id": "0d93f8eace3c3b7e",
        "type": "function",
        "z": "8c3d6325d70c4b7c",
        "name": "mode",
        "func": "msg.payload = msg.payload.mode;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "94b82fd993a9fdea",
                "c204bf49475a1aaf"
            ]
        ]
    },
    {
        "id": "94b82fd993a9fdea",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/mode",
        "topic": "gps/dam/gpsd/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93dec9dcd2ddee25",
        "x": 780,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b04016c37ef0ef17",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/ept",
        "measurement": "gps/dam/gpsd/ept",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "4f9c20ac966c6052",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/lat",
        "measurement": "gps/dam/gpsd/lat",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "fb64a88a8ec9d902",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/lon",
        "measurement": "gps/dam/gpsd/lon",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "670fbb7ba00b2ad5",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/alt",
        "measurement": "gps/dam/gpsd/alt",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "c933d3c36f59a78d",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/epx",
        "measurement": "gps/dam/gpsd/epx",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "9ff50c21aa263708",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/epy",
        "measurement": "gps/dam/gpsd/epy",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "c4bec23612ab893e",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/epv",
        "measurement": "gps/dam/gpsd/epv",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "bf5fbff4c8685e64",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/track",
        "measurement": "gps/dam/gpsd/track",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "2481dfde0c528318",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/speed",
        "measurement": "gps/dam/gpsd/speed",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 800,
        "wires": []
    },
    {
        "id": "efb8cbda75588dfe",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/climb",
        "measurement": "gps/dam/gpsd/climb",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 880,
        "wires": []
    },
    {
        "id": "9287df50246af1f4",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/eps",
        "measurement": "gps/dam/gpsd/eps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 960,
        "wires": []
    },
    {
        "id": "54622a2ca71ce55b",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/epc",
        "measurement": "gps/dam/gpsd/epc",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 1040,
        "wires": []
    },
    {
        "id": "30cc3b200045dd25",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/status",
        "measurement": "gps/dam/gpsd/status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c204bf49475a1aaf",
        "type": "influxdb out",
        "z": "8c3d6325d70c4b7c",
        "influxdb": "488c534f4d10a13e",
        "name": "gps/dam/gpsd/mode",
        "measurement": "gps/dam/gpsd/mode",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f47df9a604040e0d",
        "type": "mqtt out",
        "z": "8c3d6325d70c4b7c",
        "name": "gps/dam/gpsd/alt",
        "topic": "status/dam/gpsd/alt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bfae5dc8.1e56d",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c86dcb3f560ece7",
        "type": "udp in",
        "z": "235634fb8d8c8e18",
        "name": "",
        "iface": "",
        "port": "2237",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "8541c40cfc277af7"
            ]
        ]
    },
    {
        "id": "8541c40cfc277af7",
        "type": "debug",
        "z": "235634fb8d8c8e18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 80,
        "wires": []
    }
]