flows_45_devices_20230321.json
[{"id":"23878745.016b48","type":"tab","label":"Devices","disabled":false,"info":""},{"id":"ca3751ff.6f906","type":"inject","z":"23878745.016b48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["9bc2cb44.855cf8"]]},{"id":"6acf0b45.0650e4","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"c64f185d.2578d8","type":"inject","z":"23878745.016b48","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":480,"wires":[["fe81f0c8.f5f07"]]},{"id":"d3da3eb5.f32ed","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":580,"wires":[]},{"id":"fe81f0c8.f5f07","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true};\n} else\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":520,"wires":[["d3da3eb5.f32ed","1f8be5c8.c7e0da"]]},{"id":"e73a5f39.128dc","type":"inject","z":"23878745.016b48","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":520,"wires":[["fe81f0c8.f5f07"]]},{"id":"3f357979.c47556","type":"ui_switch","z":"23878745.016b48","name":"","label":"Light.shack","tooltip":"","group":"1a0ceae3.094b45","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":580,"wires":[["89da6cd0.c749c"]]},{"id":"89da6cd0.c749c","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true };\n} \nif (msg.payload == false)\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":580,"wires":[["d3da3eb5.f32ed","1f8be5c8.c7e0da"]]},{"id":"6983d904.3109c8","type":"ui_slider","z":"23878745.016b48","name":"","label":"Shack Bright","tooltip":"","group":"1a0ceae3.094b45","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"payload","topicType":"msg","min":0,"max":"100","step":"5","x":150,"y":700,"wires":[["8d94be2a.6285f"]]},{"id":"8d94be2a.6285f","type":"function","z":"23878745.016b48","name":"","func":"var brightness = Number (msg.payload);\nmsg.payload = {\"bri\": brightness};    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":700,"wires":[["1f8be5c8.c7e0da","d3da3eb5.f32ed"]]},{"id":"5dd423b6.48b78c","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/light.yeelight.1/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":770,"y":200,"wires":[]},{"id":"26a13d2.cd407c2","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1020,"wires":[]},{"id":"38d1ec80.34cce4","type":"inject","z":"23878745.016b48","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":1000,"wires":[["3f943a0b.201da6"]]},{"id":"3f943a0b.201da6","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true};\n} else\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1020,"wires":[["22d71475.a22aec"]]},{"id":"8129b30d.57a3f","type":"inject","z":"23878745.016b48","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":1040,"wires":[["3f943a0b.201da6"]]},{"id":"a7480034.44649","type":"ui_switch","z":"23878745.016b48","name":"","label":"Switch.1.heat","tooltip":"","group":"1a0ceae3.094b45","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":1100,"wires":[["bffd9933.787488"]]},{"id":"bffd9933.787488","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true };\n} \nif (msg.payload == false)\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1100,"wires":[["22d71475.a22aec"]]},{"id":"784c2fcb.558bf","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/sw.shelly1.1/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":800,"y":1100,"wires":[]},{"id":"1f8be5c8.c7e0da","type":"yeelight-compat-hue-out","z":"23878745.016b48","name":"","server":"35f21005.f0f95","x":720,"y":520,"wires":[]},{"id":"9bc2cb44.855cf8","type":"yeelight-compat-hue-state","z":"23878745.016b48","name":"yeelight.1","server":"35f21005.f0f95","x":380,"y":140,"wires":[["6acf0b45.0650e4","2ce7e203.0819fe","5bb9004a.cf122","92895cd0.ce964"]]},{"id":"22d71475.a22aec","type":"shelly-switch","z":"23878745.016b48","hostname":"192.168.1.141","description":"sw.shelly1.1","pollinginterval":"5000","pollstatus":true,"x":510,"y":1020,"wires":[["26a13d2.cd407c2","a179e858.de3878","784c2fcb.558bf"]]},{"id":"1011bdef.f44f82","type":"comment","z":"23878745.016b48","name":"yeelight smart bulb filament st64 [1]","info":"","x":220,"y":80,"wires":[]},{"id":"ccadb2d6.46d65","type":"comment","z":"23878745.016b48","name":"shelly 1 smart switch [1]","info":"","x":180,"y":940,"wires":[]},{"id":"2ce7e203.0819fe","type":"function","z":"23878745.016b48","name":"","func":"status = msg.payload.state.on;\nif (status == true) \n{\n    msg.payload = 1;\n} else\n{\n    msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["dc59b08d.c627a"]]},{"id":"a179e858.de3878","type":"function","z":"23878745.016b48","name":"","func":"status = msg.payload[0].ison\nif (status == true) \n{\n    msg.payload = 1;\n} else\n{\n    msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1160,"wires":[["6716428a.a1b69c","b8a6282d.569888"]]},{"id":"e3cc0f7e.e2b66","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/light.yeelight.1/on","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":750,"y":320,"wires":[]},{"id":"6716428a.a1b69c","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/sw.shelly1.1/on","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":790,"y":1160,"wires":[]},{"id":"2281ce1b.2398f2","type":"influxdb out","z":"23878745.016b48","influxdb":"56582f14.218fb","name":"status/devices/light.yeelight.1/on","measurement":"status/devices/light.yeelight.1/on","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":280,"wires":[]},{"id":"b8a6282d.569888","type":"influxdb out","z":"23878745.016b48","influxdb":"56582f14.218fb","name":"status/devices/sw.shelly1.1/on","measurement":"status/devices/sw.shelly1.1/on","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":1220,"wires":[]},{"id":"dc59b08d.c627a","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":510,"y":320,"wires":[["2281ce1b.2398f2","e3cc0f7e.e2b66"]]},{"id":"5bb9004a.cf122","type":"function","z":"23878745.016b48","name":"","func":"bright = msg.payload.state.bri;\nmsg.payload = bright;    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":380,"wires":[["59990a9a.2c9a54"]]},{"id":"59990a9a.2c9a54","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":510,"y":440,"wires":[["283d80c.956f58","bb0fa3c0.6faa1"]]},{"id":"283d80c.956f58","type":"mqtt out","z":"23878745.016b48","name":"status/devices/light.yeelight.1/brightness","topic":"status/devices/light.yeelight.1/brightness","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":780,"y":440,"wires":[]},{"id":"bb0fa3c0.6faa1","type":"influxdb out","z":"23878745.016b48","influxdb":"56582f14.218fb","name":"status/devices/light.yeelight.1/brightness","measurement":"status/devices/light.yeelight.1/brightness","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":780,"y":400,"wires":[]},{"id":"92895cd0.ce964","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":510,"y":200,"wires":[["5dd423b6.48b78c"]]},{"id":"43da2161.3dd12","type":"ui_switch","z":"23878745.016b48","name":"","label":"Switch.1.heat","tooltip":"","group":"14f8a078.37047","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":1160,"wires":[["bffd9933.787488"]]},{"id":"67bec142.fcf2f","type":"ui_switch","z":"23878745.016b48","name":"","label":"Light.shack","tooltip":"","group":"14f8a078.37047","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":640,"wires":[["89da6cd0.c749c"]]},{"id":"51aee6c0.88f8b8","type":"link in","z":"23878745.016b48","name":"","links":["c7805fc1.20a5e"],"x":195,"y":760,"wires":[["d913cec9.58cf3"]]},{"id":"d913cec9.58cf3","type":"function","z":"23878745.016b48","name":"","func":"var solar = msg.payload;\nif (solar < 300) \n{\n    msg.payload = {\"on\": true };\n} \nelse\n{\n    if (solar > 350)\n    {\n        msg.payload = {\"on\": false};    \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":760,"wires":[["485bdee5.b62b9"]]},{"id":"485bdee5.b62b9","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":510,"y":760,"wires":[["d3da3eb5.f32ed"]]},{"id":"709b57f2.4b46a8","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1860,"wires":[]},{"id":"557efdc3.fc6c04","type":"shelly-dimmer","z":"23878745.016b48","hostname":"192.168.1.240","description":"Stoeplig","dimmerStat":true,"pollinginterval":5000,"pollstatus":false,"x":540,"y":1860,"wires":[["709b57f2.4b46a8","3028f3a5.9c0b9c","c2d87637.7ed208"]]},{"id":"b8f42254.568f2","type":"inject","z":"23878745.016b48","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":1840,"wires":[["af26d4a3.0260c8"]]},{"id":"af26d4a3.0260c8","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true};\n} else\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1860,"wires":[["557efdc3.fc6c04"]]},{"id":"7e43a8d3.a46818","type":"inject","z":"23878745.016b48","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":1880,"wires":[["af26d4a3.0260c8"]]},{"id":"5374884.0a10f78","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/light.shellyduo.1/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":1960,"wires":[]},{"id":"c2d87637.7ed208","type":"function","z":"23878745.016b48","name":"","func":"status = msg.payload[0].ison\nif (status == true) \n{\n    msg.payload = 1;\n} else\n{\n    msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2020,"wires":[["c5ba3e04.e50ca","b20c8e50.37cb8","9edf3a93.a84ce8"]]},{"id":"c5ba3e04.e50ca","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/light.shellyduo.1/on","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":800,"y":2020,"wires":[]},{"id":"504216ae.f07818","type":"influxdb out","z":"23878745.016b48","influxdb":"56582f14.218fb","name":"status/devices/light.shellyduo.1/on","measurement":"status/devices/light.shellyduo.1/on","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":800,"y":2080,"wires":[]},{"id":"b20c8e50.37cb8","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":2080,"wires":[["504216ae.f07818"]]},{"id":"3028f3a5.9c0b9c","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":550,"y":1960,"wires":[["5374884.0a10f78"]]},{"id":"cf26229f.701eb","type":"ui_slider","z":"23878745.016b48","name":"","label":"Light.Braai","tooltip":"","group":"1a0ceae3.094b45","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"payload","topicType":"msg","min":0,"max":"100","step":"5","x":130,"y":2100,"wires":[["39465378.f8e27c"]]},{"id":"39465378.f8e27c","type":"function","z":"23878745.016b48","name":"","func":"var brightness = Number (msg.payload);\nmsg.payload = {\"brightness\": brightness};    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2100,"wires":[["557efdc3.fc6c04"]]},{"id":"a54f0b47.2d1368","type":"ui_switch","z":"23878745.016b48","name":"","label":"Light.Braai","tooltip":"","group":"1a0ceae3.094b45","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":2020,"wires":[["e9ca213b.acce4"]]},{"id":"e9ca213b.acce4","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true };\n} \nif (msg.payload == false)\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2020,"wires":[["557efdc3.fc6c04"]]},{"id":"9edf3a93.a84ce8","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":2120,"wires":[]},{"id":"e15b76bc.c0b8c8","type":"inject","z":"23878745.016b48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":1800,"wires":[["557efdc3.fc6c04"]]},{"id":"a1738e65.bd8f5","type":"function","z":"23878745.016b48","name":"","func":"var varTemp = msg.payload;\nvar SP = flow.get(\"setpoint\");\nmsg.payload = {\"on\": false}; \nif (varTemp < SP)\n{\n    msg.payload = {\"on\": true };\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1300,"wires":[["41e0195e.6d8608","22d71475.a22aec"]]},{"id":"caca5948.125df8","type":"inject","z":"23878745.016b48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":130,"y":1220,"wires":[["a1738e65.bd8f5"]]},{"id":"af760f89.f0647","type":"inject","z":"23878745.016b48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"22","payloadType":"num","x":130,"y":1260,"wires":[["a1738e65.bd8f5"]]},{"id":"4041d24c.bb2b0c","type":"inject","z":"23878745.016b48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"num","x":130,"y":1300,"wires":[["a1738e65.bd8f5"]]},{"id":"41e0195e.6d8608","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1300,"wires":[]},{"id":"eb3e057d.b75fe8","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1360,"wires":[]},{"id":"c6a28273.605e8","type":"link in","z":"23878745.016b48","name":"","links":["ee3dd814.d84bf8"],"x":195,"y":1360,"wires":[["a1738e65.bd8f5","eb3e057d.b75fe8","a5155e58.85094"]]},{"id":"46f5222e.8a350c","type":"shelly-switch","z":"23878745.016b48","hostname":"192.168.1.144","description":"sw.shelly1.2","pollinginterval":5000,"pollstatus":true,"x":510,"y":1420,"wires":[["415fbca0.349394","1bc83863.c37978"]]},{"id":"a5155e58.85094","type":"function","z":"23878745.016b48","name":"","func":"varTemp = msg.payload;\n//msg.payload = {\"on\": false}; \nif (varTemp > 29)\n{\n    msg.payload = {\"on\": true };\n}\nif (varTemp < 27)\n{\n    msg.payload = {\"on\": false };\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1420,"wires":[["46f5222e.8a350c"]]},{"id":"af5ba870.4edee8","type":"mqtt out","z":"23878745.016b48","name":"status/devices/sw.shelly1.2/status","topic":"status/devices/sw.shelly1.2/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":960,"y":1420,"wires":[]},{"id":"1bc83863.c37978","type":"function","z":"23878745.016b48","name":"","func":"status = msg.payload[0].ison\nif (status == true) \n{\n    msg.payload = 1;\n} else\n{\n    msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1480,"wires":[["9ee22055.44f2","3fd37720.ce9878"]]},{"id":"9ee22055.44f2","type":"mqtt out","z":"23878745.016b48","name":"status/devices/sw.shelly1.2/on","topic":"status/devices/sw.shelly1.2/on","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":950,"y":1480,"wires":[]},{"id":"31363569.07a99a","type":"influxdb out","z":"23878745.016b48","influxdb":"56582f14.218fb","name":"status/devices/sw.shelly1.2/on","measurement":"status/devices/sw.shelly1.2/on","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":1540,"wires":[]},{"id":"3fd37720.ce9878","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":710,"y":1540,"wires":[["31363569.07a99a"]]},{"id":"415fbca0.349394","type":"rbe","z":"23878745.016b48","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":710,"y":1420,"wires":[["af5ba870.4edee8"]]},{"id":"aa0bcdda.68a01","type":"change","z":"23878745.016b48","name":"","rules":[{"t":"set","p":"slideTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1540,"wires":[[]]},{"id":"5220c85.d6aa338","type":"ui_slider","z":"23878745.016b48","name":"","label":"Shack Temp","tooltip":"","group":"1a0ceae3.094b45","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"20","max":"26","step":1,"x":130,"y":1540,"wires":[["aa0bcdda.68a01"]]},{"id":"8232965a.b3ce88","type":"function","z":"23878745.016b48","name":"","func":"var slide = flow.get(\"slideTemp\");\nmsg.payload = slide;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1600,"wires":[["5168793a.453d98"]]},{"id":"c3f5308a.07dec","type":"inject","z":"23878745.016b48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1600,"wires":[["8232965a.b3ce88"]]},{"id":"5168793a.453d98","type":"change","z":"23878745.016b48","name":"","rules":[{"t":"set","p":"setTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1600,"wires":[["7e62c808.3f60a8","76e3da13.4d9004"]]},{"id":"7e62c808.3f60a8","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1640,"wires":[]},{"id":"76e3da13.4d9004","type":"change","z":"23878745.016b48","name":"","rules":[{"t":"set","p":"setpoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1600,"wires":[[]]},{"id":"412eebae.6c2e94","type":"inject","z":"23878745.016b48","name":"startup default","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"21","payloadType":"num","x":160,"y":1500,"wires":[["5220c85.d6aa338"]]},{"id":"bac380b8.909ba","type":"debug","z":"23878745.016b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":2400,"wires":[]},{"id":"71e09f8d.2ecf2","type":"inject","z":"23878745.016b48","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":2380,"wires":[["974b3245.ae132"]]},{"id":"974b3245.ae132","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true};\n} else\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2400,"wires":[["af4d9cdf.48a57"]]},{"id":"c320ae4b.53c13","type":"inject","z":"23878745.016b48","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":2420,"wires":[["974b3245.ae132"]]},{"id":"337cfece.fb1482","type":"ui_switch","z":"23878745.016b48","name":"","label":"Switch.3.hydro","tooltip":"","group":"1a0ceae3.094b45","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":2480,"wires":[["aaf4a6b5.a62778"]]},{"id":"aaf4a6b5.a62778","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true };\n} \nif (msg.payload == false)\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2480,"wires":[["af4d9cdf.48a57"]]},{"id":"6ac2a3e7.2aac3c","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/sw.shelly1.3/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":780,"y":2480,"wires":[]},{"id":"af4d9cdf.48a57","type":"shelly-switch","z":"23878745.016b48","hostname":"192.168.1.145","description":"sw.shelly1.3.hydro","pollinginterval":"5000","pollstatus":true,"x":510,"y":2400,"wires":[["bac380b8.909ba","5230efc6.bb4b7","6ac2a3e7.2aac3c"]]},{"id":"1e7b95b8.cb152a","type":"comment","z":"23878745.016b48","name":"shelly 3 smart switch [3] hydroponics","info":"","x":200,"y":2320,"wires":[]},{"id":"5230efc6.bb4b7","type":"function","z":"23878745.016b48","name":"","func":"status = msg.payload[0].ison\nif (status == true) \n{\n    msg.payload = 1;\n} else\n{\n    msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":2540,"wires":[["a0bfe7da.48b748","ec04543d.2a4638"]]},{"id":"a0bfe7da.48b748","type":"mqtt out","z":"23878745.016b48","name":"","topic":"status/devices/sw.shelly1.3/on","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":770,"y":2540,"wires":[]},{"id":"ec04543d.2a4638","type":"influxdb out","z":"23878745.016b48","influxdb":"56582f14.218fb","name":"status/devices/sw.shelly1.3/on","measurement":"status/devices/sw.shelly1.3/on","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":770,"y":2600,"wires":[]},{"id":"e2c8e15d.0420d","type":"ui_switch","z":"23878745.016b48","name":"","label":"Switch.3.hydro","tooltip":"","group":"14f8a078.37047","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":2540,"wires":[["aaf4a6b5.a62778"]]},{"id":"6b14c05f.6bc33","type":"comment","z":"23878745.016b48","name":"shelly 1 .2 Fan","info":"","x":500,"y":1480,"wires":[]},{"id":"2ca94be9.550734","type":"comment","z":"23878745.016b48","name":"geyser2","info":"","x":110,"y":2740,"wires":[]},{"id":"83c427ff.c07238","type":"inject","z":"23878745.016b48","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":2800,"wires":[["a5677d55.4b355"]]},{"id":"a5677d55.4b355","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true};\n} else\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2820,"wires":[[]]},{"id":"ddcec7f6.fd4d78","type":"inject","z":"23878745.016b48","name":"OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":2840,"wires":[["a5677d55.4b355"]]},{"id":"8713c35d.d0c5f","type":"ui_switch","z":"23878745.016b48","name":"","label":"Switch.2.fan","tooltip":"","group":"1a0ceae3.094b45","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":1460,"wires":[["ed99a73a.e33ea8"]]},{"id":"ed99a73a.e33ea8","type":"function","z":"23878745.016b48","name":"","func":"if (msg.payload == true) \n{\n    msg.payload = {\"on\": true };\n} \nif (msg.payload == false)\n{\n    msg.payload = {\"on\": false};    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1460,"wires":[["46f5222e.8a350c"]]},{"id":"1a0ceae3.094b45","type":"ui_group","name":"Lights","tab":"14cc3ed7.1bee51","order":2,"disp":true,"width":"6","collapse":false},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"35f21005.f0f95","type":"yeelight-compat-hue-config","hostname":"192.168.1.140","port":"55443","name":""},{"id":"56582f14.218fb","type":"influxdb","hostname":"192.168.1.45","port":"8086","protocol":"http","database":"zs6cr","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"14f8a078.37047","type":"ui_group","name":"NodeMCU & Internet","tab":"8d37a358.3a4e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"14cc3ed7.1bee51","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"8d37a358.3a4e8","type":"ui_tab","name":"System Status","icon":"dashboard","disabled":false,"hidden":false}]