flows_45_generator_20230321.json
[{"id":"651835f8.5624cc","type":"tab","label":"Generator","disabled":false,"info":""},{"id":"de7af5df.86e918","type":"mqtt in","z":"651835f8.5624cc","name":"","topic":"generator/runningtime","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":200,"y":680,"wires":[["5cf72291.a6252c"]]},{"id":"5cf72291.a6252c","type":"csv","z":"651835f8.5624cc","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"hr,min,sec","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":680,"wires":[["6207bc52.a929c4","716f4b8d.2f1014","832eb5dd.c7a598"]]},{"id":"cef35cf8.a4065","type":"inject","z":"651835f8.5624cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cccc","payloadType":"str","x":530,"y":160,"wires":[["5b31e16e.eabbc"]]},{"id":"5b31e16e.eabbc","type":"mqtt out","z":"651835f8.5624cc","name":"","topic":"generator/command","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":800,"y":100,"wires":[]},{"id":"1c5ad473.9ebb9c","type":"comment","z":"651835f8.5624cc","name":"Reset service counter by injecting \"cccc\"","info":"","x":260,"y":160,"wires":[]},{"id":"8421872.ed0ef78","type":"inject","z":"651835f8.5624cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0000","payloadType":"str","x":530,"y":100,"wires":[["5b31e16e.eabbc"]]},{"id":"c4a76767.299f38","type":"inject","z":"651835f8.5624cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"mmmm","payloadType":"str","x":530,"y":220,"wires":[["5b31e16e.eabbc"]]},{"id":"bdee1728.858848","type":"comment","z":"651835f8.5624cc","name":"Reset MASTER by injecting \"mmmm\"","info":"","x":270,"y":220,"wires":[]},{"id":"74219e74.c285e","type":"comment","z":"651835f8.5624cc","name":"periodic  \"0000\"","info":"","x":340,"y":100,"wires":[]},{"id":"1de83faa.4ab52","type":"mqtt out","z":"651835f8.5624cc","name":"","topic":"generator/sethours","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":790,"y":480,"wires":[]},{"id":"6e6bf6f1.835f48","type":"inject","z":"651835f8.5624cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setcounter","payloadType":"str","x":540,"y":280,"wires":[["5b31e16e.eabbc"]]},{"id":"dbc1794e.378448","type":"ui_slider","z":"651835f8.5624cc","name":"","label":"hours","tooltip":"","group":"4b60f798.d4fa","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"300","step":1,"x":370,"y":480,"wires":[["1de83faa.4ab52"]]},{"id":"8526be2f.7d61f","type":"comment","z":"651835f8.5624cc","name":"set counter to slider values","info":"","x":310,"y":280,"wires":[]},{"id":"d55bf5f.0831e08","type":"ui_slider","z":"651835f8.5624cc","name":"","label":"minutes","tooltip":"","group":"4b60f798.d4fa","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"59","step":1,"x":360,"y":540,"wires":[["bcda248a.c4d7e8"]]},{"id":"bcda248a.c4d7e8","type":"mqtt out","z":"651835f8.5624cc","name":"","topic":"generator/setminutes","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":800,"y":540,"wires":[]},{"id":"6b66bed5.e9e0d","type":"inject","z":"651835f8.5624cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"setmaster","payloadType":"str","x":540,"y":340,"wires":[["5b31e16e.eabbc"]]},{"id":"b2d65fb8.d0383","type":"comment","z":"651835f8.5624cc","name":"set MASTER to slider values","info":"","x":300,"y":340,"wires":[]},{"id":"9e26f0ce.4f0e7","type":"mqtt in","z":"651835f8.5624cc","name":"","topic":"generator/mastertime","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":200,"y":880,"wires":[["c846c100.c2da3","dce52e06.7cf77"]]},{"id":"c846c100.c2da3","type":"csv","z":"651835f8.5624cc","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"hr,min,sec","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":880,"wires":[["f15fadfc.9a2aa","9c43250b.1eba88","787cac23.5e8d74"]]},{"id":"2a95e044.bff17","type":"inject","z":"651835f8.5624cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"writeall","payloadType":"str","x":530,"y":400,"wires":[["5b31e16e.eabbc"]]},{"id":"6207bc52.a929c4","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["e6db833f.f8a65"]]},{"id":"e6db833f.f8a65","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/run/hours","measurement":"generator/run/hours","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":680,"wires":[]},{"id":"716f4b8d.2f1014","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":720,"wires":[["f13511f9.b6019"]]},{"id":"f13511f9.b6019","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/run/minutes","measurement":"generator/run/minutes","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":720,"wires":[]},{"id":"f15fadfc.9a2aa","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":880,"wires":[["e841fa9b.019ee8"]]},{"id":"e841fa9b.019ee8","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/master/hours","measurement":"generator/master/hours","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":880,"wires":[]},{"id":"9c43250b.1eba88","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":920,"wires":[["6de7a234.5ca75c"]]},{"id":"6de7a234.5ca75c","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/master/minutes","measurement":"generator/master/minutes","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":920,"wires":[]},{"id":"832eb5dd.c7a598","type":"function","z":"651835f8.5624cc","name":"","func":"var hrcalc = Number(msg.payload.hr + (msg.payload.min/60));\nmsg.payload = hrcalc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":760,"wires":[["2ecb1ffb.2226","5a47e8d3.2e1638"]]},{"id":"2ecb1ffb.2226","type":"mqtt out","z":"651835f8.5624cc","name":"generator/runTotalHHhh","topic":"generator/runTotalHHhh","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":930,"y":800,"wires":[]},{"id":"91453c6.9ad97c","type":"mqtt out","z":"651835f8.5624cc","name":"generator/masterTotalHHhh","topic":"generator/masterTotalHHhh","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":940,"y":1000,"wires":[]},{"id":"787cac23.5e8d74","type":"function","z":"651835f8.5624cc","name":"","func":"var hrcalc = Number(msg.payload.hr + (msg.payload.min/60));\nmsg.payload = hrcalc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":960,"wires":[["4b7f7274.e3eafc","91453c6.9ad97c"]]},{"id":"4b7f7274.e3eafc","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/master/HHhh","measurement":"generator/master/HHhh","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":960,"wires":[]},{"id":"5a47e8d3.2e1638","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/run/HHhh","measurement":"generator/run/HHhh","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":760,"wires":[]},{"id":"dce52e06.7cf77","type":"Message Counter","z":"651835f8.5624cc","name":"","units":"minutes","interval":"2","alignToClock":true,"generator":"internal","x":410,"y":1100,"wires":[["355956d7.1ea80a"],[]]},{"id":"355956d7.1ea80a","type":"function","z":"651835f8.5624cc","name":"","func":"var cntl = (msg.payload);\nif (cntl >0)\n{\n        msg.payload = 1;\n}\nelse\n{\n        msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1100,"wires":[["9e3e48ef.664b88","72526db2.f7f9c4","61fb8865.1c1db8"]]},{"id":"9e3e48ef.664b88","type":"mqtt out","z":"651835f8.5624cc","name":"generator/activeStatus","topic":"generator/activeStatus","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":920,"y":1140,"wires":[]},{"id":"72526db2.f7f9c4","type":"influxdb out","z":"651835f8.5624cc","influxdb":"cd839b2b.295008","name":"generator/activeStatus","measurement":"generator/activeStatus","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":920,"y":1100,"wires":[]},{"id":"d8efb950.75bf88","type":"mqtt in","z":"651835f8.5624cc","name":"","topic":"generator/sessiontime","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":200,"y":1420,"wires":[["7cba9bdc.e79884"]]},{"id":"7cba9bdc.e79884","type":"csv","z":"651835f8.5624cc","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"hr,min,sec","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":1420,"wires":[["6872f398.e6934c","bb8d33f6.55e38","b0a72b87.3426c8"]]},{"id":"6872f398.e6934c","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1420,"wires":[["28f75879.557d28"]]},{"id":"28f75879.557d28","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/session/hours","measurement":"generator/session/hours","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":1420,"wires":[]},{"id":"bb8d33f6.55e38","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1460,"wires":[["1f2d0119.8f18ff"]]},{"id":"1f2d0119.8f18ff","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/session/minutes","measurement":"generator/session/minutes","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":1460,"wires":[]},{"id":"6cf87591.4331dc","type":"mqtt out","z":"651835f8.5624cc","name":"generator/sessionTotalHHhh","topic":"generator/sessionTotalHHhh","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":940,"y":1540,"wires":[]},{"id":"b0a72b87.3426c8","type":"function","z":"651835f8.5624cc","name":"","func":"var hrcalc = Number(msg.payload.hr + (msg.payload.min/60));\nmsg.payload = hrcalc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1500,"wires":[["392c23cb.acfb8c","6cf87591.4331dc"]]},{"id":"392c23cb.acfb8c","type":"influxdb out","z":"651835f8.5624cc","influxdb":"56582f14.218fb","name":"generator/session/HHhh","measurement":"generator/session/HHhh","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":930,"y":1500,"wires":[]},{"id":"6b5b5c22.c1d314","type":"link in","z":"651835f8.5624cc","name":"","links":["b178be35.641ce"],"x":215,"y":1200,"wires":[["807f0f79.b07c7"]]},{"id":"61fb8865.1c1db8","type":"function","z":"651835f8.5624cc","name":"","func":"var kwh_instant = flow.get(\"kwh\");\nvar kwh_day_total = flow.get(\"kwh_day\")\nvar gen_running = msg.payload;\nmsg.payload = (kwh_day_total + (gen_running * kwh_instant)/60);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1200,"wires":[["3c77a882.7eb7a8","d13f0264.bf87","bfa08fe.01f8b7"]]},{"id":"807f0f79.b07c7","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"kwh","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1200,"wires":[[]]},{"id":"3c77a882.7eb7a8","type":"mqtt out","z":"651835f8.5624cc","name":"generator/kWh","topic":"generator/kWh","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":900,"y":1200,"wires":[]},{"id":"391474e.9acad8c","type":"inject","z":"651835f8.5624cc","name":"day reset","props":[{"p":"payload"}],"repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":1260,"wires":[["869be3d6.25341"]]},{"id":"869be3d6.25341","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"kwh_day","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1260,"wires":[[]]},{"id":"d13f0264.bf87","type":"change","z":"651835f8.5624cc","name":"","rules":[{"t":"set","p":"kwh_day","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1300,"wires":[[]]},{"id":"bfa08fe.01f8b7","type":"debug","z":"651835f8.5624cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1340,"wires":[]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4b60f798.d4fa","type":"ui_group","name":"Generator Running Counter","tab":"d26542f1.9ab5","order":null,"disp":true,"width":"11","collapse":false},{"id":"56582f14.218fb","type":"influxdb","hostname":"192.168.1.45","port":"8086","protocol":"http","database":"zs6cr","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"d26542f1.9ab5","type":"ui_tab","name":"Generator","icon":"dashboard","disabled":false,"hidden":false}]