flows_45_loadshedding_20230321.json
[{"id":"8572c1b4.0f9b3","type":"tab","label":"Load shedding","disabled":false,"info":""},{"id":"9395fb3f.25abd8","type":"inject","z":"8572c1b4.0f9b3","name":"5 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"num","x":150,"y":100,"wires":[["bb1d1cb6.20cee"]]},{"id":"bb1d1cb6.20cee","type":"http request","z":"8572c1b4.0f9b3","name":"Get stage from Eskom API","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://loadshedding.eskom.co.za/LoadShedding/GetStatus?_=1578576949822","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":100,"wires":[["6e0e494f.7e91b8"]]},{"id":"6e0e494f.7e91b8","type":"function","z":"8572c1b4.0f9b3","name":"Save stage","func":"var response = msg.payload;\nif (isNaN(response)) return null; // abort\n\nvar stage = parseInt(response, 10) - 1; // 1 = \"no loadshedding\", 2 = stage 1, ...\nif (stage < 0 || stage > 8) return null;\nflow.set('stage', stage);\nmsg.payload = stage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":160,"wires":[["b5c58212.397a7","49b7fc85.145584","666b837f.76b8ac","fae59ad5.a97c18"]]},{"id":"b5c58212.397a7","type":"mqtt out","z":"8572c1b4.0f9b3","name":"status/loadshedding/stage","topic":"status/loadshedding/stage","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":670,"y":200,"wires":[]},{"id":"49b7fc85.145584","type":"rbe","z":"8572c1b4.0f9b3","name":"Detect change","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":640,"y":260,"wires":[["9d7f2fa5.2bc9b","f65c326f.bf61c"]]},{"id":"9d7f2fa5.2bc9b","type":"mqtt out","z":"8572c1b4.0f9b3","name":"Publish change","topic":"status/loadshedding/stage/updated","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":840,"y":260,"wires":[]},{"id":"666b837f.76b8ac","type":"debug","z":"8572c1b4.0f9b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"fae59ad5.a97c18","type":"influxdb out","z":"8572c1b4.0f9b3","influxdb":"56582f14.218fb","name":"status/loadshedding/stage","measurement":"status/loadshedding/stage","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":670,"y":160,"wires":[]},{"id":"e795c0e0.309dc","type":"mqtt in","z":"8572c1b4.0f9b3","name":"","topic":"Misc/ls/gert_ls_time","qos":"1","datatype":"auto","broker":"76e7f063.83b2","nl":false,"rap":true,"rh":0,"x":170,"y":400,"wires":[["5c8f57f3.e8c568","922fd6dc.812ed8"]]},{"id":"5c8f57f3.e8c568","type":"influxdb out","z":"8572c1b4.0f9b3","influxdb":"56582f14.218fb","name":"status/loadshedding/next","measurement":"status/loadshedding/next","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":670,"y":400,"wires":[]},{"id":"f65c326f.bf61c","type":"change","z":"8572c1b4.0f9b3","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Loadshedding","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":320,"wires":[["7bae512.f9adeb"]]},{"id":"7bae512.f9adeb","type":"link out","z":"8572c1b4.0f9b3","name":"notify_loadshed","links":["6e54afc.3f9425"],"x":775,"y":320,"wires":[]},{"id":"ad9cace3.8198f","type":"link out","z":"8572c1b4.0f9b3","name":"loadshed_next","links":["14b61141.13532f"],"x":775,"y":440,"wires":[]},{"id":"922fd6dc.812ed8","type":"rbe","z":"8572c1b4.0f9b3","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":450,"y":440,"wires":[["202015ff.e144da"]]},{"id":"202015ff.e144da","type":"change","z":"8572c1b4.0f9b3","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Loadshedding Next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":440,"wires":[["ad9cace3.8198f"]]},{"id":"42a85733.b69258","type":"inject","z":"8572c1b4.0f9b3","name":"5min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":150,"y":740,"wires":[["e5ea4309.0c2e6"]]},{"id":"e5ea4309.0c2e6","type":"http request","z":"8572c1b4.0f9b3","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.poweralert.co.za/PowerAlertAPI/api/PowerAlertForecast/CurrentSystemStatus?callback=maintainCurrentStatus","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":740,"wires":[["c6d36d17.4dd65"]]},{"id":"68650bee.a1bfd4","type":"debug","z":"8572c1b4.0f9b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":620,"wires":[]},{"id":"c6d36d17.4dd65","type":"csv","z":"8572c1b4.0f9b3","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":430,"y":880,"wires":[["1806162.02862ea","68650bee.a1bfd4","d059e576.d16948","234961a9.905a2e"]]},{"id":"d6e0a3f.edbf66","type":"comment","z":"8572c1b4.0f9b3","name":"get eskom production values","info":"","x":200,"y":620,"wires":[]},{"id":"53506654.7db2f8","type":"debug","z":"8572c1b4.0f9b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":740,"wires":[]},{"id":"1806162.02862ea","type":"function","z":"8572c1b4.0f9b3","name":"","func":"msg.payload = msg.payload[0].col8\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":680,"wires":[["5a385108.3ae99"]]},{"id":"5a385108.3ae99","type":"csv","z":"8572c1b4.0f9b3","name":"","sep":":","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":850,"y":680,"wires":[["92267268.62087"]]},{"id":"92267268.62087","type":"function","z":"8572c1b4.0f9b3","name":"","func":"msg.payload = msg.payload[0].col2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":740,"wires":[["53506654.7db2f8","476468f5.30c7a8","c840ad53.f5152","61c4552c.d888bc"]]},{"id":"476468f5.30c7a8","type":"mqtt out","z":"8572c1b4.0f9b3","name":"status/loadshedding/declaredAvailability","topic":"status/loadshedding/declaredAvailability","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":960,"y":780,"wires":[]},{"id":"25d8b223.9d68de","type":"debug","z":"8572c1b4.0f9b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1000,"wires":[]},{"id":"d059e576.d16948","type":"function","z":"8572c1b4.0f9b3","name":"","func":"msg.payload = msg.payload[0].col9\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":940,"wires":[["c73bb865.adefc8"]]},{"id":"c73bb865.adefc8","type":"csv","z":"8572c1b4.0f9b3","name":"","sep":":","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":850,"y":940,"wires":[["93a9310a.0326"]]},{"id":"93a9310a.0326","type":"function","z":"8572c1b4.0f9b3","name":"","func":"msg.payload = msg.payload[0].col2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1000,"wires":[["25d8b223.9d68de","c03ab729.8fed98","3f99a52f.6bc89a","9a6b9c83.1a84a"]]},{"id":"c03ab729.8fed98","type":"mqtt out","z":"8572c1b4.0f9b3","name":"status/loadshedding/loadForecast","topic":"status/loadshedding/loadForecast","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":940,"y":1040,"wires":[]},{"id":"372a7cca.3c7ba4","type":"debug","z":"8572c1b4.0f9b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1320,"wires":[]},{"id":"234961a9.905a2e","type":"function","z":"8572c1b4.0f9b3","name":"","func":"msg.payload = msg.payload[0].col10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1200,"wires":[["df2daf96.be43e"]]},{"id":"df2daf96.be43e","type":"csv","z":"8572c1b4.0f9b3","name":"","sep":":","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":850,"y":1200,"wires":[["eee42225.12401"]]},{"id":"eee42225.12401","type":"function","z":"8572c1b4.0f9b3","name":"","func":"msg.payload = msg.payload[0].col2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1260,"wires":[["33af3f3d.ca0c6"]]},{"id":"504f20c3.bd1c3","type":"mqtt out","z":"8572c1b4.0f9b3","name":"status/loadshedding/maxAvailability","topic":"status/loadshedding/maxAvailability","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":940,"y":1360,"wires":[]},{"id":"4fc6b7e3.8c0dc8","type":"comment","z":"8572c1b4.0f9b3","name":"Declared Availability","info":"","x":1050,"y":680,"wires":[]},{"id":"ff3dd15e.111c8","type":"comment","z":"8572c1b4.0f9b3","name":"Load Forecast","info":"","x":1030,"y":940,"wires":[]},{"id":"9c1df8fc.513248","type":"comment","z":"8572c1b4.0f9b3","name":"Max Availability","info":"","x":1040,"y":1200,"wires":[]},{"id":"fa95bd0b.801b","type":"influxdb out","z":"8572c1b4.0f9b3","influxdb":"cd839b2b.295008","name":"status/loadshedding/declaredAvailability","measurement":"status/loadshedding/declaredAvailability","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":880,"wires":[]},{"id":"ec5a356d.6e9c48","type":"influxdb out","z":"8572c1b4.0f9b3","influxdb":"cd839b2b.295008","name":"status/loadshedding/loadForecast","measurement":"status/loadshedding/loadForecast","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":1140,"wires":[]},{"id":"33af3f3d.ca0c6","type":"csv","z":"8572c1b4.0f9b3","name":"","sep":"}","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":850,"y":1260,"wires":[["7054737e.90275c"]]},{"id":"7054737e.90275c","type":"function","z":"8572c1b4.0f9b3","name":"","func":"msg.payload = msg.payload[0].col1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1320,"wires":[["372a7cca.3c7ba4","504f20c3.bd1c3","db417b0a.b2c9c8","86d0b258.6be9c"]]},{"id":"e1ffb194.b4051","type":"influxdb out","z":"8572c1b4.0f9b3","influxdb":"cd839b2b.295008","name":"status/loadshedding/maxAvailability","measurement":"status/loadshedding/maxAvailability","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":1460,"wires":[]},{"id":"db417b0a.b2c9c8","type":"json","z":"8572c1b4.0f9b3","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":1460,"wires":[["e1ffb194.b4051"]]},{"id":"3f99a52f.6bc89a","type":"json","z":"8572c1b4.0f9b3","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":1140,"wires":[["ec5a356d.6e9c48"]]},{"id":"c840ad53.f5152","type":"json","z":"8572c1b4.0f9b3","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":880,"wires":[["fa95bd0b.801b"]]},{"id":"61c4552c.d888bc","type":"change","z":"8572c1b4.0f9b3","name":"","rules":[{"t":"set","p":"declaredAvailability","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":840,"wires":[[]]},{"id":"9a6b9c83.1a84a","type":"change","z":"8572c1b4.0f9b3","name":"","rules":[{"t":"set","p":"loadForecast","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1100,"wires":[[]]},{"id":"86d0b258.6be9c","type":"change","z":"8572c1b4.0f9b3","name":"","rules":[{"t":"set","p":"maxAvailability","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1420,"wires":[[]]},{"id":"40622f9.1352dd","type":"inject","z":"8572c1b4.0f9b3","name":"1min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1560,"wires":[["9b13254.03139d8","44e247f1.62f3f8"]]},{"id":"9b13254.03139d8","type":"function","z":"8572c1b4.0f9b3","name":"","func":"var decAv = flow.get(\"declaredAvailability\");\nvar loadfor = flow.get(\"loadForecast\");\nvar maxAv = flow.get(\"maxAvailability\");\nmsg.payload = decAv - loadfor;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1560,"wires":[["291dbb28.ee82c4","97248164.4da14","f766c331.dab84"]]},{"id":"291dbb28.ee82c4","type":"debug","z":"8572c1b4.0f9b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1560,"wires":[]},{"id":"f766c331.dab84","type":"mqtt out","z":"8572c1b4.0f9b3","name":"status/loadshedding/availableExcess","topic":"status/loadshedding/availableExcess","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":950,"y":1600,"wires":[]},{"id":"97248164.4da14","type":"json","z":"8572c1b4.0f9b3","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":1660,"wires":[["36495aac.e00896"]]},{"id":"36495aac.e00896","type":"influxdb out","z":"8572c1b4.0f9b3","influxdb":"cd839b2b.295008","name":"status/loadshedding/availableExcess","measurement":"status/loadshedding/availableExcess","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":1660,"wires":[]},{"id":"9cf2b565.cec338","type":"comment","z":"8572c1b4.0f9b3","name":"calc Excess Availability","info":"","x":200,"y":1500,"wires":[]},{"id":"87179b2d.4a5ff8","type":"comment","z":"8572c1b4.0f9b3","name":"calc EAF%","info":"","x":160,"y":1740,"wires":[]},{"id":"44e247f1.62f3f8","type":"function","z":"8572c1b4.0f9b3","name":"","func":"var decAv = flow.get(\"declaredAvailability\");\nmsg.payload = ((decAv/46000)*100);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1740,"wires":[["1c213142.87805f","7f7bd0a9.40584","bb896d22.a727b"]]},{"id":"1c213142.87805f","type":"debug","z":"8572c1b4.0f9b3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1740,"wires":[]},{"id":"bb896d22.a727b","type":"mqtt out","z":"8572c1b4.0f9b3","name":"status/loadshedding/eaf","topic":"status/loadshedding/eaf","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":910,"y":1780,"wires":[]},{"id":"7f7bd0a9.40584","type":"json","z":"8572c1b4.0f9b3","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":1840,"wires":[["f9a7ac7a.b13f7"]]},{"id":"f9a7ac7a.b13f7","type":"influxdb out","z":"8572c1b4.0f9b3","influxdb":"cd839b2b.295008","name":"status/loadshedding/eaf","measurement":"status/loadshedding/eaf","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":910,"y":1840,"wires":[]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"56582f14.218fb","type":"influxdb","hostname":"192.168.1.45","port":"8086","protocol":"http","database":"zs6cr","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"76e7f063.83b2","type":"mqtt-broker","name":"GertB","broker":"gertb.homeip.net","port":"41883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false}]