flows_45_efergy_20230321.json
[{"id":"9be333e5.ddee6","type":"tab","label":"Efergy","disabled":false,"info":""},{"id":"edd701e0.37922","type":"comment","z":"9be333e5.ddee6","name":"Efergy - Get Power Consumption","info":"Get and Put Sensor data","x":190,"y":180,"wires":[]},{"id":"ceaa9cf4.0ab4e8","type":"http request","z":"9be333e5.ddee6","name":"Efergy Data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://engage.efergy.com/mobile_proxy/getInstant?token=jogCfxE0UQ_oNG-2usMh1vA8fXqTPSe6","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":320,"wires":[["d2ffc2c8.f52098","7aab8152.8d2538","1ea1bbd4.052c2c","b46ebc68.6c4b1"]]},{"id":"d2ffc2c8.f52098","type":"json","z":"9be333e5.ddee6","name":"","x":310,"y":400,"wires":[["901a2241.07a458"]]},{"id":"9e3b3b0c.24d6b8","type":"debug","z":"9be333e5.ddee6","name":"Time","active":false,"console":"false","complete":"payload.last_reading_time","x":670,"y":360,"wires":[]},{"id":"9f401d7a.63a2d","type":"debug","z":"9be333e5.ddee6","name":"Age [s]","active":false,"console":"false","complete":"payload.age","x":450,"y":320,"wires":[]},{"id":"7aab8152.8d2538","type":"json","z":"9be333e5.ddee6","name":"","x":310,"y":360,"wires":[["31853774.f62718"]]},{"id":"1ea1bbd4.052c2c","type":"json","z":"9be333e5.ddee6","name":"","property":"payload","action":"","pretty":false,"x":310,"y":320,"wires":[["9f401d7a.63a2d"]]},{"id":"31853774.f62718","type":"function","z":"9be333e5.ddee6","name":"Time Compiler","func":"var date = new Date(msg.payload.last_reading_time);\nmsg.payload.last_reading_time = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["9e3b3b0c.24d6b8"]]},{"id":"901a2241.07a458","type":"function","z":"9be333e5.ddee6","name":"Extract \"reading\"","func":"var power = { payload: msg.payload.reading };\nreturn power;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":400,"wires":[["36f1aa0d.fa96ce"]]},{"id":"a606f91c.cdff78","type":"debug","z":"9be333e5.ddee6","name":"Power [kW]","active":false,"console":"false","complete":"payload","x":690,"y":540,"wires":[]},{"id":"36f1aa0d.fa96ce","type":"range","z":"9be333e5.ddee6","minin":"0","maxin":"1000","minout":"0","maxout":"1","action":"scale","round":false,"property":"payload","name":"Scaler","x":490,"y":460,"wires":[["a606f91c.cdff78","110224d0.1219db","4c5e79f9.939df8","36094077.a9139","72115aa8.f280f4","b178be35.641ce"]]},{"id":"c23a79a2.257328","type":"inject","z":"9be333e5.ddee6","name":"1min - Ping","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["ceaa9cf4.0ab4e8"]]},{"id":"4c5e79f9.939df8","type":"influxdb out","z":"9be333e5.ddee6","influxdb":"cd839b2b.295008","name":"elec/efergy/total_kW","measurement":"elec/efergy/total_kW","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":640,"wires":[]},{"id":"110224d0.1219db","type":"mqtt out","z":"9be333e5.ddee6","name":"elec/efergy/total","topic":"elec/efergy/total_kW","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":700,"y":580,"wires":[]},{"id":"36094077.a9139","type":"ui_chart","z":"9be333e5.ddee6","name":"Mains Power","group":"14f8a078.37047","order":17,"width":0,"height":0,"label":"Mains Power","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"waiting for inject...","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":460,"wires":[[]]},{"id":"72115aa8.f280f4","type":"ui_text","z":"9be333e5.ddee6","group":"14f8a078.37047","order":18,"width":0,"height":0,"name":"","label":"Mains Power","format":"{{value | number: 3}}","layout":"row-spread","x":690,"y":500,"wires":[]},{"id":"b46ebc68.6c4b1","type":"debug","z":"9be333e5.ddee6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":440,"wires":[]},{"id":"b178be35.641ce","type":"link out","z":"9be333e5.ddee6","name":"kwh_1min","links":["6b5b5c22.c1d314"],"x":635,"y":680,"wires":[]},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14f8a078.37047","type":"ui_group","name":"NodeMCU & Internet","tab":"8d37a358.3a4e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"8d37a358.3a4e8","type":"ui_tab","name":"System Status","icon":"dashboard","disabled":false,"hidden":false}]