flows_45_idsalarm_20230321.json
[{"id":"4c67e1d5.8c685","type":"tab","label":"IDSalarm","disabled":false,"info":""},{"id":"3838f7ec.f677f8","type":"serial in","z":"4c67e1d5.8c685","name":"","serial":"82482976.c6d848","x":120,"y":140,"wires":[["b5513e1e.8e2a2"]]},{"id":"b5513e1e.8e2a2","type":"csv","z":"4c67e1d5.8c685","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"id,d1,d2,d3,d4,d5,d6,d7,Bypass1,Bypass0,Active1,Active0,d12,d13,d14","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":270,"y":140,"wires":[["15929d7d.0f73a3","437c579c.e83588","f1ac9141.709c4","709ba0c7.1d4f5","ec6e7de4.513b5","4120d046.db1d7"]]},{"id":"437c579c.e83588","type":"debug","z":"4c67e1d5.8c685","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"e8fc1c3d.b9215","type":"debug","z":"4c67e1d5.8c685","name":"ch8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":480,"wires":[]},{"id":"15929d7d.0f73a3","type":"change","z":"4c67e1d5.8c685","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Bypass0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["6fea1d25.99db84","3ef60781.ca8ee8","930c2247.4b949"]]},{"id":"3ef78089.df846","type":"debug","z":"4c67e1d5.8c685","name":"ch1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"f1ac9141.709c4","type":"change","z":"4c67e1d5.8c685","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Bypass1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":540,"wires":[["fde2b81.fadd848","c81be3c1.2059d","cc8b97ed.4506c8"]]},{"id":"3ef60781.ca8ee8","type":"function","z":"4c67e1d5.8c685","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":140,"wires":[["a1ddcd22.4a15a"]]},{"id":"a1ddcd22.4a15a","type":"debug","z":"4c67e1d5.8c685","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"89b2002d.a9586","type":"debug","z":"4c67e1d5.8c685","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":540,"wires":[]},{"id":"c81be3c1.2059d","type":"function","z":"4c67e1d5.8c685","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":540,"wires":[["89b2002d.a9586"]]},{"id":"6b530256.8a2fac","type":"debug","z":"4c67e1d5.8c685","name":"ch2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":240,"wires":[]},{"id":"2247a102.fbdaae","type":"debug","z":"4c67e1d5.8c685","name":"ch3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"2f3e96cd.24e39a","type":"debug","z":"4c67e1d5.8c685","name":"ch4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"e6e0bdd7.4c389","type":"debug","z":"4c67e1d5.8c685","name":"ch5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":360,"wires":[]},{"id":"96eeb6be.cb0428","type":"debug","z":"4c67e1d5.8c685","name":"ch6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":400,"wires":[]},{"id":"2ed782be.848c5e","type":"debug","z":"4c67e1d5.8c685","name":"ch7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":440,"wires":[]},{"id":"4109d5f3.2071ec","type":"debug","z":"4c67e1d5.8c685","name":"ch16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":880,"wires":[]},{"id":"74d63a36.9bdec4","type":"debug","z":"4c67e1d5.8c685","name":"ch9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":600,"wires":[]},{"id":"6a3b98c0.5e9f78","type":"debug","z":"4c67e1d5.8c685","name":"ch10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":640,"wires":[]},{"id":"503d109e.513de","type":"debug","z":"4c67e1d5.8c685","name":"ch11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":680,"wires":[]},{"id":"746eea9d.5c9064","type":"debug","z":"4c67e1d5.8c685","name":"ch12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":720,"wires":[]},{"id":"4c7bbad1.042a04","type":"debug","z":"4c67e1d5.8c685","name":"ch13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":760,"wires":[]},{"id":"b8805cea.ac674","type":"debug","z":"4c67e1d5.8c685","name":"ch14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":800,"wires":[]},{"id":"7b443519.ab6b5c","type":"debug","z":"4c67e1d5.8c685","name":"ch15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":840,"wires":[]},{"id":"68996957.522948","type":"debug","z":"4c67e1d5.8c685","name":"ch8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1380,"wires":[]},{"id":"709ba0c7.1d4f5","type":"change","z":"4c67e1d5.8c685","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Active0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1040,"wires":[["fb474371.bcfb1","a90f61bd.2cc69","dfba2700.9bc088"]]},{"id":"6eeb06ee.649bb8","type":"debug","z":"4c67e1d5.8c685","name":"ch1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1100,"wires":[]},{"id":"ec6e7de4.513b5","type":"change","z":"4c67e1d5.8c685","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Active1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1440,"wires":[["aff53e5b.30131","1a7d8443.e3015c","bd94d95d.8d2b58","b31640ac.ff6bf"]]},{"id":"fb474371.bcfb1","type":"function","z":"4c67e1d5.8c685","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1040,"wires":[["d06fc909.eaccb8"]]},{"id":"d06fc909.eaccb8","type":"debug","z":"4c67e1d5.8c685","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1040,"wires":[]},{"id":"eb6cef80.9d73c","type":"debug","z":"4c67e1d5.8c685","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1440,"wires":[]},{"id":"1a7d8443.e3015c","type":"function","z":"4c67e1d5.8c685","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1440,"wires":[["eb6cef80.9d73c"]]},{"id":"b4fbff5.b209b","type":"debug","z":"4c67e1d5.8c685","name":"ch2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1140,"wires":[]},{"id":"2ddc1c7a.ae8284","type":"debug","z":"4c67e1d5.8c685","name":"ch3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1180,"wires":[]},{"id":"89618360.5b05a","type":"debug","z":"4c67e1d5.8c685","name":"ch4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1220,"wires":[]},{"id":"ee07755.ac93988","type":"debug","z":"4c67e1d5.8c685","name":"ch5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1260,"wires":[]},{"id":"de42c2b3.a8a83","type":"debug","z":"4c67e1d5.8c685","name":"ch6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1300,"wires":[]},{"id":"b9c56ad3.15a938","type":"debug","z":"4c67e1d5.8c685","name":"ch7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1340,"wires":[]},{"id":"862997c3.d5eef8","type":"debug","z":"4c67e1d5.8c685","name":"ch16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2140,"wires":[]},{"id":"63b1dab9.56bf14","type":"debug","z":"4c67e1d5.8c685","name":"ch9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1860,"wires":[]},{"id":"639ddb0c.a82b64","type":"debug","z":"4c67e1d5.8c685","name":"ch10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1900,"wires":[]},{"id":"49e3c894.55ae88","type":"debug","z":"4c67e1d5.8c685","name":"ch11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1940,"wires":[]},{"id":"62a5fe92.554a4","type":"debug","z":"4c67e1d5.8c685","name":"ch12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1980,"wires":[]},{"id":"a9c5c305.5dfbb","type":"debug","z":"4c67e1d5.8c685","name":"ch13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2020,"wires":[]},{"id":"6e09fb4b.653c84","type":"debug","z":"4c67e1d5.8c685","name":"ch14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2060,"wires":[]},{"id":"196c4bbe.26b3c4","type":"debug","z":"4c67e1d5.8c685","name":"ch15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2100,"wires":[]},{"id":"930c2247.4b949","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass0","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":680,"y":100,"wires":[]},{"id":"cc8b97ed.4506c8","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":680,"y":500,"wires":[]},{"id":"dfba2700.9bc088","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/active0","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":670,"y":980,"wires":[]},{"id":"bd94d95d.8d2b58","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/active1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":670,"y":1380,"wires":[]},{"id":"4120d046.db1d7","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/message","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":460,"y":40,"wires":[]},{"id":"6fea1d25.99db84","type":"bit-sixteen","z":"4c67e1d5.8c685","name":"bypass0","x":480,"y":300,"wires":[["3ef78089.df846","304034bd.2458cc"],["6b530256.8a2fac","706006c7.ae1178"],["2247a102.fbdaae","e655b7ea.3a78b8"],["2f3e96cd.24e39a","db7e509a.bbd6d"],["e6e0bdd7.4c389","797a0a89.2a6ca4"],["96eeb6be.cb0428","b16a24df.96b7f8"],["2ed782be.848c5e","728f14c9.30479c"],["e8fc1c3d.b9215","696ff755.abdd58"],[],[],[],[],[],[],[],[]]},{"id":"fde2b81.fadd848","type":"bit-sixteen","z":"4c67e1d5.8c685","name":"bypass1","x":480,"y":700,"wires":[["74d63a36.9bdec4","301abdf7.63cfa2"],["6a3b98c0.5e9f78"],["503d109e.513de","95ed7c40.ec26c"],["746eea9d.5c9064","f51abfca.8d9b"],["4c7bbad1.042a04","8c1a07da.4fce18"],["b8805cea.ac674"],["7b443519.ab6b5c"],["4109d5f3.2071ec"],[],[],[],[],[],[],[],[]]},{"id":"aff53e5b.30131","type":"bit-sixteen","z":"4c67e1d5.8c685","name":"active1","x":420,"y":1960,"wires":[["63b1dab9.56bf14"],["639ddb0c.a82b64"],["49e3c894.55ae88"],["62a5fe92.554a4"],["a9c5c305.5dfbb"],["6e09fb4b.653c84"],["196c4bbe.26b3c4"],["862997c3.d5eef8"],[],[],[],[],[],[],[],[]]},{"id":"a90f61bd.2cc69","type":"bit-sixteen","z":"4c67e1d5.8c685","name":"active0","x":660,"y":1200,"wires":[["6eeb06ee.649bb8"],["b4fbff5.b209b"],["2ddc1c7a.ae8284"],["89618360.5b05a"],["ee07755.ac93988"],["de42c2b3.a8a83"],["b9c56ad3.15a938"],["68996957.522948"],[],[],[],[],[],[],[],[]]},{"id":"304034bd.2458cc","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":180,"wires":[]},{"id":"706006c7.ae1178","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch2","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":220,"wires":[]},{"id":"e655b7ea.3a78b8","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch3","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":260,"wires":[]},{"id":"db7e509a.bbd6d","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch4","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":300,"wires":[]},{"id":"797a0a89.2a6ca4","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch5","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":340,"wires":[]},{"id":"b16a24df.96b7f8","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch6","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":380,"wires":[]},{"id":"728f14c9.30479c","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch7","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":420,"wires":[]},{"id":"696ff755.abdd58","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch8","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":460,"wires":[]},{"id":"301abdf7.63cfa2","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch9","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":580,"wires":[]},{"id":"95ed7c40.ec26c","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch11","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":660,"wires":[]},{"id":"f51abfca.8d9b","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch12","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":700,"wires":[]},{"id":"8c1a07da.4fce18","type":"mqtt out","z":"4c67e1d5.8c685","name":"","topic":"alarm/bypass/ch13","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":740,"wires":[]},{"id":"b31640ac.ff6bf","type":"function","z":"4c67e1d5.8c685","name":"","func":"var bitch1 = 0;\nbitch1 = (msg.payload & 1)\nif (bitch1 > 0){\n    bitch1 = 1;\n} else {\n    bitch1 = 0;\n}\nvar bitch2 = 0;\nbitch2 = (msg.payload & 1)\nif (bitch2 > 0){\n    bitch2 = 1;\n} else {\n    bitch2 = 0;\n}\nvar bitch3 = 0;\nbitch3 = (msg.payload & 1)\nif (bitch3 > 0){\n    bitch3 = 1;\n} else {\n    bitch3 = 0;\n}\nvar bitch4 = 0;\nbitch4 = (msg.payload & 1)\nif (bitch4 > 0){\n    bitch4 = 1;\n} else {\n    bitch4 = 0;\n}\nvar bitch5 = 0;\nbitch5 = (msg.payload & 1)\nif (bitch5 > 0){\n    bitch5 = 1;\n} else {\n    bitch5 = 0;\n}\nvar bitch6 = 0;\nbitch6 = (msg.payload & 1)\nif (bitch6 > 0){\n    bitch6 = 1;\n} else {\n    bitch6 = 0;\n}\nvar bitch7 = 0;\nbitch7 = (msg.payload & 1)\nif (bitch7 > 0){\n    bitch7 = 1;\n} else {\n    bitch7 = 0;\n}\nvar bitch8 = 0;\nbitch8 = (msg.payload & 1)\nif (bitch8 > 0){\n    bitch8 = 1;\n} else {\n    bitch8 = 0;\n}\n\nvar ch1 = { payload: bitch1 };\nvar ch2 = { payload: bitch2 };\nvar ch3 = { payload: bitch3 };\nvar ch4 = { payload: bitch4 };\nvar ch5 = { payload: bitch5 };\nvar ch6 = { payload: bitch6 };\nvar ch7 = { payload: bitch7 };\nvar ch8 = { payload: bitch8 };\n\nreturn [ [ ch1, ch2, ch3, ch4, ch5, ch6, ch7 ], ch8 ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1540,"wires":[["a5b99474.550e18"]]},{"id":"a5b99474.550e18","type":"debug","z":"4c67e1d5.8c685","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1540,"wires":[]},{"id":"82482976.c6d848","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]