flows_45_wxdelta_20230321.json
[{"id":"7c2c003d.2a4b5","type":"tab","label":"wxDelta","disabled":false,"info":""},{"id":"32fc09a.ac275f6","type":"mqtt in","z":"7c2c003d.2a4b5","name":"WI_Gert/daily_rain","topic":"WI_Gert/daily_rain","qos":"1","datatype":"auto","broker":"d5e862ae.e5639","nl":false,"rap":true,"rh":0,"x":150,"y":300,"wires":[["9a906841.ec3518","1a7ce726.e38749"]]},{"id":"7f4e7038.cc69c","type":"debug","z":"7c2c003d.2a4b5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"17d4f66b.fb3cea","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/rainDiff_mm","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":800,"y":240,"wires":[]},{"id":"8a0fec1.6bf8b1","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/rainDiff_mm","measurement":"weather/rainDiff_mm","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":800,"y":200,"wires":[]},{"id":"3b3aa72f.d83148","type":"debug","z":"7c2c003d.2a4b5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":540,"wires":[]},{"id":"494fa353.e921ac","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/rainRateDiff_mm","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":620,"wires":[]},{"id":"db2a1152.e32df","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/rainRateDiff_mm","measurement":"weather/rainRateDiff_mm","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":810,"y":580,"wires":[]},{"id":"e4fa6ced.5a356","type":"mqtt in","z":"7c2c003d.2a4b5","name":"WI_Gert/rain_rate","topic":"WI_Gert/rain_rate","qos":"1","datatype":"auto","broker":"d5e862ae.e5639","nl":false,"rap":true,"rh":0,"x":150,"y":680,"wires":[["8212b22f.dd137","ff1b8d56.45778"]]},{"id":"817a652d.63d768","type":"link in","z":"7c2c003d.2a4b5","name":"","links":["cfb9f8cd.5d4d68"],"x":215,"y":60,"wires":[["ffc85b28.a15f48"]]},{"id":"997af618.325148","type":"link in","z":"7c2c003d.2a4b5","name":"","links":["bed53574.8eabf8"],"x":215,"y":440,"wires":[["18a51186.c6196e"]]},{"id":"7de0506b.23f5b","type":"debug","z":"7c2c003d.2a4b5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":920,"wires":[]},{"id":"c2f204df.b7e2a8","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/barometerDiff_mbar","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":820,"y":1000,"wires":[]},{"id":"55b589d5.f95028","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/barometerDiff_mbar","measurement":"weather/barometerDiff_mbar","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":960,"wires":[]},{"id":"83d6b029.9f167","type":"mqtt in","z":"7c2c003d.2a4b5","name":"WI_Gert/baro","topic":"WI_Gert/baro","qos":"1","datatype":"auto","broker":"d5e862ae.e5639","nl":false,"rap":true,"rh":0,"x":130,"y":1060,"wires":[["95708a27.a3c8c8","7a9f75f0.8ba94c"]]},{"id":"22158be9.cb9c74","type":"link in","z":"7c2c003d.2a4b5","name":"","links":["594c30d6.b8505"],"x":215,"y":820,"wires":[["139af153.4d4ebf"]]},{"id":"b62b29bc.4ad0c8","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/outTempDiff_C","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":1380,"wires":[]},{"id":"1d9eeb76.a30425","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/outTempDiff_C","measurement":"weather/outTempDiff_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":810,"y":1340,"wires":[]},{"id":"212fa316.13385c","type":"mqtt in","z":"7c2c003d.2a4b5","name":"WI_Gert/out_temp","topic":"WI_Gert/out_temp","qos":"1","datatype":"auto","broker":"d5e862ae.e5639","nl":false,"rap":true,"rh":0,"x":150,"y":1440,"wires":[["2dca9326.d2867c","f110df91.654a6"]]},{"id":"d1558bdb.f86648","type":"link in","z":"7c2c003d.2a4b5","name":"","links":["4fc81934.301998"],"x":215,"y":1200,"wires":[["56fada54.8ba704"]]},{"id":"56fada54.8ba704","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"tempC","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1240,"wires":[["461f5df5.235354"]]},{"id":"2dca9326.d2867c","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"tempG","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1400,"wires":[["4adc1f65.2e4a"]]},{"id":"b94f2eeb.ef82","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var otc = Number(msg.payload);\nmsg.payload = otc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1280,"wires":[["156eef.160ab112"]]},{"id":"54660904.414438","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var otg = Number(msg.payload);\nmsg.payload = otg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1360,"wires":[["156eef.160ab112"]]},{"id":"156eef.160ab112","type":"join","z":"7c2c003d.2a4b5","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":1320,"wires":[["af57a753.1c1138"]]},{"id":"af57a753.1c1138","type":"csv","z":"7c2c003d.2a4b5","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"outTempC, outTempG","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":570,"y":1320,"wires":[["dffd92e9.a4df"]]},{"id":"dffd92e9.a4df","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var out10 = msg.payload.outTempC;\nvar out20 = msg.payload.outTempG;\nvar out0 = out10 - out20;\nmsg.payload = out0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1360,"wires":[["c1efb72e.cb2d08","b62b29bc.4ad0c8","1d9eeb76.a30425"]]},{"id":"c1efb72e.cb2d08","type":"debug","z":"7c2c003d.2a4b5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1300,"wires":[]},{"id":"139af153.4d4ebf","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"baroC","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":860,"wires":[["4e6c0171.65797"]]},{"id":"95708a27.a3c8c8","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"baroG","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1020,"wires":[["beffade4.d03bc"]]},{"id":"88b9fe1a.c3535","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var barc = Number(msg.payload);\nmsg.payload = barc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":900,"wires":[["d5150530.a70978"]]},{"id":"c592d2cf.380c7","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var barg = Number(msg.payload);\nmsg.payload = barg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":980,"wires":[["d5150530.a70978"]]},{"id":"d5150530.a70978","type":"join","z":"7c2c003d.2a4b5","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":940,"wires":[["f2449dc5.943ff"]]},{"id":"f2449dc5.943ff","type":"csv","z":"7c2c003d.2a4b5","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"baroC, baroG","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":570,"y":940,"wires":[["f8df8dbf.232e2"]]},{"id":"f8df8dbf.232e2","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var out10 = msg.payload.baroC;\nvar out20 = msg.payload.baroG;\nvar out0 = out10 - out20;\nmsg.payload = out0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":980,"wires":[["7de0506b.23f5b","55b589d5.f95028","c2f204df.b7e2a8"]]},{"id":"18a51186.c6196e","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"rateC","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":480,"wires":[["e5b980.64e3568"]]},{"id":"8212b22f.dd137","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"rateG","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":640,"wires":[["f6d03194.0275b"]]},{"id":"454a14df.90261c","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var ratec = Number(msg.payload);\nmsg.payload = ratec;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":520,"wires":[["185d9803.14b168"]]},{"id":"5c0107ed.4a7da8","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var rateg = Number(msg.payload);\nmsg.payload = rateg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":600,"wires":[["185d9803.14b168"]]},{"id":"185d9803.14b168","type":"join","z":"7c2c003d.2a4b5","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":560,"wires":[["930587af.1f6f48"]]},{"id":"930587af.1f6f48","type":"csv","z":"7c2c003d.2a4b5","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"rateC, rateG","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":570,"y":560,"wires":[["98bb5e28.2d4ca"]]},{"id":"98bb5e28.2d4ca","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var out10 = msg.payload.rateC;\nvar out20 = msg.payload.rateG;\nvar out0 = out10 - out20;\nmsg.payload = out0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":600,"wires":[["3b3aa72f.d83148","db2a1152.e32df","494fa353.e921ac"]]},{"id":"ffc85b28.a15f48","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"rainC","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":100,"wires":[["1e1fa204.eed62e"]]},{"id":"9a906841.ec3518","type":"change","z":"7c2c003d.2a4b5","name":"","rules":[{"t":"set","p":"rainG","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":260,"wires":[["3fc9358d.1286ca"]]},{"id":"1e1fa204.eed62e","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":140,"wires":[["f5051061.eec5f"]]},{"id":"f5051061.eec5f","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var rainc = Number(msg.payload);\nmsg.payload = rainc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":140,"wires":[["9a0712a.6a962f"]]},{"id":"681f348e.79eddc","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var raing = Number(msg.payload);\nmsg.payload = raing;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["9a0712a.6a962f"]]},{"id":"9a0712a.6a962f","type":"join","z":"7c2c003d.2a4b5","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":180,"wires":[["baef8d5.176c57"]]},{"id":"baef8d5.176c57","type":"csv","z":"7c2c003d.2a4b5","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"rainC, rainG","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":570,"y":180,"wires":[["93bd7f23.d4323"]]},{"id":"93bd7f23.d4323","type":"function","z":"7c2c003d.2a4b5","name":"","func":"var out10 = msg.payload.rainC;\nvar out20 = msg.payload.rainG;\nvar out0 = out10 - out20;\n\nmsg.payload = out0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":220,"wires":[["7f4e7038.cc69c","8a0fec1.6bf8b1","17d4f66b.fb3cea"]]},{"id":"2ddbf081.b1aaa","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/GB/dayRain_mm","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":340,"wires":[]},{"id":"709814e8.1988ec","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/GB/dayRain_mm","measurement":"weather/GB/dayRain_mm","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":810,"y":300,"wires":[]},{"id":"96149684.f0cda8","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/GB/rainRate_mm_per_hour","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":850,"y":720,"wires":[]},{"id":"d267cc1a.cb283","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/GB/rainRate_mm_per_hour","measurement":"weather/GB/rainRate_mm_per_hour","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":850,"y":680,"wires":[]},{"id":"1a7ce726.e38749","type":"json","z":"7c2c003d.2a4b5","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":300,"wires":[["709814e8.1988ec","2ddbf081.b1aaa"]]},{"id":"ff1b8d56.45778","type":"json","z":"7c2c003d.2a4b5","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":680,"wires":[["d267cc1a.cb283","96149684.f0cda8"]]},{"id":"7a9f75f0.8ba94c","type":"json","z":"7c2c003d.2a4b5","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":1060,"wires":[["b15a6444.c31218","971a994a.390fe8"]]},{"id":"f110df91.654a6","type":"json","z":"7c2c003d.2a4b5","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":1440,"wires":[["105b20ed.e41e8f","54da166e.71ea98"]]},{"id":"971a994a.390fe8","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/GB/barometer_mbar","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":820,"y":1100,"wires":[]},{"id":"b15a6444.c31218","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/GB/barometer_mbar","measurement":"weather/GB/barometer_mbar","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":1060,"wires":[]},{"id":"54da166e.71ea98","type":"mqtt out","z":"7c2c003d.2a4b5","name":"","topic":"weather/GB/outTemp_C","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":1480,"wires":[]},{"id":"105b20ed.e41e8f","type":"influxdb out","z":"7c2c003d.2a4b5","influxdb":"cd839b2b.295008","name":"weather/GB/outTemp_C","measurement":"weather/GB/outTemp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":810,"y":1440,"wires":[]},{"id":"3fc9358d.1286ca","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":220,"wires":[["681f348e.79eddc"]]},{"id":"e5b980.64e3568","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":520,"wires":[["454a14df.90261c"]]},{"id":"f6d03194.0275b","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":600,"wires":[["5c0107ed.4a7da8"]]},{"id":"4e6c0171.65797","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":900,"wires":[["88b9fe1a.c3535"]]},{"id":"beffade4.d03bc","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":980,"wires":[["c592d2cf.380c7"]]},{"id":"461f5df5.235354","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":1280,"wires":[["b94f2eeb.ef82"]]},{"id":"4adc1f65.2e4a","type":"delay","z":"7c2c003d.2a4b5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":1360,"wires":[["54660904.414438"]]},{"id":"d5e862ae.e5639","type":"mqtt-broker","name":"gertb-wx","broker":"gertb.homeip.net","port":"31883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false}]