flows_46_water_20230321.json
[{"id":"a3ab827.d1d778","type":"tab","label":"Water & Other","disabled":false,"info":""},{"id":"bd677223.e3193","type":"mqtt in","z":"a3ab827.d1d778","name":"","topic":"test/loopBackOut","qos":"1","datatype":"auto","broker":"bfae5dc8.1e56d","nl":false,"rap":true,"rh":0,"x":120,"y":360,"wires":[["7651bed6.739a5"]]},{"id":"7651bed6.739a5","type":"ui_gauge","z":"a3ab827.d1d778","name":"","group":"bd7cd5b4.8e4d98","order":2,"width":0,"height":0,"gtype":"gage","title":"LoopBackOut","label":"counts","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":360,"wires":[]},{"id":"3b40a830.9972b8","type":"ui_slider","z":"a3ab827.d1d778","name":"","label":"LoopBackIn","tooltip":"","group":"bd7cd5b4.8e4d98","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"1000","step":1,"x":110,"y":300,"wires":[["64d6ce8f.3848d"]]},{"id":"64d6ce8f.3848d","type":"mqtt out","z":"a3ab827.d1d778","name":"","topic":"test/loopBackIn","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":560,"y":300,"wires":[]},{"id":"c6aa2c2c.f7697","type":"mqtt in","z":"a3ab827.d1d778","name":"","topic":"water/pressure_bar","qos":"1","datatype":"auto","broker":"bfae5dc8.1e56d","nl":false,"rap":true,"rh":0,"x":130,"y":120,"wires":[["f202c08e.d68e3","9109c30f.8d72e"]]},{"id":"f202c08e.d68e3","type":"debug","z":"a3ab827.d1d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"9109c30f.8d72e","type":"smooth","z":"a3ab827.d1d778","name":"","property":"payload","action":"low","count":"5","round":"","mult":"single","reduce":false,"x":340,"y":180,"wires":[["79532c2c.5e7da4","d9b773f8.38263"]]},{"id":"79532c2c.5e7da4","type":"debug","z":"a3ab827.d1d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"b603432.5e43cc","type":"mqtt in","z":"a3ab827.d1d778","name":"","topic":"GB_A_water/pressure_bar","qos":"0","datatype":"auto","broker":"522887c2.8f7608","nl":false,"rap":true,"rh":0,"x":150,"y":440,"wires":[["cb264d9a.cdaee","7882c978.ab7898"]]},{"id":"cb264d9a.cdaee","type":"debug","z":"a3ab827.d1d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"7882c978.ab7898","type":"smooth","z":"a3ab827.d1d778","name":"","property":"payload","action":"low","count":"5","round":"","mult":"single","reduce":false,"x":400,"y":460,"wires":[["507c9b5f.6b86c4"]]},{"id":"507c9b5f.6b86c4","type":"ui_chart","z":"a3ab827.d1d778","name":"","group":"5047efca.6031d","order":2,"width":0,"height":0,"label":"ZS6GC Water Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"12","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":440,"wires":[[]]},{"id":"d9b773f8.38263","type":"ui_chart","z":"a3ab827.d1d778","name":"","group":"5047efca.6031d","order":1,"width":0,"height":0,"label":"Water Pressure Smoothed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"12","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":240,"wires":[[]]},{"id":"bfae5dc8.1e56d","type":"mqtt-broker","name":"zs6cr-rpi-mqtt","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"100","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bd7cd5b4.8e4d98","type":"ui_group","name":"Loopback & Water","tab":"f8e48a5e.ceb3c8","order":2,"disp":true,"width":7,"collapse":false},{"id":"522887c2.8f7608","type":"mqtt-broker","name":"deb","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5047efca.6031d","type":"ui_group","name":"Water","tab":"f8e48a5e.ceb3c8","order":3,"disp":true,"width":8,"collapse":false},{"id":"f8e48a5e.ceb3c8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]