flows_45_network_20230321.json
[{"id":"dc4e9f9a.4df2e","type":"tab","label":"Network","disabled":false,"info":""},{"id":"29863705.3934e8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"cornelius.homeip.net","timer":"60","inputs":0,"x":210,"y":140,"wires":[["1857e760.dbf809","14012de.3279ad2","d508209f.e984f"]]},{"id":"b0b27c34.acaa9","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"gertb.homeip.net","timer":"60","inputs":0,"x":200,"y":620,"wires":[["ebcef942.33a338","edff49f5.f0bcd8","f78097dc.9d6ef8"]]},{"id":"4d911496.fe6a0c","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"zs6bam.homeip.net","timer":"300","inputs":0,"x":210,"y":860,"wires":[["a853beba.68813","f5aeff44.b7a35"]]},{"id":"35426f91.8db0f","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"192.168.1.47","timer":"240","inputs":0,"x":190,"y":1000,"wires":[["80e80587.69df28","baf6bb45.930d08"]]},{"id":"1857e760.dbf809","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":8,"width":0,"height":0,"name":"","label":"cornelius.homeip.net","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":140,"wires":[]},{"id":"ebcef942.33a338","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":9,"width":0,"height":0,"name":"","label":"gertb.homeip.net","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":620,"wires":[]},{"id":"a853beba.68813","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":10,"width":0,"height":0,"name":"","label":"zs6bam.homeip.net","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":860,"wires":[]},{"id":"80e80587.69df28","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":11,"width":0,"height":0,"name":"","label":"zs6cr-rpi-brew","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":1000,"wires":[]},{"id":"14012de.3279ad2","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/cornelius","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":630,"y":180,"wires":[]},{"id":"edff49f5.f0bcd8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/gertb","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":510,"y":660,"wires":[]},{"id":"f5aeff44.b7a35","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/zs6bam","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":520,"y":900,"wires":[]},{"id":"baf6bb45.930d08","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/brew","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":510,"y":1040,"wires":[]},{"id":"d508209f.e984f","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var internetOn = (msg.payload);\nif (internetOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":240,"wires":[["7a5df9f3.7572e8"]]},{"id":"e6eb78bb.d9ded8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/internetOn","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":630,"y":280,"wires":[]},{"id":"649144fb.e1258c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/internet/internetOn","measurement":"status/internet/internetOn","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":630,"y":240,"wires":[]},{"id":"f78097dc.9d6ef8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var internetOn = (msg.payload);\nif (internetOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":720,"wires":[["e63105.274ecef8"]]},{"id":"c574afb4.a4484","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/internet/GertbOn","topic":"status/internet/GertbOn","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":590,"y":760,"wires":[]},{"id":"f5a9d58e.c63f78","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/internet/GertbOn","measurement":"status/internet/GertbOn","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":720,"wires":[]},{"id":"320573d3.f065fc","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"192.168.1.101","timer":"240","inputs":0,"x":190,"y":1120,"wires":[["129799f2.2e4f96","6ccd9499.52104c","9c168165.c592"]]},{"id":"129799f2.2e4f96","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":13,"width":0,"height":0,"name":"","label":"vm-deb","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":1120,"wires":[]},{"id":"6ccd9499.52104c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/vm-debOn","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":530,"y":1160,"wires":[]},{"id":"1a8b0a5f.526a16","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"192.168.1.99","timer":"240","inputs":0,"x":190,"y":1500,"wires":[["5897f6f7.b9d478","859f838f.811cf","28527af5.e61de6"]]},{"id":"5897f6f7.b9d478","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":14,"width":0,"height":0,"name":"","label":"PE1950iii","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":1500,"wires":[]},{"id":"859f838f.811cf","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/pe1950iii","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":530,"y":1540,"wires":[]},{"id":"22af2efd.73fab2","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"192.168.1.100","timer":"240","inputs":0,"x":190,"y":1300,"wires":[["fea109ee.a5f0b8","89f3feac.717b","f1a7d7b8.af4ab8"]]},{"id":"fea109ee.a5f0b8","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":12,"width":0,"height":0,"name":"","label":"vm-rpi","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1300,"wires":[]},{"id":"89f3feac.717b","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/vm-rpi","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":520,"y":1340,"wires":[]},{"id":"9c168165.c592","type":"link out","z":"dc4e9f9a.4df2e","name":"ping101","links":["a056b760.5132b8"],"x":435,"y":1220,"wires":[]},{"id":"f1a7d7b8.af4ab8","type":"link out","z":"dc4e9f9a.4df2e","name":"ping100","links":["5bb8e7b4.d33b88"],"x":435,"y":1400,"wires":[]},{"id":"28527af5.e61de6","type":"link out","z":"dc4e9f9a.4df2e","name":"ping99","links":["a23b443f.087868"],"x":435,"y":1600,"wires":[]},{"id":"4aef2f91.df141","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"192.168.1.59","timer":"240","inputs":0,"x":190,"y":2060,"wires":[["7858af5d.f1054","9cfc815c.f9352","413aa74b.fcbbc8"]]},{"id":"7858af5d.f1054","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":15,"width":0,"height":0,"name":"","label":"hubble","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2060,"wires":[]},{"id":"9cfc815c.f9352","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/hubble","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":520,"y":2100,"wires":[]},{"id":"413aa74b.fcbbc8","type":"link out","z":"dc4e9f9a.4df2e","name":"ping59","links":["7dd077f9.638fb8"],"x":435,"y":2160,"wires":[]},{"id":"634635bc.f4de0c","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"192.168.1.51","timer":"240","inputs":0,"x":190,"y":2220,"wires":[["24605699.04f19a","d5951f25.912a1","5e10f960.6d7f58"]]},{"id":"24605699.04f19a","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":16,"width":0,"height":0,"name":"","label":"molly","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2220,"wires":[]},{"id":"d5951f25.912a1","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/molly","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":520,"y":2260,"wires":[]},{"id":"5e10f960.6d7f58","type":"link out","z":"dc4e9f9a.4df2e","name":"ping51","links":["daec1e8c.f127"],"x":435,"y":2320,"wires":[]},{"id":"5985c279.b671ec","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"192.168.1.98","timer":"240","inputs":0,"x":190,"y":1660,"wires":[["3a349e42.e197f2","1c601900.868a07","d2ac21ea.1ebcd"]]},{"id":"3a349e42.e197f2","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":14,"width":0,"height":0,"name":"","label":"kepler","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1660,"wires":[]},{"id":"1c601900.868a07","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/kepler","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":520,"y":1700,"wires":[]},{"id":"d2ac21ea.1ebcd","type":"link out","z":"dc4e9f9a.4df2e","name":"ping98","links":["175a3368.7b44cd"],"x":435,"y":1760,"wires":[]},{"id":"4b696017.d9e29","type":"ping","z":"dc4e9f9a.4df2e","protocol":"IPv4","mode":"timed","name":"","host":"192.168.1.16","timer":"70","inputs":0,"x":190,"y":1820,"wires":[["1c8dbc40.4cc794","709b384f.8f03e8","99a029eb.d396e8","30c42f2.f9eded"]]},{"id":"1c8dbc40.4cc794","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":14,"width":0,"height":0,"name":"","label":"nas16","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1820,"wires":[]},{"id":"709b384f.8f03e8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/nas16","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":520,"y":1860,"wires":[]},{"id":"99a029eb.d396e8","type":"link out","z":"dc4e9f9a.4df2e","name":"ping16","links":["136e43a8.d61a8c","b4c0f5f.46b0608"],"x":435,"y":1920,"wires":[]},{"id":"30c42f2.f9eded","type":"debug","z":"dc4e9f9a.4df2e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1960,"wires":[]},{"id":"be136d01.1b7bf","type":"comment","z":"dc4e9f9a.4df2e","name":"infrastructure","info":"","x":150,"y":2400,"wires":[]},{"id":"435aedcf.6d6d14","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"","host":"10.35.205.1","timer":"300","inputs":0,"x":190,"y":2460,"wires":[["d77b8176.b550f","7ee573d6.09c51c","6aa3e787.0fdff8"]]},{"id":"d77b8176.b550f","type":"ui_text","z":"dc4e9f9a.4df2e","group":"14f8a078.37047","order":8,"width":0,"height":0,"name":"","label":"tower access point","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":2460,"wires":[]},{"id":"7ee573d6.09c51c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/tower","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":580,"y":2500,"wires":[]},{"id":"6aa3e787.0fdff8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2540,"wires":[["9b3ea769.deb888","4521aca3.8943e4"]]},{"id":"4521aca3.8943e4","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/internet/towerOn","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":590,"y":2600,"wires":[]},{"id":"9b3ea769.deb888","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/internet/towerOn","measurement":"status/internet/towerOn","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":2560,"wires":[]},{"id":"17bce0b5.5db13f","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.15","host":"192.168.1.15","timer":"780","inputs":0,"x":190,"y":2660,"wires":[["a865ea4e.cac9b8"]]},{"id":"a865ea4e.cac9b8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2660,"wires":[["6dba968e.960268"]]},{"id":"8bc2a975.4a5f38","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"","topic":"status/network/ip15","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":2700,"wires":[]},{"id":"3ee1723b.4d606e","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip15","measurement":"status/network/ip15","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":2660,"wires":[]},{"id":"c9eaa6ff.94e918","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.16","host":"192.168.1.16","timer":"780","inputs":0,"x":190,"y":2760,"wires":[["31506573.1b2cda"]]},{"id":"31506573.1b2cda","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2760,"wires":[["85203186.0ab14"]]},{"id":"63ad1336.cbacbc","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip16","topic":"status/network/ip16","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":2800,"wires":[]},{"id":"918d2787.4f6418","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip16","measurement":"status/network/ip16","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":2760,"wires":[]},{"id":"e83d71a2.1bad4","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.16","host":"192.168.1.16","timer":"780","inputs":0,"x":190,"y":2860,"wires":[["9fab3083.d2c0a"]]},{"id":"9fab3083.d2c0a","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2860,"wires":[["a9a5fa82.d4adc8"]]},{"id":"f698ef02.2692a","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip16","topic":"status/network/ip16","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":2900,"wires":[]},{"id":"bd009fa8.a9e87","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip16","measurement":"status/network/ip16","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":2860,"wires":[]},{"id":"96ce35bb.15f3a8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.18","host":"192.168.1.18","timer":"780","inputs":0,"x":190,"y":2960,"wires":[["a3cd1910.638068"]]},{"id":"a3cd1910.638068","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2960,"wires":[["c8da8529.df0628"]]},{"id":"c45593e2.e8f63","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip18","topic":"status/network/ip18","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3000,"wires":[]},{"id":"b298cbaa.4e4c78","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip18","measurement":"status/network/ip18","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":2960,"wires":[]},{"id":"d58ce4ae.9b30b8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.24","host":"192.168.1.24","timer":"780","inputs":0,"x":190,"y":3040,"wires":[["8ab6a2c.f90286"]]},{"id":"8ab6a2c.f90286","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3040,"wires":[["4d6bd25a.10588c"]]},{"id":"16320197.1590fe","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip24","topic":"status/network/ip24","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3080,"wires":[]},{"id":"a0952f7c.7801e","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip24","measurement":"status/network/ip24","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3040,"wires":[]},{"id":"dc60fc32.e51","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.35","host":"192.168.1.35","timer":"780","inputs":0,"x":190,"y":3220,"wires":[["90fd93e2.840c"]]},{"id":"90fd93e2.840c","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3220,"wires":[["31108ca3.ed6b44"]]},{"id":"c261a91e.375f98","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip35","topic":"status/network/ip35","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3260,"wires":[]},{"id":"1afae291.b2e73d","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip35","measurement":"status/network/ip35","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3220,"wires":[]},{"id":"1e4dec96.104553","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.37","host":"192.168.1.37","timer":"780","inputs":0,"x":190,"y":3320,"wires":[["c726e6d5.9d2778"]]},{"id":"c726e6d5.9d2778","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3320,"wires":[["25ed5872.ed2698"]]},{"id":"1a066587.c0001a","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip37","topic":"status/network/ip37","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3360,"wires":[]},{"id":"f5cd7451.e565a8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip37","measurement":"status/network/ip37","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3320,"wires":[]},{"id":"8ed13901.f56cc8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.40","host":"192.168.1.40","timer":"780","inputs":0,"x":190,"y":3420,"wires":[["5ab833ab.b6232c"]]},{"id":"5ab833ab.b6232c","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3420,"wires":[["1b5e2820.2c8f48"]]},{"id":"e0ab3669.a40288","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip40","topic":"status/network/ip40","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3460,"wires":[]},{"id":"6fdd39ac.2ce578","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip40","measurement":"status/network/ip40","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3420,"wires":[]},{"id":"e45300bc.07f74","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.43","host":"192.168.1.43","timer":"780","inputs":0,"x":190,"y":3520,"wires":[["57e89ddf.3a9344"]]},{"id":"57e89ddf.3a9344","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3520,"wires":[["c3fa19fa.cef378"]]},{"id":"fc8fa49e.6c30b8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip43","topic":"status/network/ip43","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3560,"wires":[]},{"id":"e947b684.586cd8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip43","measurement":"status/network/ip43","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3520,"wires":[]},{"id":"42450fd7.2725b","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.44","host":"192.168.1.44","timer":"780","inputs":0,"x":190,"y":3600,"wires":[["d1bea237.f514e"]]},{"id":"d1bea237.f514e","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3600,"wires":[["5c9b3f09.2229d"]]},{"id":"f34be6c1.6cb9e8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip44","topic":"status/network/ip44","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3640,"wires":[]},{"id":"1a20ee72.915692","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip44","measurement":"status/network/ip44","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3600,"wires":[]},{"id":"875c46ac.dd5398","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.46","host":"192.168.1.46","timer":"780","inputs":0,"x":190,"y":3680,"wires":[["56f65eee.5b96a"]]},{"id":"56f65eee.5b96a","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3680,"wires":[["497ecfac.f5cf2"]]},{"id":"eedcca7e.fe9928","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip46","topic":"status/network/ip46","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3720,"wires":[]},{"id":"ce9202ed.a302a","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip46","measurement":"status/network/ip46","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3680,"wires":[]},{"id":"80f23578.3e50d8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.47","host":"192.168.1.47","timer":"780","inputs":0,"x":190,"y":3760,"wires":[["966aabe7.65d5d8"]]},{"id":"966aabe7.65d5d8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3760,"wires":[["6a29f700.2def78"]]},{"id":"a102ff6f.93d22","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip47","topic":"status/network/ip47","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3800,"wires":[]},{"id":"9721df40.fbfec","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip47","measurement":"status/network/ip47","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3760,"wires":[]},{"id":"8b57744b.c83198","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.48","host":"192.168.1.48","timer":"780","inputs":0,"x":190,"y":3840,"wires":[["b1ab2440.fe8a48"]]},{"id":"b1ab2440.fe8a48","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3840,"wires":[["4bc404d1.da945c"]]},{"id":"fe6d2189.246c8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip48","topic":"status/network/ip48","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3880,"wires":[]},{"id":"c95ab50d.6fd378","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip48","measurement":"status/network/ip48","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3840,"wires":[]},{"id":"f935acf7.6a738","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.49","host":"192.168.1.49","timer":"780","inputs":0,"x":190,"y":3920,"wires":[["4a277f5e.7fecb"]]},{"id":"4a277f5e.7fecb","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3920,"wires":[["1a163078.dd8f4"]]},{"id":"3277b703.9802a8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip49","topic":"status/network/ip49","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3960,"wires":[]},{"id":"dfba6b4f.f583f8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip49","measurement":"status/network/ip49","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3920,"wires":[]},{"id":"38680026.c058","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.51","host":"192.168.1.51","timer":"780","inputs":0,"x":190,"y":4000,"wires":[["fe36689.8fb8098"]]},{"id":"fe36689.8fb8098","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4000,"wires":[["1e21b6a0.c933e9"]]},{"id":"51a0a6cd.061698","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip51","topic":"status/network/ip51","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4040,"wires":[]},{"id":"aebff1e2.497d3","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip51","measurement":"status/network/ip51","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4000,"wires":[]},{"id":"d467cfd5.26815","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.53","host":"192.168.1.53","timer":"780","inputs":0,"x":190,"y":4080,"wires":[["a424a8c9.952eb8"]]},{"id":"a424a8c9.952eb8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4080,"wires":[["a942375b.422518"]]},{"id":"4be65277.fe346c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip53","topic":"status/network/ip53","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4120,"wires":[]},{"id":"bee8f0a2.9612e","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip53","measurement":"status/network/ip53","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4080,"wires":[]},{"id":"f58cedf5.62838","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.58","host":"192.168.1.58","timer":"780","inputs":0,"x":190,"y":4160,"wires":[["980abb.90d20548"]]},{"id":"980abb.90d20548","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4160,"wires":[["87a1d261.fc6ea"]]},{"id":"90d390cb.fd468","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip58","topic":"status/network/ip58","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4200,"wires":[]},{"id":"bdf1845b.b6bac8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip58","measurement":"status/network/ip58","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4160,"wires":[]},{"id":"789a46a0.4669a8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.59","host":"192.168.1.59","timer":"780","inputs":0,"x":190,"y":4240,"wires":[["27183b9a.794c74"]]},{"id":"27183b9a.794c74","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4240,"wires":[["9a406969.acf598"]]},{"id":"8f07d5a1.7c06f8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip59","topic":"status/network/ip59","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4280,"wires":[]},{"id":"f6e7f0bd.f9ad6","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip59","measurement":"status/network/ip59","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4240,"wires":[]},{"id":"4973d346.dc614c","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.60","host":"192.168.1.60","timer":"780","inputs":0,"x":190,"y":4320,"wires":[["caa8d3ce.5fa2f"]]},{"id":"caa8d3ce.5fa2f","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4320,"wires":[["2b8d1c6d.adc644"]]},{"id":"4c74c1a0.128cd","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip60","topic":"status/network/ip60","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4360,"wires":[]},{"id":"1479e726.36f229","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip60","measurement":"status/network/ip60","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4320,"wires":[]},{"id":"2969f23c.175e4e","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.61","host":"192.168.1.61","timer":"780","inputs":0,"x":190,"y":4400,"wires":[["51c08aae.1a7a14"]]},{"id":"51c08aae.1a7a14","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4400,"wires":[["e6bb46af.061b38"]]},{"id":"dc085949.6632d8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip61","topic":"status/network/ip61","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4440,"wires":[]},{"id":"913d30a.ad789d","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip61","measurement":"status/network/ip61","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4400,"wires":[]},{"id":"8b03da96.8d1998","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.64","host":"192.168.1.64","timer":"780","inputs":0,"x":190,"y":4480,"wires":[["2397a77e.264018"]]},{"id":"2397a77e.264018","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4480,"wires":[["fd9d0e61.58c6f"]]},{"id":"929c1274.7ddba","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip64","topic":"status/network/ip64","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4520,"wires":[]},{"id":"5d6d95d9.6f834c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip64","measurement":"status/network/ip64","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4480,"wires":[]},{"id":"53a2da75.93e364","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.65","host":"192.168.1.65","timer":"780","inputs":0,"x":190,"y":4560,"wires":[["314376da.8af56a"]]},{"id":"314376da.8af56a","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4560,"wires":[["904ea517.417238"]]},{"id":"76ded829.07ad18","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip65","topic":"status/network/ip65","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4600,"wires":[]},{"id":"c6008703.7413b8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip65","measurement":"status/network/ip65","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4560,"wires":[]},{"id":"c1af4855.d80ea8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.66","host":"192.168.1.66","timer":"780","inputs":0,"x":190,"y":4640,"wires":[["77b6abc9.636ad4"]]},{"id":"77b6abc9.636ad4","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4640,"wires":[["90b735fb.389948"]]},{"id":"dc5940d4.a5977","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip66","topic":"status/network/ip66","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4680,"wires":[]},{"id":"1701c97a.c5ed77","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip66","measurement":"status/network/ip66","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4640,"wires":[]},{"id":"891b2be0.336bc8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.67","host":"192.168.1.67","timer":"780","inputs":0,"x":190,"y":4720,"wires":[["605a9345.22346c"]]},{"id":"605a9345.22346c","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4720,"wires":[["8055d301.d8319"]]},{"id":"c914044e.aaa608","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip67","topic":"status/network/ip67","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4760,"wires":[]},{"id":"9c08be6a.f0f32","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip67","measurement":"status/network/ip67","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4720,"wires":[]},{"id":"3e4304d7.80e5ac","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.68","host":"192.168.1.68","timer":"780","inputs":0,"x":190,"y":4800,"wires":[["39f9c738.2a5f78"]]},{"id":"39f9c738.2a5f78","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4800,"wires":[["d16b5583.420af8"]]},{"id":"48114ca0.0f0804","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip68","topic":"status/network/ip68","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4840,"wires":[]},{"id":"d4ac694a.b50798","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip68","measurement":"status/network/ip68","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4800,"wires":[]},{"id":"7c63dab1.5b0af4","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.69","host":"192.168.1.69","timer":"780","inputs":0,"x":190,"y":4880,"wires":[["edbffa2a.870ee8"]]},{"id":"edbffa2a.870ee8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4880,"wires":[["7b483655.71e8b8"]]},{"id":"e6ab94ef.094da8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip69","topic":"status/network/ip69","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":4920,"wires":[]},{"id":"f612dffa.17563","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip69","measurement":"status/network/ip69","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":4880,"wires":[]},{"id":"ec036f60.6decf","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.70","host":"192.168.1.70","timer":"780","inputs":0,"x":850,"y":3520,"wires":[["d1209bbe.43c6b8"]]},{"id":"d1209bbe.43c6b8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3520,"wires":[["1ff7656c.88affb"]]},{"id":"9906c6a.5d7bb38","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip70","topic":"status/network/ip70","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3560,"wires":[]},{"id":"ae8500ec.bcb1c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip70","measurement":"status/network/ip70","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3520,"wires":[]},{"id":"680af0ab.723d8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.71","host":"192.168.1.71","timer":"780","inputs":0,"x":850,"y":3600,"wires":[["6354ecf3.ebdda4"]]},{"id":"6354ecf3.ebdda4","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3600,"wires":[["ef2008ab.c224a8"]]},{"id":"41dc8295.c35a6c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip71","topic":"status/network/ip71","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3640,"wires":[]},{"id":"ca76a1d2.33472","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip71","measurement":"status/network/ip71","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3600,"wires":[]},{"id":"1a0759fe.471a06","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.72","host":"192.168.1.72","timer":"780","inputs":0,"x":850,"y":3680,"wires":[["21fae1d.9ded41e"]]},{"id":"21fae1d.9ded41e","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3680,"wires":[["c1416ecf.a3795"]]},{"id":"fa34165d.d77948","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip72","topic":"status/network/ip72","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3720,"wires":[]},{"id":"8e2fccec.79e13","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip72","measurement":"status/network/ip72","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3680,"wires":[]},{"id":"49870b29.306484","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.73","host":"192.168.1.73","timer":"780","inputs":0,"x":850,"y":3760,"wires":[["145af1ed.24fa1e"]]},{"id":"145af1ed.24fa1e","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3760,"wires":[["69493a8e.e74e94"]]},{"id":"28f9ebf.a205814","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip73","topic":"status/network/ip73","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3800,"wires":[]},{"id":"fc77b9d5.494418","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip73","measurement":"status/network/ip73","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3760,"wires":[]},{"id":"f150f558.0de9d8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.74","host":"192.168.1.74","timer":"780","inputs":0,"x":850,"y":3840,"wires":[["c7c00d7f.21cdd"]]},{"id":"c7c00d7f.21cdd","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3840,"wires":[["8648e65c.fb8318"]]},{"id":"960b2d41.a190f","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip74","topic":"status/network/ip74","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3880,"wires":[]},{"id":"73bd5a45.78e814","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip74","measurement":"status/network/ip74","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3840,"wires":[]},{"id":"a00a6556.90d3d8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.75","host":"192.168.1.75","timer":"780","inputs":0,"x":850,"y":3920,"wires":[["2c0b03b2.f58fec"]]},{"id":"2c0b03b2.f58fec","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3920,"wires":[["b51c86b4.853ef8"]]},{"id":"1d5f1923.9f1477","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip75","topic":"status/network/ip75","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3960,"wires":[]},{"id":"5dea1ada.1e47a4","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip75","measurement":"status/network/ip75","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3920,"wires":[]},{"id":"b2b6d2ae.8127f","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.76","host":"192.168.1.76","timer":"780","inputs":0,"x":850,"y":4000,"wires":[["7c812b36.f797f4"]]},{"id":"7c812b36.f797f4","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":4000,"wires":[["f5d2798d.162f48"]]},{"id":"5ef43f22.284f3","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip76","topic":"status/network/ip76","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":4040,"wires":[]},{"id":"80b42146.0194d","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip76","measurement":"status/network/ip76","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":4000,"wires":[]},{"id":"cd5f5227.f408c","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.77","host":"192.168.1.77","timer":"780","inputs":0,"x":850,"y":4080,"wires":[["94333771.00ce48"]]},{"id":"94333771.00ce48","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":4080,"wires":[["9e9665bd.12df48"]]},{"id":"25406af9.330606","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip77","topic":"status/network/ip77","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":4120,"wires":[]},{"id":"7c5ee59a.df625c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip77","measurement":"status/network/ip77","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":4080,"wires":[]},{"id":"553c5e98.bbe25","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.78","host":"192.168.1.78","timer":"780","inputs":0,"x":850,"y":4160,"wires":[["c282422c.64866"]]},{"id":"c282422c.64866","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":4160,"wires":[["75a7f23e.520f1c"]]},{"id":"eaf682fa.a6b4c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip78","topic":"status/network/ip78","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":4200,"wires":[]},{"id":"59d960e4.018f","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip78","measurement":"status/network/ip78","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":4160,"wires":[]},{"id":"a3d3bb8c.c812c8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.79","host":"192.168.1.79","timer":"780","inputs":0,"x":850,"y":4240,"wires":[["39ee1bf0.461924"]]},{"id":"39ee1bf0.461924","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":4240,"wires":[["fc76fc2e.91c55"]]},{"id":"81530237.5c8b8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip79","topic":"status/network/ip79","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":4280,"wires":[]},{"id":"cca660e8.69a43","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip79","measurement":"status/network/ip79","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":4240,"wires":[]},{"id":"18a5ac1f.cf5ca4","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.102","host":"192.168.1.102","timer":"780","inputs":0,"x":1510,"y":2600,"wires":[["2a485638.57fe4a"]]},{"id":"2a485638.57fe4a","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":2600,"wires":[["66be21df.78181"]]},{"id":"67435eab.f6389","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip102","topic":"status/network/ip102","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":2640,"wires":[]},{"id":"e3a5db5d.7a44d8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip102","measurement":"status/network/ip102","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":2600,"wires":[]},{"id":"bfe3c7d5.a61b48","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.103","host":"192.168.1.103","timer":"780","inputs":0,"x":1510,"y":2680,"wires":[["c759b4a.436a048"]]},{"id":"c759b4a.436a048","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":2680,"wires":[["ef3d82eb.fae74"]]},{"id":"5f8736d.d6f3fc8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip103","topic":"status/network/ip103","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":2720,"wires":[]},{"id":"fa5ec3e7.abff4","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip103","measurement":"status/network/ip103","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":2680,"wires":[]},{"id":"d801ab7a.1fe9a8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.104","host":"192.168.1.104","timer":"780","inputs":0,"x":1510,"y":2760,"wires":[["1c083677.06972a"]]},{"id":"1c083677.06972a","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":2760,"wires":[["1f8e9d2c.fb6723"]]},{"id":"adab00d3.9854b","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip104","topic":"status/network/ip104","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":2800,"wires":[]},{"id":"53dba9c5.9db388","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip104","measurement":"status/network/ip104","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":2760,"wires":[]},{"id":"582f09b9.936af8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.105","host":"192.168.1.105","timer":"780","inputs":0,"x":1510,"y":2840,"wires":[["25953cae.e065f4"]]},{"id":"25953cae.e065f4","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":2840,"wires":[["98123ad1.aaa858"]]},{"id":"48c52c6b.b58a24","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip105","topic":"status/network/ip105","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":2880,"wires":[]},{"id":"57e40676.105c08","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip105","measurement":"status/network/ip105","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":2840,"wires":[]},{"id":"5c1821a5.e25d1","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.106","host":"192.168.1.106","timer":"780","inputs":0,"x":1510,"y":2920,"wires":[["41a71666.c7c5d8"]]},{"id":"41a71666.c7c5d8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":2920,"wires":[["503e81af.f48cf"]]},{"id":"14a1d413.29385c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip106","topic":"status/network/ip106","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":2960,"wires":[]},{"id":"9366b58d.2d5438","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip106","measurement":"status/network/ip106","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":2920,"wires":[]},{"id":"a6882560.69dee8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.107","host":"192.168.1.107","timer":"780","inputs":0,"x":1510,"y":3000,"wires":[["25189938.f6ec76"]]},{"id":"25189938.f6ec76","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3000,"wires":[["996268a3.040d48"]]},{"id":"9b215dec.e314","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip107","topic":"status/network/ip107","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3040,"wires":[]},{"id":"468bd3f2.1e045c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip107","measurement":"status/network/ip107","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3000,"wires":[]},{"id":"760d51f3.6af35","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.108","host":"192.168.1.108","timer":"780","inputs":0,"x":1510,"y":3080,"wires":[["9910c069.9f3d3"]]},{"id":"9910c069.9f3d3","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3080,"wires":[["b21b385.ef5a4c8"]]},{"id":"c8c8544f.e29c98","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip108","topic":"status/network/ip108","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3120,"wires":[]},{"id":"34c79ccb.0978c4","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip108","measurement":"status/network/ip108","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3080,"wires":[]},{"id":"5f9100b4.1dfce","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.109","host":"192.168.1.109","timer":"780","inputs":0,"x":1510,"y":3160,"wires":[["c0ec013a.cc894"]]},{"id":"c0ec013a.cc894","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3160,"wires":[["eb93ecf3.b569f"]]},{"id":"4962f3ac.f6185c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip109","topic":"status/network/ip109","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3200,"wires":[]},{"id":"63f97fd5.8b99a","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip109","measurement":"status/network/ip109","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3160,"wires":[]},{"id":"923762b8.b0d3e","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.110","host":"192.168.1.110","timer":"780","inputs":0,"x":1510,"y":3240,"wires":[["b2c492a8.ca7f2"]]},{"id":"b2c492a8.ca7f2","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3240,"wires":[["4b1f5758.0fd128"]]},{"id":"b83a0731.db94d8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip110","topic":"status/network/ip110","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3280,"wires":[]},{"id":"5ec064a9.1f285c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip110","measurement":"status/network/ip110","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3240,"wires":[]},{"id":"34682625.7b9d7a","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.111","host":"192.168.1.111","timer":"780","inputs":0,"x":1510,"y":3320,"wires":[["88b4ef1e.ad259"]]},{"id":"88b4ef1e.ad259","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3320,"wires":[["7e43bbbe.205cd4"]]},{"id":"e3a278bf.1a3d18","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip111","topic":"status/network/ip111","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3360,"wires":[]},{"id":"c2fceb54.119598","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip111","measurement":"status/network/ip111","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3320,"wires":[]},{"id":"3a34ea18.eb1956","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.112","host":"192.168.1.112","timer":"780","inputs":0,"x":1510,"y":3400,"wires":[["5d1acfb7.5f0d7"]]},{"id":"5d1acfb7.5f0d7","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3400,"wires":[["c1f27fe9.9b20e"]]},{"id":"e318e5bc.393a48","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip112","topic":"status/network/ip112","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3440,"wires":[]},{"id":"3ba9d210.2e3a0e","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip112","measurement":"status/network/ip112","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3400,"wires":[]},{"id":"bb8cb93.5764948","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.113","host":"192.168.1.113","timer":"780","inputs":0,"x":1510,"y":3480,"wires":[["32b69344.d2cb3c"]]},{"id":"32b69344.d2cb3c","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3480,"wires":[["ee9162a2.5360d"]]},{"id":"b2e44f18.21324","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip113","topic":"status/network/ip113","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3520,"wires":[]},{"id":"4f7f0b9f.0bb084","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip113","measurement":"status/network/ip113","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3480,"wires":[]},{"id":"6ddb46.34ff04bc","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.114","host":"192.168.1.114","timer":"780","inputs":0,"x":1510,"y":3560,"wires":[["4a36cc87.3f6974"]]},{"id":"4a36cc87.3f6974","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3560,"wires":[["14422677.2e173a"]]},{"id":"41553216.daac9c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip114","topic":"status/network/ip114","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3600,"wires":[]},{"id":"f16601f4.1a8f8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip114","measurement":"status/network/ip114","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3560,"wires":[]},{"id":"99e4263f.3649b8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.115","host":"192.168.1.115","timer":"780","inputs":0,"x":1510,"y":3640,"wires":[["fa9f35ae.7be388"]]},{"id":"fa9f35ae.7be388","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3640,"wires":[["84a946fd.705538"]]},{"id":"88d497d7.d696e8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip115","topic":"status/network/ip115","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3680,"wires":[]},{"id":"3ba32294.95d0ae","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip115","measurement":"status/network/ip115","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3640,"wires":[]},{"id":"886dd295.d368e","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.116","host":"192.168.1.116","timer":"780","inputs":0,"x":1510,"y":3720,"wires":[["a8a3f23.e91c51"]]},{"id":"a8a3f23.e91c51","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3720,"wires":[["a8b16471.0be7e8"]]},{"id":"c20ca282.140fe","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip116","topic":"status/network/ip116","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3760,"wires":[]},{"id":"944a04ba.05b0c8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip116","measurement":"status/network/ip116","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3720,"wires":[]},{"id":"300c69ec.50bfb6","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.117","host":"192.168.1.117","timer":"780","inputs":0,"x":1510,"y":3800,"wires":[["5645c9a7.5b50b8"]]},{"id":"5645c9a7.5b50b8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3800,"wires":[["85868153.b7e57"]]},{"id":"65611806.ebb5d8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip117","topic":"status/network/ip117","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3840,"wires":[]},{"id":"c1c9a1e6.1909f","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip117","measurement":"status/network/ip117","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3800,"wires":[]},{"id":"24d10871.e29458","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.118","host":"192.168.1.118","timer":"780","inputs":0,"x":1510,"y":3880,"wires":[["5437611.33137a"]]},{"id":"5437611.33137a","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3880,"wires":[["7d44bca1.6959b4"]]},{"id":"db86f3f4.4db3c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip118","topic":"status/network/ip118","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":3920,"wires":[]},{"id":"aab82ee9.50d08","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip118","measurement":"status/network/ip118","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3880,"wires":[]},{"id":"e8dde3eb.4911a","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.119","host":"192.168.1.119","timer":"780","inputs":0,"x":1510,"y":3960,"wires":[["f1cecc69.deb28"]]},{"id":"f1cecc69.deb28","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":3960,"wires":[["21048fb4.6c97e"]]},{"id":"10038013.1142c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip119","topic":"status/network/ip119","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4000,"wires":[]},{"id":"4435094c.ac3698","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip119","measurement":"status/network/ip119","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":3960,"wires":[]},{"id":"3ab68917.10ab66","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.120","host":"192.168.1.120","timer":"780","inputs":0,"x":1510,"y":4040,"wires":[["26ee47c9.943918"]]},{"id":"26ee47c9.943918","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4040,"wires":[["dd954303.cd273"]]},{"id":"de20d585.120a18","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip120","topic":"status/network/ip120","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4080,"wires":[]},{"id":"5ec9f54c.af6cac","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip120","measurement":"status/network/ip120","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4040,"wires":[]},{"id":"ec429d5e.388fd","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.121","host":"192.168.1.121","timer":"780","inputs":0,"x":1510,"y":4120,"wires":[["d535e691.a43418"]]},{"id":"d535e691.a43418","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4120,"wires":[["5b50b950.26c648"]]},{"id":"d92357c0.cf3da8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip121","topic":"status/network/ip121","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4160,"wires":[]},{"id":"9f424327.0aa65","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip121","measurement":"status/network/ip121","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4120,"wires":[]},{"id":"fa5a110d.4356d","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.122","host":"192.168.1.122","timer":"780","inputs":0,"x":1510,"y":4200,"wires":[["be137613.61a0c8"]]},{"id":"be137613.61a0c8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4200,"wires":[["566535a1.eab3fc"]]},{"id":"26362cc5.d89d74","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip122","topic":"status/network/ip122","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4240,"wires":[]},{"id":"55df139c.9e2b8c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip122","measurement":"status/network/ip122","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4200,"wires":[]},{"id":"938aa42b.29de08","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.123","host":"192.168.1.123","timer":"780","inputs":0,"x":1510,"y":4280,"wires":[["dbf433e6.92462"]]},{"id":"dbf433e6.92462","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4280,"wires":[["d8bc73ab.3b372"]]},{"id":"812b2d93.2a117","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip123","topic":"status/network/ip123","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4320,"wires":[]},{"id":"c2319b32.1b1e78","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip123","measurement":"status/network/ip123","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4280,"wires":[]},{"id":"7bbf730a.4a20fc","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.124","host":"192.168.1.124","timer":"780","inputs":0,"x":1510,"y":4360,"wires":[["ccc5761a.a257f8"]]},{"id":"ccc5761a.a257f8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4360,"wires":[["aa4bae49.7b128"]]},{"id":"6c4ea9b6.fd9fa8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip124","topic":"status/network/ip124","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4400,"wires":[]},{"id":"51065fe3.ca99c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip124","measurement":"status/network/ip124","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4360,"wires":[]},{"id":"31709dc1.3f3362","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.125","host":"192.168.1.125","timer":"780","inputs":0,"x":1510,"y":4440,"wires":[["1870a61f.e33cba"]]},{"id":"1870a61f.e33cba","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4440,"wires":[["cca72b7c.d4f868"]]},{"id":"ac10290a.73fc78","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip125","topic":"status/network/ip125","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4480,"wires":[]},{"id":"278f0328.b81d4c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip125","measurement":"status/network/ip125","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4440,"wires":[]},{"id":"c48dfa88.935e98","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.126","host":"192.168.1.126","timer":"780","inputs":0,"x":1510,"y":4520,"wires":[["51981c6b.3d0f04"]]},{"id":"51981c6b.3d0f04","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4520,"wires":[["9c8c2ff5.24a6d"]]},{"id":"f585535.8c9a3b","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip126","topic":"status/network/ip126","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4560,"wires":[]},{"id":"c165893f.8a7878","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip126","measurement":"status/network/ip126","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4520,"wires":[]},{"id":"5b5c1d79.4dc574","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.127","host":"192.168.1.127","timer":"780","inputs":0,"x":1510,"y":4600,"wires":[["10188020.521ef"]]},{"id":"10188020.521ef","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4600,"wires":[["8d52d1bb.66a73"]]},{"id":"a13413d5.40221","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip127","topic":"status/network/ip127","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4640,"wires":[]},{"id":"d420e4ca.443e88","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip127","measurement":"status/network/ip127","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4600,"wires":[]},{"id":"209ca36.54a6f5c","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.128","host":"192.168.1.128","timer":"780","inputs":0,"x":1510,"y":4680,"wires":[["d4813091.ed558"]]},{"id":"d4813091.ed558","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4680,"wires":[["4ad068b6.d26bf8"]]},{"id":"15797188.ce472e","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip128","topic":"status/network/ip128","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4720,"wires":[]},{"id":"47183f0e.79258","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip128","measurement":"status/network/ip128","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4680,"wires":[]},{"id":"e7b72dd7.c9768","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.129","host":"192.168.1.129","timer":"780","inputs":0,"x":1510,"y":4760,"wires":[["46941e84.71d11"]]},{"id":"46941e84.71d11","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":4760,"wires":[["5f9d8330.df164c"]]},{"id":"377f145.a5ad2ec","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip129","topic":"status/network/ip129","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1900,"y":4800,"wires":[]},{"id":"aed1e9f.12ba318","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip129","measurement":"status/network/ip129","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1900,"y":4760,"wires":[]},{"id":"46c3a6fb.e36408","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.140","host":"192.168.1.140","timer":"780","inputs":0,"x":2130,"y":2600,"wires":[["b1567073.b17f7"]]},{"id":"b1567073.b17f7","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":2600,"wires":[["b6de1b47.7116c8"]]},{"id":"a4541fc.9793de","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip140","topic":"status/network/ip140","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":2640,"wires":[]},{"id":"eb4b82a0.c691c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip140","measurement":"status/network/ip140","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":2600,"wires":[]},{"id":"c031ded6.6024d","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.141","host":"192.168.1.141","timer":"780","inputs":0,"x":2130,"y":2680,"wires":[["9ba4a5d5.e98d88"]]},{"id":"9ba4a5d5.e98d88","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":2680,"wires":[["840732db.05b51"]]},{"id":"adbf4bec.a67ab8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip141","topic":"status/network/ip141","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":2720,"wires":[]},{"id":"e3101faa.34c54","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip141","measurement":"status/network/ip141","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":2680,"wires":[]},{"id":"388b37c0.d69af8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.142","host":"192.168.1.142","timer":"780","inputs":0,"x":2130,"y":2760,"wires":[["244f79cf.aff816"]]},{"id":"244f79cf.aff816","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":2760,"wires":[["597686d8.05f578"]]},{"id":"64bd06f1.8dd018","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip142","topic":"status/network/ip142","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":2800,"wires":[]},{"id":"ea84cd55.029f4","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip142","measurement":"status/network/ip142","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":2760,"wires":[]},{"id":"93a1047a.17dbb8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.143","host":"192.168.1.143","timer":"780","inputs":0,"x":2130,"y":2840,"wires":[["6d1cccda.5b1324"]]},{"id":"6d1cccda.5b1324","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":2840,"wires":[["9e2fca87.1df078"]]},{"id":"b3e83e9a.f72ab","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip143","topic":"status/network/ip143","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":2880,"wires":[]},{"id":"46484132.337","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip143","measurement":"status/network/ip143","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":2840,"wires":[]},{"id":"b52b4335.a4c02","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.144","host":"192.168.1.144","timer":"780","inputs":0,"x":2130,"y":2920,"wires":[["bbdcd406.fe8ac8"]]},{"id":"bbdcd406.fe8ac8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":2920,"wires":[["ccfe4617.81d548"]]},{"id":"94119536.37f908","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip144","topic":"status/network/ip144","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":2960,"wires":[]},{"id":"5c4e2ee7.aaa1f","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip144","measurement":"status/network/ip144","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":2920,"wires":[]},{"id":"eb196199.2496b","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.145","host":"192.168.1.145","timer":"780","inputs":0,"x":2130,"y":3000,"wires":[["17f4b698.8b0319"]]},{"id":"17f4b698.8b0319","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3000,"wires":[["616fa668.1a97a8"]]},{"id":"6b88832f.5ecc1c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip145","topic":"status/network/ip145","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3040,"wires":[]},{"id":"eeac2d25.b1a14","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip145","measurement":"status/network/ip145","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3000,"wires":[]},{"id":"2440eeea.a92282","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.146","host":"192.168.1.146","timer":"780","inputs":0,"x":2130,"y":3080,"wires":[["9a42bcc.b1df14"]]},{"id":"9a42bcc.b1df14","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3080,"wires":[["bd9bc020.57514"]]},{"id":"3ae7522e.cc1c9e","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip146","topic":"status/network/ip146","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3120,"wires":[]},{"id":"4d9958fe.66d808","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip146","measurement":"status/network/ip146","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3080,"wires":[]},{"id":"9c8008a6.d02218","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.147","host":"192.168.1.147","timer":"780","inputs":0,"x":2130,"y":3160,"wires":[["5181f8a2.b19a88"]]},{"id":"5181f8a2.b19a88","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3160,"wires":[["5081ba.48c2ce48"]]},{"id":"be7692e7.2f925","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip147","topic":"status/network/ip147","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3200,"wires":[]},{"id":"d9aa1c5.cdddfe","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip147","measurement":"status/network/ip147","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3160,"wires":[]},{"id":"d538ebfb.67a818","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.148","host":"192.168.1.148","timer":"780","inputs":0,"x":2130,"y":3240,"wires":[["525d0470.d3938c"]]},{"id":"525d0470.d3938c","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3240,"wires":[["15026f52.7ddde1"]]},{"id":"19914f3e.d034d1","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip148","topic":"status/network/ip148","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3280,"wires":[]},{"id":"f30d7771.8f2638","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip148","measurement":"status/network/ip148","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3240,"wires":[]},{"id":"82a269b1.ba7de8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.149","host":"192.168.1.149","timer":"780","inputs":0,"x":2130,"y":3320,"wires":[["623f096a.86d898"]]},{"id":"623f096a.86d898","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3320,"wires":[["9c1dc113.022ce"]]},{"id":"158a09eb.18a8b6","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip149","topic":"status/network/ip149","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3360,"wires":[]},{"id":"9986bfdc.cd824","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip149","measurement":"status/network/ip149","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3320,"wires":[]},{"id":"3bca6fa5.ff702","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.200","host":"192.168.1.200","timer":"780","inputs":0,"x":2130,"y":3480,"wires":[["6391d639.9e74a8"]]},{"id":"6391d639.9e74a8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3480,"wires":[["2f8d7d4d.f5a1c2"]]},{"id":"cb2cdb27.237038","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip200","topic":"status/network/ip200","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3520,"wires":[]},{"id":"3617d33e.1efcbc","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip200","measurement":"status/network/ip200","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3480,"wires":[]},{"id":"732f0c8a.fe1834","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.201","host":"192.168.1.201","timer":"780","inputs":0,"x":2130,"y":3560,"wires":[["de808696.9512c8"]]},{"id":"de808696.9512c8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3560,"wires":[["545f1fd0.4b958"]]},{"id":"378f1935.09fc76","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip201","topic":"status/network/ip201","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3600,"wires":[]},{"id":"d8db8e63.cfef","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip201","measurement":"status/network/ip201","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3560,"wires":[]},{"id":"747a1dbe.28a1e4","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.202","host":"192.168.1.202","timer":"780","inputs":0,"x":2130,"y":3640,"wires":[["22d54742.4f09a8"]]},{"id":"22d54742.4f09a8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3640,"wires":[["1289ced3.a49981"]]},{"id":"335250cc.c6f08","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip202","topic":"status/network/ip202","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3680,"wires":[]},{"id":"e9bca3f.2b0f26","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip202","measurement":"status/network/ip202","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3640,"wires":[]},{"id":"e5721262.96dd4","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.203","host":"192.168.1.203","timer":"780","inputs":0,"x":2130,"y":3720,"wires":[["5db662d6.becddc"]]},{"id":"5db662d6.becddc","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3720,"wires":[["3337bcec.8f6574"]]},{"id":"135ab558.29d86b","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip203","topic":"status/network/ip203","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3760,"wires":[]},{"id":"cab38108.f4307","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip203","measurement":"status/network/ip203","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3720,"wires":[]},{"id":"f2a33239.fb50d","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.204","host":"192.168.1.204","timer":"780","inputs":0,"x":2130,"y":3800,"wires":[["2634b224.68168e"]]},{"id":"2634b224.68168e","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3800,"wires":[["51e030e1.6ac3e"]]},{"id":"afe75bd.c8414a8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip204","topic":"status/network/ip204","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3840,"wires":[]},{"id":"bb269b30.1d6f08","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip204","measurement":"status/network/ip204","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3800,"wires":[]},{"id":"2724f1f2.b2afce","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.205","host":"192.168.1.205","timer":"780","inputs":0,"x":2130,"y":3880,"wires":[["6790dc9.830b624"]]},{"id":"6790dc9.830b624","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3880,"wires":[["423bace.e3ebb54"]]},{"id":"5cd180fb.bc075","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip205","topic":"status/network/ip205","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":3920,"wires":[]},{"id":"5bd7a203.a22d3c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip205","measurement":"status/network/ip205","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3880,"wires":[]},{"id":"9d1fd1f0.83e5e","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.206","host":"192.168.1.206","timer":"780","inputs":0,"x":2130,"y":3960,"wires":[["2f7ee195.c019be"]]},{"id":"2f7ee195.c019be","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":3960,"wires":[["f7ddf144.44c52"]]},{"id":"b5efac0f.679af","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip206","topic":"status/network/ip206","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":4000,"wires":[]},{"id":"66ed43f9.9198bc","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip206","measurement":"status/network/ip206","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":3960,"wires":[]},{"id":"b22554d8.374ea8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.207","host":"192.168.1.207","timer":"780","inputs":0,"x":2130,"y":4040,"wires":[["db8d3b2d.f2ef28"]]},{"id":"db8d3b2d.f2ef28","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":4040,"wires":[["bd3e089d.c33798"]]},{"id":"52177e78.2c335","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip207","topic":"status/network/ip207","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":4080,"wires":[]},{"id":"66c2d5df.4ae5dc","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip207","measurement":"status/network/ip207","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":4040,"wires":[]},{"id":"7a6117cf.a53ef8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.208","host":"192.168.1.208","timer":"780","inputs":0,"x":2130,"y":4120,"wires":[["d5652785.2f5448"]]},{"id":"d5652785.2f5448","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":4120,"wires":[["cc92970d.160478"]]},{"id":"de54b0e2.c3598","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip208","topic":"status/network/ip208","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":4160,"wires":[]},{"id":"af57fd49.1d87","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip208","measurement":"status/network/ip208","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":4120,"wires":[]},{"id":"712aca78.0a9c24","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.209","host":"192.168.1.209","timer":"780","inputs":0,"x":2130,"y":4200,"wires":[["46ac25db.f653dc"]]},{"id":"46ac25db.f653dc","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":4200,"wires":[["977559ce.1c8818"]]},{"id":"39b7cc1d.28b8f4","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip209","topic":"status/network/ip209","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":2520,"y":4240,"wires":[]},{"id":"36898693.ee181a","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip209","measurement":"status/network/ip209","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2520,"y":4200,"wires":[]},{"id":"f33a826b.047d2","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.235","host":"192.168.1.235","timer":"780","inputs":0,"x":2770,"y":2600,"wires":[["82c896de.feb5d8"]]},{"id":"82c896de.feb5d8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":2600,"wires":[["3a1838c4.c59f68"]]},{"id":"e4c5412a.8a154","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip235","topic":"status/network/ip235","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":2640,"wires":[]},{"id":"4b0eec5a.bb0234","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip235","measurement":"status/network/ip235","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":2600,"wires":[]},{"id":"15ca0515.e34f3b","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.236","host":"192.168.1.236","timer":"780","inputs":0,"x":2770,"y":2680,"wires":[["9a3be0e7.cc023"]]},{"id":"9a3be0e7.cc023","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":2680,"wires":[["86dbf857.e6c3c8"]]},{"id":"fb32c6e9.8b96b8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip236","topic":"status/network/ip236","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":2720,"wires":[]},{"id":"24eb188c.9f3158","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip236","measurement":"status/network/ip236","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":2680,"wires":[]},{"id":"ad9938e8.494638","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.237","host":"192.168.1.237","timer":"780","inputs":0,"x":2770,"y":2760,"wires":[["3b4ec016.4158d"]]},{"id":"3b4ec016.4158d","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":2760,"wires":[["d46800d1.82d4"]]},{"id":"94047206.137eb","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip237","topic":"status/network/ip237","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":2800,"wires":[]},{"id":"7e04dda3.1e6b84","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip237","measurement":"status/network/ip237","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":2760,"wires":[]},{"id":"56ca4fe2.a9e78","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.238","host":"192.168.1.238","timer":"780","inputs":0,"x":2770,"y":2840,"wires":[["cdc6cde9.5862e"]]},{"id":"cdc6cde9.5862e","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":2840,"wires":[["1883aa7.764e556"]]},{"id":"467175bb.b5028c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip238","topic":"status/network/ip238","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":2880,"wires":[]},{"id":"46d39b9b.81f864","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip238","measurement":"status/network/ip238","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":2840,"wires":[]},{"id":"d9fa80d3.0bf8c","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.239","host":"192.168.1.239","timer":"780","inputs":0,"x":2770,"y":2920,"wires":[["5c06e063.da2e1"]]},{"id":"5c06e063.da2e1","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":2920,"wires":[["75e70340.98c07c"]]},{"id":"589e0bbb.6bb5b4","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip239","topic":"status/network/ip239","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":2960,"wires":[]},{"id":"c5703b84.0c33c8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip239","measurement":"status/network/ip239","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":2920,"wires":[]},{"id":"9825aa26.f03288","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.240","host":"192.168.1.240","timer":"780","inputs":0,"x":2770,"y":3000,"wires":[["ac203e89.7ae2c"]]},{"id":"ac203e89.7ae2c","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3000,"wires":[["73e8680f.9aef18"]]},{"id":"9efec556.5798d8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip240","topic":"status/network/ip240","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3040,"wires":[]},{"id":"849e156c.fd51d8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip240","measurement":"status/network/ip240","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3000,"wires":[]},{"id":"c040970d.5162b8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.241","host":"192.168.1.241","timer":"780","inputs":0,"x":2770,"y":3080,"wires":[["ceb35ac9.767c58"]]},{"id":"ceb35ac9.767c58","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3080,"wires":[["27654843.acdad8"]]},{"id":"1cd50425.30c84c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip241","topic":"status/network/ip241","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3120,"wires":[]},{"id":"e29df862.150178","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip241","measurement":"status/network/ip241","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3080,"wires":[]},{"id":"f74cea2a.8200d8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.242","host":"192.168.1.242","timer":"780","inputs":0,"x":2770,"y":3160,"wires":[["663f622b.e920bc"]]},{"id":"663f622b.e920bc","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3160,"wires":[["d3d8f353.06d27"]]},{"id":"b37d1244.6a28b","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip242","topic":"status/network/ip242","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3200,"wires":[]},{"id":"a82e62fb.30c1d","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip242","measurement":"status/network/ip242","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3160,"wires":[]},{"id":"c3f7188a.46eaf8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.243","host":"192.168.1.243","timer":"780","inputs":0,"x":2770,"y":3240,"wires":[["9cf720e3.d00c4"]]},{"id":"9cf720e3.d00c4","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3240,"wires":[["7e2b6df8.fbc574"]]},{"id":"2326f0f9.2aa77","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip243","topic":"status/network/ip243","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3280,"wires":[]},{"id":"68fcc9ae.f18fd8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip243","measurement":"status/network/ip243","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3240,"wires":[]},{"id":"db71394c.3e6c98","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.244","host":"192.168.1.244","timer":"780","inputs":0,"x":2770,"y":3320,"wires":[["5450c88b.e36598"]]},{"id":"5450c88b.e36598","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3320,"wires":[["2dc3db01.3262b4"]]},{"id":"95cb8a36.3ead58","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip244","topic":"status/network/ip244","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3360,"wires":[]},{"id":"2a3821d8.1bcede","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip244","measurement":"status/network/ip244","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3320,"wires":[]},{"id":"6c8c9b5a.e902b4","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.245","host":"192.168.1.245","timer":"780","inputs":0,"x":2770,"y":3400,"wires":[["215a0455.1226ec"]]},{"id":"215a0455.1226ec","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3400,"wires":[["19744e96.202ed1"]]},{"id":"ba63c5ef.b09438","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip245","topic":"status/network/ip245","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3440,"wires":[]},{"id":"de96ca8b.7ff638","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip245","measurement":"status/network/ip245","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3400,"wires":[]},{"id":"e5beaaa8.88ae48","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.246","host":"192.168.1.246","timer":"780","inputs":0,"x":2770,"y":3480,"wires":[["7e11313b.3f808"]]},{"id":"7e11313b.3f808","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3480,"wires":[["4eb2b6f4.bbbfb8"]]},{"id":"a38d9870.a10eb8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip246","topic":"status/network/ip246","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3520,"wires":[]},{"id":"78b1594a.e28c68","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip246","measurement":"status/network/ip246","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3480,"wires":[]},{"id":"c64f142a.ea52b8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.247","host":"192.168.1.247","timer":"780","inputs":0,"x":2770,"y":3560,"wires":[["3c955be4.71b5a4"]]},{"id":"3c955be4.71b5a4","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3560,"wires":[["99c0899c.72f388"]]},{"id":"c12bc678.22bde8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip247","topic":"status/network/ip247","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3600,"wires":[]},{"id":"e5b59430.3138f8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip247","measurement":"status/network/ip247","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3560,"wires":[]},{"id":"41553746.d98998","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.248","host":"192.168.1.248","timer":"780","inputs":0,"x":2770,"y":3640,"wires":[["94994dd0.8710f"]]},{"id":"94994dd0.8710f","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3640,"wires":[["46169b23.838904"]]},{"id":"a1c596e8.7147d8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip248","topic":"status/network/ip248","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3680,"wires":[]},{"id":"8a55cf7e.87c7b","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip248","measurement":"status/network/ip248","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3640,"wires":[]},{"id":"fa03aff2.a5401","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.249","host":"192.168.1.249","timer":"780","inputs":0,"x":2770,"y":3720,"wires":[["c27d776d.00d638"]]},{"id":"c27d776d.00d638","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3720,"wires":[["ac37aae8.177798"]]},{"id":"2f79c62e.de8baa","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip249","topic":"status/network/ip249","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3760,"wires":[]},{"id":"b66b26b7.2957c8","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip249","measurement":"status/network/ip249","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3720,"wires":[]},{"id":"750743d4.c01bfc","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.250","host":"192.168.1.250","timer":"780","inputs":0,"x":2770,"y":3800,"wires":[["605c381a.3e2368"]]},{"id":"605c381a.3e2368","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3800,"wires":[["d4af567d.4775a8"]]},{"id":"1026060b.eac8da","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip250","topic":"status/network/ip250","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3840,"wires":[]},{"id":"1919c4d3.ae6c2b","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip250","measurement":"status/network/ip250","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3800,"wires":[]},{"id":"2368c8d0.9ddf88","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.251","host":"192.168.1.251","timer":"780","inputs":0,"x":2770,"y":3880,"wires":[["1ebeb138.f9e00f"]]},{"id":"1ebeb138.f9e00f","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3880,"wires":[["8c04d7e9.ac2938"]]},{"id":"6f7e1ca5.e17954","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip251","topic":"status/network/ip251","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":3920,"wires":[]},{"id":"bdff7b98.c1de78","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip251","measurement":"status/network/ip251","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3880,"wires":[]},{"id":"b4ae7e5a.0f76a","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.252","host":"192.168.1.252","timer":"780","inputs":0,"x":2770,"y":3960,"wires":[["bfe72000.f381"]]},{"id":"bfe72000.f381","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":3960,"wires":[["4db2ca2a.e51cc4"]]},{"id":"e7a0edd9.ebcb2","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip252","topic":"status/network/ip252","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":4000,"wires":[]},{"id":"77b8ebf.7163614","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip252","measurement":"status/network/ip252","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":3960,"wires":[]},{"id":"992da860.2ac188","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.253","host":"192.168.1.253","timer":"780","inputs":0,"x":2770,"y":4040,"wires":[["39f6e3ca.4c06ac"]]},{"id":"39f6e3ca.4c06ac","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":4040,"wires":[["ec95565a.59c148"]]},{"id":"787733b1.dfd94c","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip253","topic":"status/network/ip253","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":4080,"wires":[]},{"id":"abb6a9d4.c2fc38","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip253","measurement":"status/network/ip253","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":4040,"wires":[]},{"id":"21862a93.78c866","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.254","host":"192.168.1.254","timer":"780","inputs":0,"x":2770,"y":4120,"wires":[["cb0aa947.4747d8"]]},{"id":"cb0aa947.4747d8","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":4120,"wires":[["f2c39ca7.d5dd5"]]},{"id":"d8805ce.fc5eca","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip254","topic":"status/network/ip254","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":3160,"y":4160,"wires":[]},{"id":"921a7a0.3daef88","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip254","measurement":"status/network/ip254","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":3160,"y":4120,"wires":[]},{"id":"e90dae95.98e79","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.25","host":"192.168.1.25","timer":"780","inputs":0,"x":190,"y":3120,"wires":[["34ad1a7a.04c8f6"]]},{"id":"34ad1a7a.04c8f6","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3120,"wires":[["2df45351.5c997c"]]},{"id":"88db74ab.6e81b8","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip25","topic":"status/network/ip25","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":570,"y":3160,"wires":[]},{"id":"6c97976.77c9f68","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip25","measurement":"status/network/ip25","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":570,"y":3120,"wires":[]},{"id":"7a5df9f3.7572e8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":390,"y":240,"wires":[["649144fb.e1258c","e6eb78bb.d9ded8"]]},{"id":"e63105.274ecef8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":390,"y":720,"wires":[["f5a9d58e.c63f78","c574afb4.a4484"]]},{"id":"2a5d6c5f.f077a4","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":2600,"wires":[[]]},{"id":"6dba968e.960268","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":2700,"wires":[["3ee1723b.4d606e","8bc2a975.4a5f38"]]},{"id":"85203186.0ab14","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":2800,"wires":[["63ad1336.cbacbc","918d2787.4f6418"]]},{"id":"a9a5fa82.d4adc8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":2900,"wires":[["f698ef02.2692a","bd009fa8.a9e87"]]},{"id":"c8da8529.df0628","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3000,"wires":[["c45593e2.e8f63","b298cbaa.4e4c78"]]},{"id":"4d6bd25a.10588c","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3080,"wires":[["16320197.1590fe","a0952f7c.7801e"]]},{"id":"2df45351.5c997c","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3160,"wires":[["88db74ab.6e81b8","6c97976.77c9f68"]]},{"id":"31108ca3.ed6b44","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3260,"wires":[["c261a91e.375f98","1afae291.b2e73d"]]},{"id":"25ed5872.ed2698","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3360,"wires":[["1a066587.c0001a","f5cd7451.e565a8"]]},{"id":"1b5e2820.2c8f48","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3460,"wires":[["e0ab3669.a40288","6fdd39ac.2ce578"]]},{"id":"c3fa19fa.cef378","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3560,"wires":[["fc8fa49e.6c30b8","e947b684.586cd8"]]},{"id":"5c9b3f09.2229d","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3640,"wires":[["f34be6c1.6cb9e8","1a20ee72.915692"]]},{"id":"497ecfac.f5cf2","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3720,"wires":[["eedcca7e.fe9928","ce9202ed.a302a"]]},{"id":"6a29f700.2def78","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3800,"wires":[["a102ff6f.93d22","9721df40.fbfec"]]},{"id":"4bc404d1.da945c","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3880,"wires":[["fe6d2189.246c8","c95ab50d.6fd378"]]},{"id":"1a163078.dd8f4","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":3960,"wires":[["3277b703.9802a8","dfba6b4f.f583f8"]]},{"id":"1e21b6a0.c933e9","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4040,"wires":[["51a0a6cd.061698","aebff1e2.497d3"]]},{"id":"a942375b.422518","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4120,"wires":[["4be65277.fe346c","bee8f0a2.9612e"]]},{"id":"87a1d261.fc6ea","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4200,"wires":[["90d390cb.fd468","bdf1845b.b6bac8"]]},{"id":"9a406969.acf598","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4280,"wires":[["8f07d5a1.7c06f8","f6e7f0bd.f9ad6"]]},{"id":"2b8d1c6d.adc644","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4360,"wires":[["4c74c1a0.128cd","1479e726.36f229"]]},{"id":"e6bb46af.061b38","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4440,"wires":[["dc085949.6632d8","913d30a.ad789d"]]},{"id":"fd9d0e61.58c6f","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4520,"wires":[["929c1274.7ddba","5d6d95d9.6f834c"]]},{"id":"904ea517.417238","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4600,"wires":[["76ded829.07ad18","c6008703.7413b8"]]},{"id":"90b735fb.389948","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4680,"wires":[["dc5940d4.a5977","1701c97a.c5ed77"]]},{"id":"8055d301.d8319","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4760,"wires":[["c914044e.aaa608","9c08be6a.f0f32"]]},{"id":"d16b5583.420af8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4840,"wires":[["48114ca0.0f0804","d4ac694a.b50798"]]},{"id":"7b483655.71e8b8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":4920,"wires":[["e6ab94ef.094da8","f612dffa.17563"]]},{"id":"1ff7656c.88affb","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3560,"wires":[["9906c6a.5d7bb38","ae8500ec.bcb1c"]]},{"id":"ef2008ab.c224a8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3640,"wires":[["41dc8295.c35a6c","ca76a1d2.33472"]]},{"id":"c1416ecf.a3795","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3720,"wires":[["fa34165d.d77948","8e2fccec.79e13"]]},{"id":"69493a8e.e74e94","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3800,"wires":[["28f9ebf.a205814","fc77b9d5.494418"]]},{"id":"8648e65c.fb8318","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3880,"wires":[["960b2d41.a190f","73bd5a45.78e814"]]},{"id":"b51c86b4.853ef8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3960,"wires":[["1d5f1923.9f1477","5dea1ada.1e47a4"]]},{"id":"f5d2798d.162f48","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":4040,"wires":[["5ef43f22.284f3","80b42146.0194d"]]},{"id":"9e9665bd.12df48","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":4120,"wires":[["25406af9.330606","7c5ee59a.df625c"]]},{"id":"75a7f23e.520f1c","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":4200,"wires":[["eaf682fa.a6b4c","59d960e4.018f"]]},{"id":"fc76fc2e.91c55","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":4280,"wires":[["81530237.5c8b8","cca660e8.69a43"]]},{"id":"66be21df.78181","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":2640,"wires":[["67435eab.f6389","e3a5db5d.7a44d8"]]},{"id":"ef3d82eb.fae74","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":2720,"wires":[["5f8736d.d6f3fc8","fa5ec3e7.abff4"]]},{"id":"1f8e9d2c.fb6723","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":2800,"wires":[["adab00d3.9854b","53dba9c5.9db388"]]},{"id":"98123ad1.aaa858","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":2880,"wires":[["48c52c6b.b58a24","57e40676.105c08"]]},{"id":"503e81af.f48cf","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":2960,"wires":[["14a1d413.29385c","9366b58d.2d5438"]]},{"id":"996268a3.040d48","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3040,"wires":[["9b215dec.e314","468bd3f2.1e045c"]]},{"id":"b21b385.ef5a4c8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3120,"wires":[["c8c8544f.e29c98","34c79ccb.0978c4"]]},{"id":"eb93ecf3.b569f","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3200,"wires":[["4962f3ac.f6185c","63f97fd5.8b99a"]]},{"id":"4b1f5758.0fd128","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3280,"wires":[["b83a0731.db94d8","5ec064a9.1f285c"]]},{"id":"7e43bbbe.205cd4","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3360,"wires":[["e3a278bf.1a3d18","c2fceb54.119598"]]},{"id":"c1f27fe9.9b20e","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3440,"wires":[["e318e5bc.393a48","3ba9d210.2e3a0e"]]},{"id":"ee9162a2.5360d","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3520,"wires":[["b2e44f18.21324","4f7f0b9f.0bb084"]]},{"id":"14422677.2e173a","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3600,"wires":[["41553216.daac9c","f16601f4.1a8f8"]]},{"id":"84a946fd.705538","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3680,"wires":[["88d497d7.d696e8","3ba32294.95d0ae"]]},{"id":"a8b16471.0be7e8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3760,"wires":[["c20ca282.140fe","944a04ba.05b0c8"]]},{"id":"85868153.b7e57","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3840,"wires":[["65611806.ebb5d8","c1c9a1e6.1909f"]]},{"id":"7d44bca1.6959b4","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":3920,"wires":[["db86f3f4.4db3c","aab82ee9.50d08"]]},{"id":"21048fb4.6c97e","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4000,"wires":[["10038013.1142c","4435094c.ac3698"]]},{"id":"dd954303.cd273","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4080,"wires":[["de20d585.120a18","5ec9f54c.af6cac"]]},{"id":"5b50b950.26c648","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4160,"wires":[["d92357c0.cf3da8","9f424327.0aa65"]]},{"id":"566535a1.eab3fc","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4240,"wires":[["26362cc5.d89d74","55df139c.9e2b8c"]]},{"id":"d8bc73ab.3b372","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4320,"wires":[["812b2d93.2a117","c2319b32.1b1e78"]]},{"id":"aa4bae49.7b128","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4400,"wires":[["6c4ea9b6.fd9fa8","51065fe3.ca99c"]]},{"id":"cca72b7c.d4f868","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4480,"wires":[["ac10290a.73fc78","278f0328.b81d4c"]]},{"id":"9c8c2ff5.24a6d","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4560,"wires":[["f585535.8c9a3b","c165893f.8a7878"]]},{"id":"8d52d1bb.66a73","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4640,"wires":[["a13413d5.40221","d420e4ca.443e88"]]},{"id":"4ad068b6.d26bf8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4720,"wires":[["15797188.ce472e","47183f0e.79258"]]},{"id":"5f9d8330.df164c","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1690,"y":4800,"wires":[["377f145.a5ad2ec","aed1e9f.12ba318"]]},{"id":"b6de1b47.7116c8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":2640,"wires":[["a4541fc.9793de","eb4b82a0.c691c"]]},{"id":"840732db.05b51","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":2720,"wires":[["adbf4bec.a67ab8","e3101faa.34c54"]]},{"id":"597686d8.05f578","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":2800,"wires":[["64bd06f1.8dd018","ea84cd55.029f4"]]},{"id":"9e2fca87.1df078","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":2880,"wires":[["b3e83e9a.f72ab","46484132.337"]]},{"id":"ccfe4617.81d548","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":2960,"wires":[["94119536.37f908","5c4e2ee7.aaa1f"]]},{"id":"616fa668.1a97a8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3040,"wires":[["6b88832f.5ecc1c","eeac2d25.b1a14"]]},{"id":"bd9bc020.57514","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3120,"wires":[["3ae7522e.cc1c9e","4d9958fe.66d808"]]},{"id":"5081ba.48c2ce48","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3200,"wires":[["be7692e7.2f925","d9aa1c5.cdddfe"]]},{"id":"15026f52.7ddde1","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3280,"wires":[["19914f3e.d034d1","f30d7771.8f2638"]]},{"id":"9c1dc113.022ce","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3360,"wires":[["158a09eb.18a8b6","9986bfdc.cd824"]]},{"id":"2f8d7d4d.f5a1c2","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3520,"wires":[["cb2cdb27.237038","3617d33e.1efcbc"]]},{"id":"545f1fd0.4b958","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3600,"wires":[["378f1935.09fc76","d8db8e63.cfef"]]},{"id":"1289ced3.a49981","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3680,"wires":[["335250cc.c6f08","e9bca3f.2b0f26"]]},{"id":"3337bcec.8f6574","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3760,"wires":[["135ab558.29d86b","cab38108.f4307"]]},{"id":"51e030e1.6ac3e","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3840,"wires":[["afe75bd.c8414a8","bb269b30.1d6f08"]]},{"id":"423bace.e3ebb54","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":3920,"wires":[["5cd180fb.bc075","5bd7a203.a22d3c"]]},{"id":"f7ddf144.44c52","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":4000,"wires":[["b5efac0f.679af","66ed43f9.9198bc"]]},{"id":"bd3e089d.c33798","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":4080,"wires":[["52177e78.2c335","66c2d5df.4ae5dc"]]},{"id":"cc92970d.160478","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":4160,"wires":[["de54b0e2.c3598","af57fd49.1d87"]]},{"id":"977559ce.1c8818","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2310,"y":4240,"wires":[["39b7cc1d.28b8f4","36898693.ee181a"]]},{"id":"3a1838c4.c59f68","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":2640,"wires":[["e4c5412a.8a154","4b0eec5a.bb0234"]]},{"id":"86dbf857.e6c3c8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":2720,"wires":[["fb32c6e9.8b96b8","24eb188c.9f3158"]]},{"id":"d46800d1.82d4","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":2800,"wires":[["94047206.137eb","7e04dda3.1e6b84"]]},{"id":"1883aa7.764e556","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":2880,"wires":[["467175bb.b5028c","46d39b9b.81f864"]]},{"id":"75e70340.98c07c","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":2960,"wires":[["589e0bbb.6bb5b4","c5703b84.0c33c8"]]},{"id":"73e8680f.9aef18","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3040,"wires":[["9efec556.5798d8","849e156c.fd51d8"]]},{"id":"27654843.acdad8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3120,"wires":[["1cd50425.30c84c","e29df862.150178"]]},{"id":"d3d8f353.06d27","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3200,"wires":[["b37d1244.6a28b","a82e62fb.30c1d"]]},{"id":"7e2b6df8.fbc574","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3280,"wires":[["2326f0f9.2aa77","68fcc9ae.f18fd8"]]},{"id":"2dc3db01.3262b4","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3360,"wires":[["95cb8a36.3ead58","2a3821d8.1bcede"]]},{"id":"19744e96.202ed1","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3440,"wires":[["ba63c5ef.b09438","de96ca8b.7ff638"]]},{"id":"4eb2b6f4.bbbfb8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3520,"wires":[["a38d9870.a10eb8","78b1594a.e28c68"]]},{"id":"99c0899c.72f388","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3600,"wires":[["c12bc678.22bde8","e5b59430.3138f8"]]},{"id":"46169b23.838904","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3680,"wires":[["a1c596e8.7147d8","8a55cf7e.87c7b"]]},{"id":"ac37aae8.177798","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3760,"wires":[["2f79c62e.de8baa","b66b26b7.2957c8"]]},{"id":"d4af567d.4775a8","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3840,"wires":[["1026060b.eac8da","1919c4d3.ae6c2b"]]},{"id":"8c04d7e9.ac2938","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":3920,"wires":[["6f7e1ca5.e17954","bdff7b98.c1de78"]]},{"id":"4db2ca2a.e51cc4","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":4000,"wires":[["e7a0edd9.ebcb2","77b8ebf.7163614"]]},{"id":"ec95565a.59c148","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":4080,"wires":[["787733b1.dfd94c","abb6a9d4.c2fc38"]]},{"id":"f2c39ca7.d5dd5","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":2950,"y":4160,"wires":[["d8805ce.fc5eca","921a7a0.3daef88"]]},{"id":"a33f660e.cd0eb8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.62","host":"192.168.1.62","timer":"60","inputs":0,"x":770,"y":2220,"wires":[["9653e4a2.87a918"]]},{"id":"9653e4a2.87a918","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":2220,"wires":[["1ccff3f7.aacf5c","5debf2d1.b0e9dc"]]},{"id":"5debf2d1.b0e9dc","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip62","topic":"status/network/ip62","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1150,"y":2260,"wires":[]},{"id":"1ccff3f7.aacf5c","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip62","measurement":"status/network/ip62","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1150,"y":2220,"wires":[]},{"id":"fb945fab.810b","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.22","host":"192.168.1.22","timer":"780","inputs":0,"x":850,"y":3040,"wires":[["10fc1497.6f639b"]]},{"id":"10fc1497.6f639b","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3040,"wires":[["b05f2192.c0aac"]]},{"id":"69ecff05.9f961","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip22","topic":"status/network/ip22","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3080,"wires":[]},{"id":"108b66d4.26d839","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip22","measurement":"status/network/ip22","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3040,"wires":[]},{"id":"b05f2192.c0aac","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3080,"wires":[["69ecff05.9f961","108b66d4.26d839"]]},{"id":"4192c7c3.4c0eb8","type":"ping","z":"dc4e9f9a.4df2e","protocol":"Automatic","mode":"timed","name":"192.168.1.23","host":"192.168.1.23","timer":"780","inputs":0,"x":850,"y":3120,"wires":[["f13bbfe.ad36f4"]]},{"id":"f13bbfe.ad36f4","type":"function","z":"dc4e9f9a.4df2e","name":"","func":"var towerOn = (msg.payload);\nif (towerOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":3120,"wires":[["e95f89.2c405078"]]},{"id":"b7fc68c.f1bc198","type":"mqtt out","z":"dc4e9f9a.4df2e","name":"status/network/ip23","topic":"status/network/ip23","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1230,"y":3160,"wires":[]},{"id":"cf806f98.08a13","type":"influxdb out","z":"dc4e9f9a.4df2e","influxdb":"cd839b2b.295008","name":"status/network/ip23","measurement":"status/network/ip23","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1230,"y":3120,"wires":[]},{"id":"e95f89.2c405078","type":"rbe","z":"dc4e9f9a.4df2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1030,"y":3160,"wires":[["b7fc68c.f1bc198","cf806f98.08a13"]]},{"id":"14f8a078.37047","type":"ui_group","name":"NodeMCU & Internet","tab":"8d37a358.3a4e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"8d37a358.3a4e8","type":"ui_tab","name":"System Status","icon":"dashboard","disabled":false,"hidden":false}]