flows_45_yrforecast_20230321.json
[{"id":"7e0c176a.192ec8","type":"tab","label":"yr-forecast","disabled":false,"info":""},{"id":"8c1f42db.434a9","type":"inject","z":"7e0c176a.192ec8","name":"7min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["e4f57bf6.b50768"]]},{"id":"e4f57bf6.b50768","type":"http request","z":"7e0c176a.192ec8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.yr.no/api/v0/locations/2-956767/forecast/currenthour","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":200,"wires":[["96ea865e.353e88"]]},{"id":"bd5d8a18.423528","type":"comment","z":"7e0c176a.192ec8","name":"get yr.no temp forecast","info":"","x":160,"y":140,"wires":[]},{"id":"96ea865e.353e88","type":"json","z":"7e0c176a.192ec8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":260,"wires":[["b31c1a52.552bd8"]]},{"id":"b31c1a52.552bd8","type":"function","z":"7e0c176a.192ec8","name":"","func":"msg.payload = msg.payload.temperature.value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["f9711cd8.1100b","1b689fe0.fdc3","f3a32872.092188"]]},{"id":"f9711cd8.1100b","type":"mqtt out","z":"7e0c176a.192ec8","name":"weather/yrno/outTemp","topic":"weather/yrno/outTemp","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":800,"y":260,"wires":[]},{"id":"4efe1e98.96bff","type":"debug","z":"7e0c176a.192ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"60995244.a54e7c","type":"mqtt out","z":"7e0c176a.192ec8","name":"weather/yrno/forcErrorT","topic":"weather/yrno/forcErrorT","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":810,"y":460,"wires":[]},{"id":"a8c4feff.0e316","type":"influxdb out","z":"7e0c176a.192ec8","influxdb":"cd839b2b.295008","name":"weather/yrno/outTemp","measurement":"weather/yrno/outTemp","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":800,"y":320,"wires":[]},{"id":"82e673c.c0e659","type":"influxdb out","z":"7e0c176a.192ec8","influxdb":"cd839b2b.295008","name":"weather/yrno/forcErrorT","measurement":"weather/yrno/forcErrorT","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":810,"y":520,"wires":[]},{"id":"e34a1887.5e5848","type":"json","z":"7e0c176a.192ec8","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":520,"wires":[["82e673c.c0e659"]]},{"id":"1b689fe0.fdc3","type":"json","z":"7e0c176a.192ec8","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":320,"wires":[["a8c4feff.0e316"]]},{"id":"d035b050.5e609","type":"change","z":"7e0c176a.192ec8","name":"","rules":[{"t":"set","p":"outTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[["585dec2c.6ce3c4"]]},{"id":"f3a32872.092188","type":"change","z":"7e0c176a.192ec8","name":"","rules":[{"t":"set","p":"yrnoOutTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":220,"wires":[["abec672c.bd2048"]]},{"id":"46bc06f7.0dd638","type":"inject","z":"7e0c176a.192ec8","name":"2min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":460,"wires":[["2740315e.8928ce"]]},{"id":"e45df9d7.287028","type":"link in","z":"7e0c176a.192ec8","name":"","links":["4fc81934.301998"],"x":355,"y":380,"wires":[["d035b050.5e609"]]},{"id":"2740315e.8928ce","type":"function","z":"7e0c176a.192ec8","name":"","func":"var outT = flow.get(\"outTemp\");\nvar yrOutT = flow.get(\"yrnoOutTemp\");\nmsg.payload = outT - yrOutT;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":460,"wires":[["4efe1e98.96bff","e34a1887.5e5848","60995244.a54e7c"]]},{"id":"585dec2c.6ce3c4","type":"debug","z":"7e0c176a.192ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":380,"wires":[]},{"id":"abec672c.bd2048","type":"debug","z":"7e0c176a.192ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":220,"wires":[]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false}]