flows_45_cpu_20230321.json
[{"id":"7d044ef1.eef4d","type":"tab","label":"CPU","disabled":false,"info":""},{"id":"30c56f74.5f83c","type":"inject","z":"7d044ef1.eef4d","name":"DT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["4391f3fb.d1f90c","bd0d614f.4a983","af4dae97.1093f","7b63f215.4f9f5c","de4be598.37faa8","f4c3d1db.0432e","92f5804b.e8063"]]},{"id":"4391f3fb.d1f90c","type":"moment","z":"7d044ef1.eef4d","name":"DT","topic":"weather","input":"","inputType":"msg","inTz":"Africa/Johannesburg","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-GB","output":"","outputType":"msg","outTz":"Africa/Johannesburg","x":290,"y":100,"wires":[[]]},{"id":"bd0d614f.4a983","type":"cpu","z":"7d044ef1.eef4d","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":310,"y":160,"wires":[["b1fbd829.f53e78"]]},{"id":"af4dae97.1093f","type":"cpu","z":"7d044ef1.eef4d","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":310,"y":220,"wires":[["907f95.0fd11068"]]},{"id":"de4be598.37faa8","type":"network_stats","z":"7d044ef1.eef4d","name":"","receivedBytesSec":true,"transmittedBytesSec":false,"x":320,"y":340,"wires":[["f3bf995.d8cb068"]]},{"id":"7b63f215.4f9f5c","type":"memory","z":"7d044ef1.eef4d","name":"","relativeValues":false,"unitType":"mb","totalMemory":false,"usedMemory":false,"freeMemory":false,"availableMemory":false,"activeMemory":true,"buffersMemory":false,"cachedMemory":false,"slabMemory":false,"buffcacheMemory":false,"freeAvailableMemory":false,"swapTotalMemory":false,"swapUsedMemory":false,"swapFreeMemory":false,"x":300,"y":280,"wires":[["b85410ad.55769"]]},{"id":"b1fbd829.f53e78","type":"mqtt out","z":"7d044ef1.eef4d","name":"","topic":"status/zs6cr-rpi-mqtt/cpu_perc","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":730,"y":160,"wires":[]},{"id":"907f95.0fd11068","type":"mqtt out","z":"7d044ef1.eef4d","name":"","topic":"status/zs6cr-rpi-mqtt/temp_C","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":720,"y":220,"wires":[]},{"id":"32d61f08.48e9f","type":"mqtt out","z":"7d044ef1.eef4d","name":"","topic":"status/zs6cr-rpi-mqtt/mem_perc","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":730,"y":280,"wires":[]},{"id":"e30685a2.9ef1a8","type":"mqtt out","z":"7d044ef1.eef4d","name":"","topic":"status/zs6cr-rpi-mqtt/netRX_kBps","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":740,"y":340,"wires":[]},{"id":"f4c3d1db.0432e","type":"network_stats","z":"7d044ef1.eef4d","name":"","receivedBytesSec":false,"transmittedBytesSec":true,"x":320,"y":400,"wires":[["be008813.2074a8"]]},{"id":"7d1b8834.a5a658","type":"mqtt out","z":"7d044ef1.eef4d","name":"","topic":"status/zs6cr-rpi-mqtt/netTX_kBps","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":740,"y":400,"wires":[]},{"id":"b85410ad.55769","type":"range","z":"7d044ef1.eef4d","minin":"1","maxin":"512","minout":"1","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":480,"y":280,"wires":[["32d61f08.48e9f"]]},{"id":"f3bf995.d8cb068","type":"range","z":"7d044ef1.eef4d","minin":"0","maxin":"1024","minout":"0","maxout":"1","action":"scale","round":false,"property":"payload","name":"","x":490,"y":340,"wires":[["e30685a2.9ef1a8"]]},{"id":"be008813.2074a8","type":"range","z":"7d044ef1.eef4d","minin":"0","maxin":"1024","minout":"0","maxout":"1","action":"scale","round":false,"property":"payload","name":"","x":490,"y":400,"wires":[["7d1b8834.a5a658"]]},{"id":"92f5804b.e8063","type":"Drives","z":"7d044ef1.eef4d","name":"","x":290,"y":460,"wires":[["f27ce208.40bfb"]]},{"id":"f27ce208.40bfb","type":"change","z":"7d044ef1.eef4d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].capacity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":460,"wires":[["cf5e0e64.65663"]]},{"id":"cf5e0e64.65663","type":"range","z":"7d044ef1.eef4d","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":480,"y":500,"wires":[["284b825e.f4789e"]]},{"id":"284b825e.f4789e","type":"mqtt out","z":"7d044ef1.eef4d","name":"","topic":"status/zs6cr-rpi-mqtt/disk_perc","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":730,"y":500,"wires":[]},{"id":"79f0ace4.8fe224","type":"comment","z":"7d044ef1.eef4d","name":"Pushover info","info":"Key\nujbnopt4yv9b94rj1xcme7kzp7oihb\n\nAPI\nam2seebcb6yx3zmkp6fvtx2o3q9mxv\n","x":130,"y":620,"wires":[]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]