flows_45_waterelec_20230321.json
[{"id":"1b07d86a.890438","type":"tab","label":"Water_Elec","disabled":false,"info":""},{"id":"94773a61.6848d8","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"water/pressure_bar","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":80,"wires":[["99d4e4b8.c4d318"]]},{"id":"808411b7.eccc6","type":"ui_chart","z":"1b07d86a.890438","name":"","group":"d4c29eeb.c418f","order":1,"width":0,"height":0,"label":"Water Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":80,"wires":[[]]},{"id":"99d4e4b8.c4d318","type":"smooth","z":"1b07d86a.890438","name":"","property":"payload","action":"low","count":"5","round":"","mult":"single","reduce":false,"x":360,"y":80,"wires":[["808411b7.eccc6","8445519c.a5982","ea6752e9.0b65b","b7125e13.7b5e1"]]},{"id":"e993cb78.8b96c8","type":"delay","z":"1b07d86a.890438","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":720,"wires":[["80a6509e.e0e21","c6423d89.bfe5d","458f129b.b9cb1c","2320b1d2.f996ae"]]},{"id":"80a6509e.e0e21","type":"ui_text","z":"1b07d86a.890438","group":"d4c29eeb.c418f","order":4,"width":0,"height":0,"name":"","label":"Geyser Temperature","format":"{{msg.payload  | number: 1}}","layout":"row-spread","x":620,"y":720,"wires":[]},{"id":"c6423d89.bfe5d","type":"ui_chart","z":"1b07d86a.890438","name":"","group":"d4c29eeb.c418f","order":3,"width":0,"height":0,"label":"Geyser Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":760,"wires":[[]]},{"id":"8445519c.a5982","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/pressure_bar","measurement":"water/pressure_bar","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":180,"wires":[]},{"id":"48b7042c.610f1c","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/geyserTemp_C","measurement":"water/geyserTemp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":620,"y":800,"wires":[]},{"id":"458f129b.b9cb1c","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":680,"wires":[]},{"id":"290d2fcb.fdb66","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"water/temperature_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":580,"wires":[["7df56d8b.c4b8f4"]]},{"id":"b29dcdc4.cd274","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/temperature_C","measurement":"water/temperature_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":620,"y":580,"wires":[]},{"id":"7df56d8b.c4b8f4","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":580,"wires":[["b29dcdc4.cd274","66424cea.ef8b24"]]},{"id":"66424cea.ef8b24","type":"ui_text","z":"1b07d86a.890438","group":"d4c29eeb.c418f","order":2,"width":0,"height":0,"name":"","label":"Water Temp ","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":620,"wires":[]},{"id":"4d09eb1d.6f4504","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"GB_A_water/pressure_bar","qos":"0","datatype":"auto","broker":"de2e7ec5.e5217","nl":false,"rap":true,"rh":0,"x":170,"y":1340,"wires":[["122464b.45a289b","85bc0021.d45ba"]]},{"id":"6908dd23.f92704","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1260,"wires":[]},{"id":"122464b.45a289b","type":"smooth","z":"1b07d86a.890438","name":"","property":"payload","action":"low","count":"5","round":"","mult":"single","reduce":false,"x":400,"y":1340,"wires":[["8dcfdaa7.867c08","ec1d1676.8f3588"]]},{"id":"ea6752e9.0b65b","type":"mqtt out","z":"1b07d86a.890438","name":"","topic":"water/pressure_bar_lowpass","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":640,"y":120,"wires":[]},{"id":"8dcfdaa7.867c08","type":"mqtt out","z":"1b07d86a.890438","name":"","topic":"water/ZS6GC_pressure_bar_filt","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":650,"y":1340,"wires":[]},{"id":"ec1d1676.8f3588","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/ZS6GC_pressure_bar","measurement":"water/ZS6GC_pressure_bar","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":1400,"wires":[]},{"id":"b7125e13.7b5e1","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"b03ea983.1d4e88","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"GB_Inv/bp","qos":"0","datatype":"auto","broker":"76e7f063.83b2","nl":false,"rap":true,"rh":0,"x":120,"y":1520,"wires":[["6af103eb.f1407c"]]},{"id":"7ec33d31.0c8114","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"GB_Inv/gp","qos":"0","datatype":"auto","broker":"76e7f063.83b2","nl":false,"rap":true,"rh":0,"x":120,"y":1560,"wires":[["1ee574b5.90084b"]]},{"id":"aacc8b09.0e7ce8","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"GB_Inv/lp","qos":"0","datatype":"auto","broker":"76e7f063.83b2","nl":false,"rap":true,"rh":0,"x":120,"y":1600,"wires":[["3e2d80b4.b5474"]]},{"id":"8b174ebe.a60e","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"GB_Inv/pvp","qos":"0","datatype":"auto","broker":"76e7f063.83b2","nl":false,"rap":true,"rh":0,"x":130,"y":1640,"wires":[["e8956b5f.2ad688"]]},{"id":"980bd95.768b528","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"GB_Inv/gridv","qos":"0","datatype":"auto","broker":"76e7f063.83b2","nl":false,"rap":true,"rh":0,"x":130,"y":1680,"wires":[["b9af40de.75d16","fc74d3c.a23283"]]},{"id":"c9b94e63.42406","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1480,"wires":[]},{"id":"6af103eb.f1407c","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":1520,"wires":[["c9b94e63.42406","4e87ec0c.03dc44"]]},{"id":"1ee574b5.90084b","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":1560,"wires":[["8cee9a97.758498"]]},{"id":"3e2d80b4.b5474","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":1600,"wires":[["c7c06135.8cfa4"]]},{"id":"e8956b5f.2ad688","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":1640,"wires":[["afa1bd.1fa6ce4"]]},{"id":"b9af40de.75d16","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":1680,"wires":[["837a56a3.f0d518"]]},{"id":"837a56a3.f0d518","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"GB_Inv/gridv","measurement":"GB_Inv/gridv","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":1680,"wires":[]},{"id":"afa1bd.1fa6ce4","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"GB_Inv/pvp","measurement":"GB_Inv/pvp","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":1640,"wires":[]},{"id":"c7c06135.8cfa4","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"GB_Inv/lp","measurement":"GB_Inv/lp","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":580,"y":1600,"wires":[]},{"id":"8cee9a97.758498","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"GB_Inv/gp","measurement":"GB_Inv/gp","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":1560,"wires":[]},{"id":"4e87ec0c.03dc44","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"GB_Inv/bp","measurement":"GB_Inv/bp","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":590,"y":1520,"wires":[]},{"id":"d9d66166.09d89","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"water/pressure_raw","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":300,"wires":[["562f3634.f954b8","7eacfded.779cd4"]]},{"id":"562f3634.f954b8","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":240,"wires":[]},{"id":"d1d9113f.5da0f","type":"calculator","z":"1b07d86a.890438","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"3.3","round":false,"decimals":0,"x":360,"y":340,"wires":[["a00982e6.4d78e"]]},{"id":"7eacfded.779cd4","type":"calculator","z":"1b07d86a.890438","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"1024","round":false,"decimals":0,"x":350,"y":300,"wires":[["d1d9113f.5da0f"]]},{"id":"a00982e6.4d78e","type":"calculator","z":"1b07d86a.890438","name":"Subtract Bias","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"0.43828","round":false,"decimals":0,"x":370,"y":380,"wires":[["ebf1a28c.bd78b"]]},{"id":"ebf1a28c.bd78b","type":"calculator","z":"1b07d86a.890438","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"16","round":false,"decimals":0,"x":360,"y":420,"wires":[["f1f86568.2ac9a8"]]},{"id":"f1f86568.2ac9a8","type":"calculator","z":"1b07d86a.890438","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"3","round":false,"decimals":0,"x":350,"y":460,"wires":[["ac6418bb.00f418"]]},{"id":"e23c20c2.11f1e","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/pressure2_kPa","measurement":"water/pressure2_kPa","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":620,"y":500,"wires":[]},{"id":"ac6418bb.00f418","type":"calculator","z":"1b07d86a.890438","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"100","round":false,"decimals":0,"x":360,"y":500,"wires":[["e23c20c2.11f1e","6726075a.880fe8","58c42b01.489024","868639a.aa99bc8","e4e579d0.d68708"]]},{"id":"6726075a.880fe8","type":"mqtt out","z":"1b07d86a.890438","name":"","topic":"water/pressure2_kPa","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":620,"y":440,"wires":[]},{"id":"ebbed89a.bf4d58","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"water/geyserTemp_C","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":720,"wires":[["e993cb78.8b96c8"]]},{"id":"2320b1d2.f996ae","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":800,"wires":[["48b7042c.610f1c","3fa3034b.3ce1dc"]]},{"id":"c8b3bf1f.ceb4","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"water/roofTemp_C","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":960,"wires":[["76562a9a.b73144"]]},{"id":"76562a9a.b73144","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":960,"wires":[["df04792f.bad2b8"]]},{"id":"df04792f.bad2b8","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/roofTemp_C","measurement":"water/roofTemp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":960,"wires":[]},{"id":"ed4bb725.e108c8","type":"mqtt in","z":"1b07d86a.890438","name":"","topic":"test/analog_raw","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":1040,"wires":[["19b9431e.a2f92d"]]},{"id":"19b9431e.a2f92d","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":1040,"wires":[["c62d3073.9dfc1"]]},{"id":"c62d3073.9dfc1","type":"range","z":"1b07d86a.890438","minin":"0","maxin":"1024","minout":"0","maxout":"251","action":"scale","round":false,"property":"payload","name":"","x":370,"y":1080,"wires":[["55f404e.588a8fc"]]},{"id":"98d3132e.d7fae","type":"mqtt out","z":"1b07d86a.890438","name":"","topic":"test/gridV","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":580,"y":1040,"wires":[]},{"id":"5313fa34.50b1a4","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"test/gridV","measurement":"test/gridV","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":580,"y":1100,"wires":[]},{"id":"31cf7523.4ae58a","type":"comment","z":"1b07d86a.890438","name":"grid voltage sensor","info":"","x":110,"y":1100,"wires":[]},{"id":"55f404e.588a8fc","type":"smooth","z":"1b07d86a.890438","name":"","property":"payload","action":"max","count":"1","round":"","mult":"single","reduce":false,"x":380,"y":1120,"wires":[["98d3132e.d7fae","5313fa34.50b1a4","38760cc1.4a5164","69b10936.2b8368"]]},{"id":"38760cc1.4a5164","type":"function","z":"1b07d86a.890438","name":"","func":"var voltage = (msg.payload);\nvar elecOn = 0;\nif (voltage > 200)\n{\n    elecOn = 1;\n}\nelse\n{\n    elecOn = 0;\n}\nmsg.payload = elecOn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1220,"wires":[["2b94ac08.57fff4","6908dd23.f92704","2c842cb.50945d4","baf914f2.9cb528"]]},{"id":"2b94ac08.57fff4","type":"mqtt out","z":"1b07d86a.890438","name":"","topic":"status/elec/elecOn","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":610,"y":1180,"wires":[]},{"id":"2c842cb.50945d4","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"status/elec/elecOn","measurement":"status/elec/elecOn","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":1220,"wires":[]},{"id":"cf6e4f1.f40f2b","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":1220,"wires":[]},{"id":"69b10936.2b8368","type":"change","z":"1b07d86a.890438","name":"","rules":[{"t":"set","p":"grid_c","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1140,"wires":[["9848b5fc.e53cd8"]]},{"id":"fc74d3c.a23283","type":"change","z":"1b07d86a.890438","name":"","rules":[{"t":"set","p":"grid_g","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1720,"wires":[["9848b5fc.e53cd8"]]},{"id":"9848b5fc.e53cd8","type":"join","z":"1b07d86a.890438","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":1060,"wires":[["bf2194dc.4db378"]]},{"id":"89fa523d.61c7e","type":"ui_chart","z":"1b07d86a.890438","name":"","group":"1b77c87.4ba0838","order":2,"width":0,"height":0,"label":"Vdiff sm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1120,"y":1300,"wires":[[]]},{"id":"3465884c.7a6958","type":"ui_gauge","z":"1b07d86a.890438","name":"","group":"1b77c87.4ba0838","order":1,"width":0,"height":0,"gtype":"gage","title":"Vdiff sm","label":"V","format":"{{value | number: 1}}","min":"-10","max":10,"colors":["#fff700","#1be600","#fbff00"],"seg1":"","seg2":"","x":1120,"y":1260,"wires":[]},{"id":"e5421eb1.d5f1e","type":"smooth","z":"1b07d86a.890438","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":940,"y":1220,"wires":[["cf6e4f1.f40f2b","3465884c.7a6958","89fa523d.61c7e"]]},{"id":"bf2194dc.4db378","type":"func-exec","z":"1b07d86a.890438","name":"","func":"msg.payload = Number(msg.grid_c) - Number(msg.grid_g);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1120,"wires":[["e5421eb1.d5f1e","9fbb398c.1182b8","bd4cc73f.a750e8","bd45a13c.00f26","efd4e7df.cb2ef8"]]},{"id":"9fbb398c.1182b8","type":"ui_chart","z":"1b07d86a.890438","name":"","group":"1b77c87.4ba0838","order":3,"width":0,"height":0,"label":"Vdiff","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1110,"y":1180,"wires":[[]]},{"id":"bd45a13c.00f26","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":1060,"wires":[]},{"id":"bd4cc73f.a750e8","type":"mqtt out","z":"1b07d86a.890438","name":"","topic":"test/gridV_diff","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1140,"y":1140,"wires":[]},{"id":"efd4e7df.cb2ef8","type":"influxdb out","z":"1b07d86a.890438","influxdb":"c4856a36.738a08","name":"test/gridV_diff","measurement":"test/gridV_diff","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1140,"y":1100,"wires":[]},{"id":"a0f3f95d.6dee48","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1960,"wires":[["46a91cc9.8d3ea4"]]},{"id":"46a91cc9.8d3ea4","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/tank/level_percent","measurement":"water/tank/level_percent","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":1960,"wires":[]},{"id":"9db99a46.f2e308","type":"mqtt in","z":"1b07d86a.890438","name":"weather/airquality/CO2","topic":"weather/airquality/CO2","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":2460,"wires":[["f5602082.957cd"]]},{"id":"f5602082.957cd","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2460,"wires":[["8eb34fcd.46cf6"]]},{"id":"8eb34fcd.46cf6","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"weather/airquality/CO2","measurement":"weather/airquality/CO2","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":620,"y":2460,"wires":[]},{"id":"dd95f54c.afb998","type":"mqtt in","z":"1b07d86a.890438","name":"weather/airquality/PM2_5","topic":"weather/airquality/PM2_5","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":2520,"wires":[["53938202.168ebc"]]},{"id":"53938202.168ebc","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2520,"wires":[["b68da071.6092b"]]},{"id":"b68da071.6092b","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"weather/airquality/PM2_5","measurement":"weather/airquality/PM2_5","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":630,"y":2520,"wires":[]},{"id":"52bd116f.f3c66","type":"mqtt in","z":"1b07d86a.890438","name":"weather/airquality/TVOC","topic":"weather/airquality/TVOC","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":2580,"wires":[["e338f40e.2d3538"]]},{"id":"e338f40e.2d3538","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2580,"wires":[["49bf36b.3801ec8"]]},{"id":"49bf36b.3801ec8","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"weather/airquality/TVOC","measurement":"weather/airquality/TVOC","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":630,"y":2580,"wires":[]},{"id":"a287fc59.0be04","type":"mqtt in","z":"1b07d86a.890438","name":"weather/lightning/distance_km","topic":"weather/lightning/distance_km","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":180,"y":2680,"wires":[["d064282f.676938"]]},{"id":"d064282f.676938","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2680,"wires":[["6f43763b.d1f298"]]},{"id":"6f43763b.d1f298","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"weather/lightning/distance_km","measurement":"weather/lightning/distance_km","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":2680,"wires":[]},{"id":"48e275f0.42066c","type":"mqtt in","z":"1b07d86a.890438","name":"weather/lightning/strikes_per_min","topic":"weather/lightning/strikes_per_min","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":190,"y":2740,"wires":[["40b450.c307fbb"]]},{"id":"40b450.c307fbb","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2740,"wires":[["c4afdf18.55c5f"]]},{"id":"c4afdf18.55c5f","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"weather/lightning/strikes_per_min","measurement":"weather/lightning/strikes_per_min","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":660,"y":2740,"wires":[]},{"id":"58c42b01.489024","type":"change","z":"1b07d86a.890438","name":"","rules":[{"t":"set","p":"kpa_c","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["b6f01d78.df54c"]]},{"id":"d837b648.766fd8","type":"change","z":"1b07d86a.890438","name":"","rules":[{"t":"set","p":"kpa_g","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1300,"wires":[["b6f01d78.df54c"]]},{"id":"7f5fa9a5.9a5638","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":820,"wires":[]},{"id":"b6f01d78.df54c","type":"join","z":"1b07d86a.890438","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":740,"wires":[["360fd7d.6726228"]]},{"id":"b59fe2f8.aac5d","type":"ui_chart","z":"1b07d86a.890438","name":"","group":"1b77c87.4ba0838","order":2,"width":0,"height":0,"label":"Pdiff sm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1120,"y":900,"wires":[[]]},{"id":"392d5475.4c277c","type":"ui_gauge","z":"1b07d86a.890438","name":"","group":"1b77c87.4ba0838","order":1,"width":0,"height":0,"gtype":"gage","title":"Pdiff sm","label":"V","format":"{{value | number: 1}}","min":"-10","max":10,"colors":["#fff700","#1be600","#fbff00"],"seg1":"","seg2":"","x":1120,"y":860,"wires":[]},{"id":"8478b412.1010d8","type":"smooth","z":"1b07d86a.890438","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":940,"y":820,"wires":[["7f5fa9a5.9a5638","392d5475.4c277c","b59fe2f8.aac5d"]]},{"id":"360fd7d.6726228","type":"func-exec","z":"1b07d86a.890438","name":"","func":"msg.payload = Number(msg.kpa_c) - Number(msg.kpa_g);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":640,"wires":[["8478b412.1010d8","a85b6a5e.de6608","f5c9ca58.7d80d8","71ab69b5.afaad8","c087ee8a.0996e"]]},{"id":"a85b6a5e.de6608","type":"ui_chart","z":"1b07d86a.890438","name":"","group":"1b77c87.4ba0838","order":3,"width":0,"height":0,"label":"Pdiff","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1110,"y":780,"wires":[[]]},{"id":"71ab69b5.afaad8","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":640,"wires":[]},{"id":"f5c9ca58.7d80d8","type":"mqtt out","z":"1b07d86a.890438","name":"water/waterP_diff","topic":"water/waterP_diff","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1150,"y":720,"wires":[]},{"id":"c087ee8a.0996e","type":"influxdb out","z":"1b07d86a.890438","influxdb":"c4856a36.738a08","name":"water/waterP_diff","measurement":"water/waterP_diff","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1150,"y":680,"wires":[]},{"id":"85bc0021.d45ba","type":"calculator","z":"1b07d86a.890438","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"100","round":false,"decimals":0,"x":400,"y":1300,"wires":[["d837b648.766fd8","6794d23d.16136c"]]},{"id":"868639a.aa99bc8","type":"debug","z":"1b07d86a.890438","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"baf914f2.9cb528","type":"rbe","z":"1b07d86a.890438","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":930,"y":1360,"wires":[["fa59819.f3ec48","b50cf0f7.59172","dee5c7a7.9a88a8"]]},{"id":"fa59819.f3ec48","type":"debug","z":"1b07d86a.890438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":1360,"wires":[]},{"id":"b50cf0f7.59172","type":"Message Counter","z":"1b07d86a.890438","name":"","units":"hours","interval":"24","alignToClock":true,"generator":"internal","x":970,"y":1420,"wires":[["fa59819.f3ec48"],[]]},{"id":"dee5c7a7.9a88a8","type":"change","z":"1b07d86a.890438","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Electricity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1480,"wires":[["a302fcbf.bfbe8"]]},{"id":"a302fcbf.bfbe8","type":"link out","z":"1b07d86a.890438","name":"notify_elec","links":["8e009ddc.4d22e"],"x":1075,"y":1480,"wires":[]},{"id":"3fa3034b.3ce1dc","type":"function","z":"1b07d86a.890438","name":"","func":"val = msg.payload;\nif (val < 50){\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":860,"wires":[["7a33ca16.ec35a4"]]},{"id":"2f23d838.bcf358","type":"change","z":"1b07d86a.890438","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Geyser Temp LOW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":860,"wires":[["4266e593.6251cc"]]},{"id":"4266e593.6251cc","type":"link out","z":"1b07d86a.890438","name":"GeyserT.LOW","links":["bd3a8b56.fc6538"],"x":715,"y":860,"wires":[]},{"id":"7a33ca16.ec35a4","type":"rbe","z":"1b07d86a.890438","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":430,"y":860,"wires":[["2f23d838.bcf358"]]},{"id":"152fbe1a.ff7982","type":"mqtt in","z":"1b07d86a.890438","name":"zs6bam/mains/voltage","topic":"zs6bam/mains/voltage","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":2880,"wires":[["5664ba2f.96dba4"]]},{"id":"5664ba2f.96dba4","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2880,"wires":[["9737c440.e65768"]]},{"id":"9737c440.e65768","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"zs6bam/mains/voltage","measurement":"zs6bam/mains/voltage","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":620,"y":2880,"wires":[]},{"id":"a1decd2a.61717","type":"mqtt in","z":"1b07d86a.890438","name":"water/tank/battery_voltage","topic":"water/tank/battery_voltage","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":2160,"wires":[["3ef7a59.19a495a","8c3fc1ce.fab0a"]]},{"id":"3ef7a59.19a495a","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2160,"wires":[["657b318f.30349"]]},{"id":"657b318f.30349","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/tank/battery_voltage","measurement":"water/tank/battery_voltage","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":680,"y":2160,"wires":[]},{"id":"76f3a221.58c19c","type":"mqtt in","z":"1b07d86a.890438","name":"water/tank/rssi","topic":"water/tank/rssi","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":130,"y":2240,"wires":[["5ffbfe99.86cdd","c36b50ea.63c6f"]]},{"id":"5ffbfe99.86cdd","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2240,"wires":[["8e39034e.d45dc"]]},{"id":"8e39034e.d45dc","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/tank/rssi","measurement":"water/tank/rssi","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":2240,"wires":[]},{"id":"8c3fc1ce.fab0a","type":"ui_gauge","z":"1b07d86a.890438","name":"","group":"c63c72e.7876f9","order":3,"width":0,"height":0,"gtype":"gage","title":"Tank Battery","label":"V","format":"{{value | number: 1}}","min":"3","max":"4.4","colors":["#ff1100","#e6e600","#1eff00"],"seg1":"","seg2":"","x":430,"y":2200,"wires":[]},{"id":"f2b6a4ec.e077b8","type":"ui_gauge","z":"1b07d86a.890438","name":"","group":"c63c72e.7876f9","order":1,"width":0,"height":0,"gtype":"gage","title":"Tank Level","label":"%","format":"{{value | number: 1}}","min":"0","max":"105","colors":["#ff0000","#e6e600","#00ff33"],"seg1":"","seg2":"","x":770,"y":2000,"wires":[]},{"id":"c36b50ea.63c6f","type":"ui_gauge","z":"1b07d86a.890438","name":"","group":"c63c72e.7876f9","order":4,"width":0,"height":0,"gtype":"gage","title":"Tank RSSI","label":"dBm","format":"{{value | number: 1}}","min":"-120","max":"-50","colors":["#ff0000","#e6e600","#37ff00"],"seg1":"","seg2":"","x":430,"y":2280,"wires":[]},{"id":"e4e579d0.d68708","type":"ui_gauge","z":"1b07d86a.890438","name":"","group":"c63c72e.7876f9","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"kPa","format":"{{value | number: 1}}","min":"0","max":"1100","colors":["#ff0000","#ffc905","#00ff1e"],"seg1":"","seg2":"","x":580,"y":540,"wires":[]},{"id":"a38d696d.be83f8","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":2100,"wires":[["e28fc17b.c4466"]]},{"id":"e28fc17b.c4466","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/tank/liter","measurement":"water/tank/liter","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1000,"y":2100,"wires":[]},{"id":"6794d23d.16136c","type":"ui_gauge","z":"1b07d86a.890438","name":"","group":"c63c72e.7876f9","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure GB","label":"kPa","format":"{{value | number: 1}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":1440,"wires":[]},{"id":"70eaf2d8.f147ec","type":"mqtt in","z":"1b07d86a.890438","name":"water/tank/raw_cm","topic":"water/tank/raw_cm","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":1860,"wires":[["8dd5e68.9572418","3d467484.f4732c"]]},{"id":"8dd5e68.9572418","type":"json","z":"1b07d86a.890438","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":1860,"wires":[["3e7714d7.70a1dc"]]},{"id":"3e7714d7.70a1dc","type":"influxdb out","z":"1b07d86a.890438","influxdb":"cd839b2b.295008","name":"water/tank/raw_cm","measurement":"water/tank/raw_cm","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":1860,"wires":[]},{"id":"1d01b3cf.75654c","type":"mqtt out","z":"1b07d86a.890438","name":"water/tank/liter","topic":"water/tank/liter","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1000,"y":2040,"wires":[]},{"id":"3d467484.f4732c","type":"range","z":"1b07d86a.890438","minin":"26","maxin":"192","minout":"100","maxout":"0","action":"scale","round":false,"property":"payload","name":"scale distance to volume percentage","x":510,"y":1900,"wires":[["a0f3f95d.6dee48","f2b6a4ec.e077b8","9d2ec122.4b53","86473ebd.1bc35"]]},{"id":"d4984d26.971b8","type":"comment","z":"1b07d86a.890438","name":"water tank","info":"","x":80,"y":1800,"wires":[]},{"id":"5eee4cd9.3ee894","type":"comment","z":"1b07d86a.890438","name":"air quality","info":"","x":80,"y":2420,"wires":[]},{"id":"25aaa1bd.1c273e","type":"comment","z":"1b07d86a.890438","name":"barend mains V","info":"","x":100,"y":2840,"wires":[]},{"id":"7e275ae5.1da6e4","type":"comment","z":"1b07d86a.890438","name":"GB water","info":"","x":80,"y":1280,"wires":[]},{"id":"671c6d61.d27fa4","type":"comment","z":"1b07d86a.890438","name":"GB inverter","info":"","x":90,"y":1460,"wires":[]},{"id":"10368653.a83cba","type":"comment","z":"1b07d86a.890438","name":"geyser","info":"","x":70,"y":680,"wires":[]},{"id":"60874383.5f3f7c","type":"comment","z":"1b07d86a.890438","name":"water","info":"","x":70,"y":40,"wires":[]},{"id":"9d2ec122.4b53","type":"mqtt out","z":"1b07d86a.890438","name":"water/tank/level_percent","topic":"water/tank/level_percent","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":1030,"y":1900,"wires":[]},{"id":"86473ebd.1bc35","type":"range","z":"1b07d86a.890438","minin":"0","maxin":"100","minout":"0","maxout":"1980","action":"scale","round":false,"property":"payload","name":"percent to liter","x":780,"y":2040,"wires":[["1d01b3cf.75654c","a38d696d.be83f8"]]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d4c29eeb.c418f","type":"ui_group","name":"Other","tab":"f8e48a5e.ceb3c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"de2e7ec5.e5217","type":"mqtt-broker","name":"GertB","broker":"gertb.homeip.net","port":"41883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"76e7f063.83b2","type":"mqtt-broker","name":"GertB","broker":"gertb.homeip.net","port":"41883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1b77c87.4ba0838","type":"ui_group","name":"elec","tab":"f8e48a5e.ceb3c8","order":4,"disp":true,"width":8,"collapse":false},{"id":"c4856a36.738a08","type":"influxdb","hostname":"192.168.1.45","port":"8086","protocol":"http","database":"zs6cr","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"c63c72e.7876f9","type":"ui_group","name":"Water","tab":"c45f3e73.28af7","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8e48a5e.ceb3c8","type":"ui_tab","name":"SecundaWeather","icon":"dashboard","disabled":false,"hidden":false},{"id":"c45f3e73.28af7","type":"ui_tab","name":"Water","icon":"dashboard","disabled":false,"hidden":false}]