flows_45_systemstatus_20230321.json
[{"id":"ce473a14.203078","type":"tab","label":"System Status","disabled":false,"info":""},{"id":"ea10911b.59d9f","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-wx/cpu_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":580,"wires":[["27ac810.671558","310d0ad1.084a86","3bea8e08.960b02"]]},{"id":"3174bd7f.7ff5f2","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-wx/temp_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":660,"wires":[["e8991c2e.e916a","82f60574.5ab7c8"]]},{"id":"8f8e9b60.89e338","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-wx/mem_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":740,"wires":[["3cf33ac9.a0c386"]]},{"id":"95adbc2a.162","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-wx/netRX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":780,"wires":[["121ac541.aed6cb"]]},{"id":"e8991c2e.e916a","type":"ui_text","z":"ce473a14.203078","group":"5fc76569.0d621c","order":3,"width":0,"height":0,"name":"","label":"Core Temp deg C ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":660,"wires":[]},{"id":"7f7d1cde.4cfd14","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-wx/netTX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":820,"wires":[["c5ae8b17.b470b8"]]},{"id":"514836d7.e05808","type":"comment","z":"ce473a14.203078","name":"zs6cr-rpi-wx","info":"","x":110,"y":540,"wires":[]},{"id":"27ac810.671558","type":"ui_chart","z":"ce473a14.203078","name":"","group":"5fc76569.0d621c","order":1,"width":0,"height":0,"label":"CPU%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":580,"wires":[[]]},{"id":"3cf33ac9.a0c386","type":"ui_chart","z":"ce473a14.203078","name":"","group":"5fc76569.0d621c","order":4,"width":0,"height":0,"label":"Mem%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":740,"wires":[[]]},{"id":"121ac541.aed6cb","type":"ui_chart","z":"ce473a14.203078","name":"","group":"5fc76569.0d621c","order":5,"width":0,"height":0,"label":"NetRX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":780,"wires":[[]]},{"id":"c5ae8b17.b470b8","type":"ui_chart","z":"ce473a14.203078","name":"","group":"5fc76569.0d621c","order":6,"width":0,"height":0,"label":"NetTX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":820,"wires":[[]]},{"id":"28e3c22d.803d8e","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-mqtt/cpu_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":160,"wires":[["9ce4060f.d901a8","71cd77a6.8b7018","7550b0a.d68bc5"]]},{"id":"811f6c50.6a63a","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-mqtt/temp_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":240,"wires":[["1422c40a.3f117c","589c8f3d.92c71"]]},{"id":"ccea94b.57d9368","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-mqtt/mem_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":320,"wires":[["8963d944.e907d8"]]},{"id":"1c45ff24.0cb391","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-mqtt/netRX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":360,"wires":[["80fc832b.75b08"]]},{"id":"1422c40a.3f117c","type":"ui_text","z":"ce473a14.203078","group":"f72305e.9f85bf8","order":3,"width":0,"height":0,"name":"","label":"Core Temp deg C ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":240,"wires":[]},{"id":"2ce04649.e2125a","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-mqtt/netTX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":400,"wires":[["f6d70dfe.99cfe"]]},{"id":"b7beff1f.41036","type":"comment","z":"ce473a14.203078","name":"zs6cr-rpi-mqtt","info":"","x":110,"y":120,"wires":[]},{"id":"9ce4060f.d901a8","type":"ui_chart","z":"ce473a14.203078","name":"","group":"f72305e.9f85bf8","order":1,"width":0,"height":0,"label":"CPU%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":160,"wires":[[]]},{"id":"8963d944.e907d8","type":"ui_chart","z":"ce473a14.203078","name":"","group":"f72305e.9f85bf8","order":4,"width":0,"height":0,"label":"Mem%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":320,"wires":[[]]},{"id":"80fc832b.75b08","type":"ui_chart","z":"ce473a14.203078","name":"","group":"f72305e.9f85bf8","order":5,"width":0,"height":0,"label":"NetRX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":360,"wires":[[]]},{"id":"f6d70dfe.99cfe","type":"ui_chart","z":"ce473a14.203078","name":"","group":"f72305e.9f85bf8","order":6,"width":0,"height":0,"label":"NetTX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":400,"wires":[[]]},{"id":"270abac4.f0a436","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-brew/cpu_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":1120,"wires":[["64640598.a9bc9c","d62338e4.b93dd8","8e20397f.cb2be8"]]},{"id":"5bb8edbd.5f7dc4","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-brew/temp_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":1200,"wires":[["c5c57f05.1645e","f9f709b.4138af8"]]},{"id":"c297357c.882158","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-brew/mem_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":1360,"wires":[["d0463187.f53be"]]},{"id":"853c6c38.a2b44","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-brew/netRX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":180,"y":1400,"wires":[["43bb77ef.ee7828"]]},{"id":"c5c57f05.1645e","type":"ui_text","z":"ce473a14.203078","group":"db2284e1.3dd7e8","order":3,"width":0,"height":0,"name":"","label":"Core Temp deg C ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":1200,"wires":[]},{"id":"dfa3bd3e.d578d","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-brew/netTX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":1440,"wires":[["90885807.5a26a8"]]},{"id":"77c0fcdb.d4a6c4","type":"comment","z":"ce473a14.203078","name":"zs6cr-rpi-brew","info":"","x":110,"y":1080,"wires":[]},{"id":"64640598.a9bc9c","type":"ui_chart","z":"ce473a14.203078","name":"","group":"db2284e1.3dd7e8","order":1,"width":0,"height":0,"label":"CPU%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":1120,"wires":[[]]},{"id":"d0463187.f53be","type":"ui_chart","z":"ce473a14.203078","name":"","group":"db2284e1.3dd7e8","order":4,"width":0,"height":0,"label":"Mem%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":1360,"wires":[[]]},{"id":"43bb77ef.ee7828","type":"ui_chart","z":"ce473a14.203078","name":"","group":"db2284e1.3dd7e8","order":5,"width":0,"height":0,"label":"NetRX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":1400,"wires":[[]]},{"id":"90885807.5a26a8","type":"ui_chart","z":"ce473a14.203078","name":"","group":"db2284e1.3dd7e8","order":6,"width":0,"height":0,"label":"NetTX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":1440,"wires":[[]]},{"id":"3947c5d6.f14a1a","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-400/cpu_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":1620,"wires":[["2f7a4841.c24e38","c3dad84a.2558d8"]]},{"id":"19507b0c.ddc645","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-400/temp_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":1660,"wires":[["7ef9a2e1.65ddbc"]]},{"id":"395cd633.5d94ea","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-400/mem_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":1700,"wires":[["58559d3a.af7cd4"]]},{"id":"37d71830.7f7318","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-400/netRX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":1740,"wires":[["71aeee1.62e541"]]},{"id":"7ef9a2e1.65ddbc","type":"ui_text","z":"ce473a14.203078","group":"1aa2f75c.0355e9","order":3,"width":0,"height":0,"name":"","label":"Core Temp deg C ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":1660,"wires":[]},{"id":"e52ef558.1ba738","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-400/netTX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":1780,"wires":[["9eacb784.292b38"]]},{"id":"ea2c5ee4.0c5cb","type":"comment","z":"ce473a14.203078","name":"zs6cr-rpi-400","info":"","x":110,"y":1580,"wires":[]},{"id":"2f7a4841.c24e38","type":"ui_chart","z":"ce473a14.203078","name":"","group":"1aa2f75c.0355e9","order":1,"width":0,"height":0,"label":"CPU%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":1620,"wires":[[]]},{"id":"58559d3a.af7cd4","type":"ui_chart","z":"ce473a14.203078","name":"","group":"1aa2f75c.0355e9","order":4,"width":0,"height":0,"label":"Mem%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":1700,"wires":[[]]},{"id":"71aeee1.62e541","type":"ui_chart","z":"ce473a14.203078","name":"","group":"1aa2f75c.0355e9","order":5,"width":0,"height":0,"label":"NetRX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":1740,"wires":[[]]},{"id":"9eacb784.292b38","type":"ui_chart","z":"ce473a14.203078","name":"","group":"1aa2f75c.0355e9","order":6,"width":0,"height":0,"label":"NetTX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":1780,"wires":[[]]},{"id":"71cd77a6.8b7018","type":"ui_text","z":"ce473a14.203078","group":"f72305e.9f85bf8","order":2,"width":0,"height":0,"name":"","label":"CPU%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":120,"wires":[]},{"id":"310d0ad1.084a86","type":"ui_text","z":"ce473a14.203078","group":"5fc76569.0d621c","order":2,"width":0,"height":0,"name":"","label":"CPU%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":540,"wires":[]},{"id":"d62338e4.b93dd8","type":"ui_text","z":"ce473a14.203078","group":"db2284e1.3dd7e8","order":2,"width":0,"height":0,"name":"","label":"CPU%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":1080,"wires":[]},{"id":"c3dad84a.2558d8","type":"ui_text","z":"ce473a14.203078","group":"1aa2f75c.0355e9","order":2,"width":0,"height":0,"name":"","label":"CPU%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":1580,"wires":[]},{"id":"bf12498f.103328","type":"comment","z":"ce473a14.203078","name":"nodemcu-1","info":"","x":100,"y":1920,"wires":[]},{"id":"b5b754e8.432f88","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/nodemcu1/RSSI_dBm","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":1960,"wires":[["eb76cd7.ff05d3","fb07724a.7244"]]},{"id":"eb76cd7.ff05d3","type":"ui_text","z":"ce473a14.203078","group":"14f8a078.37047","order":2,"width":0,"height":0,"name":"","label":"NodeMCU-1 RSSI (dBm)","format":"{{msg.payload}}","layout":"row-center","x":550,"y":1920,"wires":[]},{"id":"fb07724a.7244","type":"ui_chart","z":"ce473a14.203078","name":"","group":"14f8a078.37047","order":1,"width":0,"height":0,"label":"NodeMCU-1 RSSI (dBm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-120","ymax":"-40","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":1960,"wires":[[]]},{"id":"7bcd2f58.d7693","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-400/disk_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":1820,"wires":[["d1c58462.aeb3e8"]]},{"id":"d1c58462.aeb3e8","type":"ui_text","z":"ce473a14.203078","group":"1aa2f75c.0355e9","order":2,"width":0,"height":0,"name":"","label":"Disk%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":1820,"wires":[]},{"id":"acf8b68e.f86a88","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-brew/disk_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":1480,"wires":[["1772fa6c.3669f6"]]},{"id":"1772fa6c.3669f6","type":"ui_text","z":"ce473a14.203078","group":"db2284e1.3dd7e8","order":2,"width":0,"height":0,"name":"","label":"Disk%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":1480,"wires":[]},{"id":"f64814b9.7ecea8","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-wx/disk_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":860,"wires":[["1b5e0633.f3a7ba"]]},{"id":"1b5e0633.f3a7ba","type":"ui_text","z":"ce473a14.203078","group":"5fc76569.0d621c","order":2,"width":0,"height":0,"name":"","label":"Disk%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":860,"wires":[]},{"id":"78fa4cc9.5b8764","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/zs6cr-rpi-mqtt/disk_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":170,"y":440,"wires":[["836d6564.b3e728"]]},{"id":"836d6564.b3e728","type":"ui_text","z":"ce473a14.203078","group":"f72305e.9f85bf8","order":2,"width":0,"height":0,"name":"","label":"Disk%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":440,"wires":[]},{"id":"c992e57.df1d118","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/zs6cr-rpi-mqtt/cpu_perc","measurement":"status/zs6cr-rpi-mqtt/cpu_perc","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":200,"wires":[]},{"id":"7550b0a.d68bc5","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":200,"wires":[["c992e57.df1d118"]]},{"id":"589c8f3d.92c71","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":280,"wires":[["42897ed8.dbe08"]]},{"id":"42897ed8.dbe08","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/zs6cr-rpi-mqtt/temp_C","measurement":"status/zs6cr-rpi-mqtt/temp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":280,"wires":[]},{"id":"7b93cb21.1ef6c4","type":"comment","z":"ce473a14.203078","name":"nodemcu-3","info":"","x":100,"y":2040,"wires":[]},{"id":"9d5d8196.5bb24","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/nodemcu3/RSSI_dBm","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":2080,"wires":[["f744b623.1ddae8","a704fd9a.94f93"]]},{"id":"f744b623.1ddae8","type":"ui_text","z":"ce473a14.203078","group":"14f8a078.37047","order":4,"width":0,"height":0,"name":"","label":"NodeMCU-3 RSSI (dBm)","format":"{{msg.payload}}","layout":"row-center","x":550,"y":2040,"wires":[]},{"id":"a704fd9a.94f93","type":"ui_chart","z":"ce473a14.203078","name":"","group":"14f8a078.37047","order":3,"width":0,"height":0,"label":"NodeMCU-3 RSSI (dBm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-120","ymax":"-40","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":2080,"wires":[[]]},{"id":"8e20397f.cb2be8","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1160,"wires":[["32171a52.bb8c16"]]},{"id":"32171a52.bb8c16","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/zs6cr-rpi-brew/cpu_perc","measurement":"status/zs6cr-rpi-brew/cpu_perc","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":1160,"wires":[]},{"id":"f9f709b.4138af8","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1240,"wires":[["867917f3.0685b8"]]},{"id":"867917f3.0685b8","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/zs6cr-rpi-brew/temp_C","measurement":"status/zs6cr-rpi-brew/temp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":1240,"wires":[]},{"id":"3350c8a7.e1d988","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/zs6cr-rpi-wx/cpu_perc","measurement":"status/zs6cr-rpi-wx/cpu_perc","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":620,"wires":[]},{"id":"3bea8e08.960b02","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":620,"wires":[["3350c8a7.e1d988"]]},{"id":"82f60574.5ab7c8","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":700,"wires":[["ce22c098.7f66f"]]},{"id":"ce22c098.7f66f","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/zs6cr-rpi-wx/temp_C","measurement":"status/zs6cr-rpi-wx/temp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":700,"wires":[]},{"id":"1aa5556.eae15ab","type":"function","z":"ce473a14.203078","name":"","func":"var statusOn = (msg.payload);\nif (statusOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2220,"wires":[["128e0a39.940b06","f77148c.e4971b8"]]},{"id":"f77148c.e4971b8","type":"mqtt out","z":"ce473a14.203078","name":"","topic":"status/pe1950iii/active","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":540,"y":2260,"wires":[]},{"id":"128e0a39.940b06","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/pe1950iii/active","measurement":"status/pe1950iii/active","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":540,"y":2220,"wires":[]},{"id":"a23b443f.087868","type":"link in","z":"ce473a14.203078","name":"","links":["28527af5.e61de6"],"x":135,"y":2220,"wires":[["1aa5556.eae15ab"]]},{"id":"fe820be1.2010b8","type":"function","z":"ce473a14.203078","name":"","func":"var statusOn = (msg.payload);\nif (statusOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2540,"wires":[["89f90b5e.e82e58"]]},{"id":"b3145daa.fc1ec","type":"mqtt out","z":"ce473a14.203078","name":"","topic":"status/vm-rpi/active","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":530,"y":2580,"wires":[]},{"id":"32bb80ff.29252","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/vm-rpi/active","measurement":"status/vm-rpi/active","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":530,"y":2540,"wires":[]},{"id":"5bb8e7b4.d33b88","type":"link in","z":"ce473a14.203078","name":"","links":["f1a7d7b8.af4ab8"],"x":135,"y":2540,"wires":[["fe820be1.2010b8"]]},{"id":"84ec4762.802418","type":"function","z":"ce473a14.203078","name":"","func":"var statusOn = (msg.payload);\nif (statusOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2640,"wires":[["7a129117.0a856","75bce53e.980d6c"]]},{"id":"75bce53e.980d6c","type":"mqtt out","z":"ce473a14.203078","name":"","topic":"status/vm-deb/active","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":540,"y":2680,"wires":[]},{"id":"7a129117.0a856","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/vm-deb/active","measurement":"status/vm-deb/active","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":540,"y":2640,"wires":[]},{"id":"a056b760.5132b8","type":"link in","z":"ce473a14.203078","name":"","links":["9c168165.c592"],"x":135,"y":2640,"wires":[["84ec4762.802418"]]},{"id":"3a40f64a.16a0ba","type":"function","z":"ce473a14.203078","name":"","func":"var statusOn = (msg.payload);\nif (statusOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2760,"wires":[["be27e92c.d0b298"]]},{"id":"2f5ccc6a.4c1b24","type":"mqtt out","z":"ce473a14.203078","name":"","topic":"status/hubble/active","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":540,"y":2800,"wires":[]},{"id":"aefc4b78.11fb58","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/hubble/active","measurement":"status/hubble/active","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":540,"y":2760,"wires":[]},{"id":"7dd077f9.638fb8","type":"link in","z":"ce473a14.203078","name":"","links":["413aa74b.fcbbc8"],"x":135,"y":2760,"wires":[["3a40f64a.16a0ba"]]},{"id":"7add1a9.fb5b7e4","type":"function","z":"ce473a14.203078","name":"","func":"var statusOn = (msg.payload);\nif (statusOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2860,"wires":[["51e7869d.620f48"]]},{"id":"56678e58.ddc2d","type":"mqtt out","z":"ce473a14.203078","name":"","topic":"status/molly/active","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":530,"y":2900,"wires":[]},{"id":"caedd736.845288","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/molly/active","measurement":"status/molly/active","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":530,"y":2860,"wires":[]},{"id":"daec1e8c.f127","type":"link in","z":"ce473a14.203078","name":"","links":["5e10f960.6d7f58"],"x":135,"y":2860,"wires":[["7add1a9.fb5b7e4"]]},{"id":"1e4b137c.42ca6d","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/hubble/cpu_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":3020,"wires":[["2f9dd496.e94f7c","fb9af9ce.018488"]]},{"id":"84fa7f22.a730a","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/hubble/temp_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":3060,"wires":[["ddca66a6.3bee28"]]},{"id":"4ca439ac.dd8cd8","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/hubble/mem_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":3100,"wires":[["a74de0d8.e54f8"]]},{"id":"c262c414.b76a78","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/hubble/netRX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":3140,"wires":[["610df7d4.5a01b8"]]},{"id":"ddca66a6.3bee28","type":"ui_text","z":"ce473a14.203078","group":"7052522e.22b83c","order":3,"width":0,"height":0,"name":"","label":"Core Temp deg C ","format":"{{msg.payload}}","layout":"row-center","x":530,"y":3060,"wires":[]},{"id":"80078f3f.de3d4","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/hubble/netTX_kBps","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":3180,"wires":[["7c698f74.d78cf"]]},{"id":"e4961f72.d31a3","type":"comment","z":"ce473a14.203078","name":"hubble","info":"","x":90,"y":2980,"wires":[]},{"id":"2f9dd496.e94f7c","type":"ui_chart","z":"ce473a14.203078","name":"","group":"7052522e.22b83c","order":1,"width":0,"height":0,"label":"CPU%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":490,"y":3020,"wires":[[]]},{"id":"a74de0d8.e54f8","type":"ui_chart","z":"ce473a14.203078","name":"","group":"7052522e.22b83c","order":4,"width":0,"height":0,"label":"Mem%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":500,"y":3100,"wires":[[]]},{"id":"610df7d4.5a01b8","type":"ui_chart","z":"ce473a14.203078","name":"","group":"7052522e.22b83c","order":5,"width":0,"height":0,"label":"NetRX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":3140,"wires":[[]]},{"id":"7c698f74.d78cf","type":"ui_chart","z":"ce473a14.203078","name":"","group":"7052522e.22b83c","order":6,"width":0,"height":0,"label":"NetTX kBps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":3180,"wires":[[]]},{"id":"fb9af9ce.018488","type":"ui_text","z":"ce473a14.203078","group":"7052522e.22b83c","order":2,"width":0,"height":0,"name":"","label":"CPU%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":2980,"wires":[]},{"id":"3e0c4174.c0dbce","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/hubble/disk_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":3220,"wires":[["5768f726.a4f1b8"]]},{"id":"5768f726.a4f1b8","type":"ui_text","z":"ce473a14.203078","group":"7052522e.22b83c","order":2,"width":0,"height":0,"name":"","label":"Disk%","format":"{{msg.payload}}","layout":"row-center","x":490,"y":3220,"wires":[]},{"id":"f4807371.955cd","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/rpi-nas/cpu_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":3380,"wires":[["baa809b9.96ba38"]]},{"id":"5abf422f.dfa5cc","type":"comment","z":"ce473a14.203078","name":"rpi-nas","info":"","x":90,"y":3340,"wires":[]},{"id":"87a24041.f79d7","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/rpi-nas/cpu_perc","measurement":"status/rpi-nas/cpu_perc","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":3380,"wires":[]},{"id":"baa809b9.96ba38","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":3380,"wires":[["87a24041.f79d7"]]},{"id":"d040f2b2.58b32","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/rpi-nas/temp_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":3440,"wires":[["dad8386c.27ecf8"]]},{"id":"dad8386c.27ecf8","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":3440,"wires":[["51ed7970.07eae8"]]},{"id":"51ed7970.07eae8","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/rpi-nas/temp_C","measurement":"status/rpi-nas/temp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":3440,"wires":[]},{"id":"10a0164c.275d4a","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/rpi-nas/harddisk_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":3500,"wires":[["6969f77d.370668"]]},{"id":"6969f77d.370668","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":3500,"wires":[["8d06d7ea.110d68"]]},{"id":"8d06d7ea.110d68","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/rpi-nas/harddisk_perc","measurement":"status/rpi-nas/harddisk_perc","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":3500,"wires":[]},{"id":"6cbef0f2.b212a","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/rpi-clu1/cpu_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":3660,"wires":[["99a8a2e0.1642f"]]},{"id":"bad6aeef.ff4ee","type":"comment","z":"ce473a14.203078","name":"rpi-clu1","info":"","x":90,"y":3620,"wires":[]},{"id":"47188167.70faf","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/rpi-clu1/cpu_perc","measurement":"status/rpi-clu1/cpu_perc","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":3660,"wires":[]},{"id":"99a8a2e0.1642f","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":3660,"wires":[["47188167.70faf"]]},{"id":"418fd53f.3da41c","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/rpi-clu1/temp_C","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":3720,"wires":[["27c13600.a49afa"]]},{"id":"27c13600.a49afa","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":3720,"wires":[["d916f97e.d73e28"]]},{"id":"d916f97e.d73e28","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/rpi-clu1/temp_C","measurement":"status/rpi-clu1/temp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":3720,"wires":[]},{"id":"5d739f47.eae59","type":"mqtt in","z":"ce473a14.203078","name":"","topic":"status/rpi-clu1/harddisk_perc","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":160,"y":3780,"wires":[["fdcf16f3.5696b8"]]},{"id":"fdcf16f3.5696b8","type":"json","z":"ce473a14.203078","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":3780,"wires":[["bf0f103f.a884c"]]},{"id":"bf0f103f.a884c","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/rpi-clu1/harddisk_perc","measurement":"status/rpi-clu1/harddisk_perc","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":3780,"wires":[]},{"id":"4cf3fb52.3d5534","type":"function","z":"ce473a14.203078","name":"","func":"var statusOn = (msg.payload);\nif (statusOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2320,"wires":[["73d56bd1.4d5aa4","d7464568.20be88"]]},{"id":"d7464568.20be88","type":"mqtt out","z":"ce473a14.203078","name":"","topic":"status/kepler/active","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":530,"y":2360,"wires":[]},{"id":"73d56bd1.4d5aa4","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/kepler/active","measurement":"status/kepler/active","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":530,"y":2320,"wires":[]},{"id":"175a3368.7b44cd","type":"link in","z":"ce473a14.203078","name":"","links":["d2ac21ea.1ebcd"],"x":135,"y":2320,"wires":[["4cf3fb52.3d5534"]]},{"id":"2bea60e3.0799f","type":"mqtt in","z":"ce473a14.203078","name":"gps/gpsd/alt","topic":"gps/gpsd/alt","qos":"1","datatype":"auto","broker":"5baa2957.0a1fa8","nl":false,"rap":true,"rh":0,"x":110,"y":3960,"wires":[["c549dd97.b045"]]},{"id":"a0bbd351.13b61","type":"Message Counter","z":"ce473a14.203078","name":"","units":"seconds","interval":"100","alignToClock":true,"generator":"internal","x":370,"y":3960,"wires":[["82c8ba13.afcf88"],[]]},{"id":"82c8ba13.afcf88","type":"function","z":"ce473a14.203078","name":"","func":"var cntl = (msg.payload);\nif (cntl >0)\n{\n        msg.payload = 1;\n}\nelse\n{\n        msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":4020,"wires":[["948d0d6e.685d5","51683a8f.09a5a4","738258a4.133a68","339611ab.d7a32e"]]},{"id":"948d0d6e.685d5","type":"mqtt out","z":"ce473a14.203078","name":"status/gps/gpsdataON","topic":"status/gps/gpsdataON","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":640,"y":3960,"wires":[]},{"id":"51683a8f.09a5a4","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/gps/gpsdataON","measurement":"status/gps/gpsdataON","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":640,"y":4020,"wires":[]},{"id":"cac2501b.cfaa","type":"link out","z":"ce473a14.203078","name":"gps-ON","links":["7456a11f.a75"],"x":835,"y":4080,"wires":[]},{"id":"30503b89.de4aa4","type":"change","z":"ce473a14.203078","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"GPSdata-ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":4080,"wires":[[]]},{"id":"738258a4.133a68","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":410,"y":4080,"wires":[["30503b89.de4aa4"]]},{"id":"9ce408a7.7904e8","type":"comment","z":"ce473a14.203078","name":"gps data","info":"","x":100,"y":3920,"wires":[]},{"id":"339611ab.d7a32e","type":"debug","z":"ce473a14.203078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":3920,"wires":[]},{"id":"eaa621bc.63433","type":"mqtt in","z":"ce473a14.203078","name":"gps/zr6aic/gpsd/alt","topic":"gps/zr6aic/gpsd/alt","qos":"1","datatype":"auto","broker":"5baa2957.0a1fa8","nl":false,"rap":true,"rh":0,"x":130,"y":4200,"wires":[["6e89c789.4ddb48"]]},{"id":"a68ab3da.a1802","type":"Message Counter","z":"ce473a14.203078","name":"","units":"seconds","interval":"100","alignToClock":true,"generator":"internal","x":370,"y":4200,"wires":[["83a5459f.903e38"],[]]},{"id":"83a5459f.903e38","type":"function","z":"ce473a14.203078","name":"","func":"var cntl = (msg.payload);\nif (cntl >0)\n{\n        msg.payload = 1;\n}\nelse\n{\n        msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":4260,"wires":[["19ef047a.67d20c","a4420c7c.6bbf6","3b19b619.9ae0ea","69430d41.e46aa4"]]},{"id":"19ef047a.67d20c","type":"mqtt out","z":"ce473a14.203078","name":"status/zr6aic/gps/gpsdataON","topic":"status/zr6aic/gps/gpsdataON","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":660,"y":4200,"wires":[]},{"id":"a4420c7c.6bbf6","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/zr6aic/gps/gpsdataON","measurement":"status/zr6aic/gps/gpsdataON","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":660,"y":4260,"wires":[]},{"id":"5b21c9cd.be1c98","type":"link out","z":"ce473a14.203078","name":"gps-AIC-ON","links":[],"x":835,"y":4320,"wires":[]},{"id":"6c529926.f5f3c8","type":"change","z":"ce473a14.203078","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"GPSdataZR6AIC-ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":4320,"wires":[["5b21c9cd.be1c98"]]},{"id":"3b19b619.9ae0ea","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":410,"y":4320,"wires":[["6c529926.f5f3c8"]]},{"id":"f2fc094b.7b1fa8","type":"comment","z":"ce473a14.203078","name":"gps data zr6aic","info":"","x":120,"y":4160,"wires":[]},{"id":"69430d41.e46aa4","type":"debug","z":"ce473a14.203078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":4160,"wires":[]},{"id":"2902718b.744d0e","type":"function","z":"ce473a14.203078","name":"","func":"var statusOn = (msg.payload);\nif (statusOn === false)\n{\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2420,"wires":[["441c631b.89502c","e078c05d.ef415"]]},{"id":"e078c05d.ef415","type":"mqtt out","z":"ce473a14.203078","name":"","topic":"status/nas16/active","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":530,"y":2460,"wires":[]},{"id":"441c631b.89502c","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/nas16/active","measurement":"status/nas16/active","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":530,"y":2420,"wires":[]},{"id":"b4c0f5f.46b0608","type":"link in","z":"ce473a14.203078","name":"","links":["99a029eb.d396e8"],"x":135,"y":2420,"wires":[["2902718b.744d0e"]]},{"id":"1b659521.14dcbb","type":"mqtt in","z":"ce473a14.203078","name":"gps/dam/gpsd/alt","topic":"gps/dam/gpsd/alt","qos":"1","datatype":"auto","broker":"5baa2957.0a1fa8","nl":false,"rap":true,"rh":0,"x":120,"y":4400,"wires":[["531e3965.d47338"]]},{"id":"a68854cb.b470a8","type":"Message Counter","z":"ce473a14.203078","name":"","units":"seconds","interval":"100","alignToClock":false,"generator":"internal","x":370,"y":4400,"wires":[["3efd0506.e2375a","811c2343.ab478","b2f2bbf.0012c48"],[]]},{"id":"3efd0506.e2375a","type":"function","z":"ce473a14.203078","name":"","func":"var cntl = (msg.payload);\nif (cntl >0)\n{\n        msg.payload = 1;\n}\nelse\n{\n        msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":4460,"wires":[["64a8e5fa.57471c","70cdc055.bf4d7","3b063987.189626"]]},{"id":"64a8e5fa.57471c","type":"mqtt out","z":"ce473a14.203078","name":"status/dam/gps/gpsdataON","topic":"status/dam/gps/gpsdataON","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":660,"y":4460,"wires":[]},{"id":"70cdc055.bf4d7","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/dam/gps/gpsdataON","measurement":"status/dam/gps/gpsdataON","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":660,"y":4520,"wires":[]},{"id":"5981029c.6ed92c","type":"link out","z":"ce473a14.203078","name":"gps-dam-ON","links":[],"x":835,"y":4620,"wires":[]},{"id":"a1ae8912.231048","type":"change","z":"ce473a14.203078","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"GPSdatadam-ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":4620,"wires":[["5981029c.6ed92c"]]},{"id":"3b063987.189626","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":410,"y":4620,"wires":[["a1ae8912.231048"]]},{"id":"ef2cd8eb.191d68","type":"comment","z":"ce473a14.203078","name":"gps data dam","info":"","x":110,"y":4360,"wires":[]},{"id":"b2f2bbf.0012c48","type":"debug","z":"ce473a14.203078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":4560,"wires":[]},{"id":"811c2343.ab478","type":"mqtt out","z":"ce473a14.203078","name":"status/dam/gps/counter","topic":"status/dam/gps/counter","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":650,"y":4400,"wires":[]},{"id":"ce956414.7727f8","type":"mqtt in","z":"ce473a14.203078","name":"gps/gps2/gpsd/alt","topic":"gps/gps2/gpsd/alt","qos":"1","datatype":"auto","broker":"5baa2957.0a1fa8","nl":false,"rap":true,"rh":0,"x":120,"y":4740,"wires":[["fc419183.b0a1d"]]},{"id":"cc1967ba.c905c8","type":"Message Counter","z":"ce473a14.203078","name":"","units":"seconds","interval":"100","alignToClock":false,"generator":"internal","x":370,"y":4740,"wires":[["f9b089f6.7f65c8"],[]]},{"id":"f9b089f6.7f65c8","type":"function","z":"ce473a14.203078","name":"","func":"var cntl = (msg.payload);\nif (cntl >0)\n{\n        msg.payload = 1;\n}\nelse\n{\n        msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":4800,"wires":[["6f3d88b5.b9ba98","4acc4bb9.3736f4","feab3949.9c71c8","558b20b7.c306d"]]},{"id":"6f3d88b5.b9ba98","type":"mqtt out","z":"ce473a14.203078","name":"status/gps2/gps/gpsdataON","topic":"status/gps2/gps/gpsdataON","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":660,"y":4740,"wires":[]},{"id":"4acc4bb9.3736f4","type":"influxdb out","z":"ce473a14.203078","influxdb":"cd839b2b.295008","name":"status/gps2/gps/gpsdataON","measurement":"status/gps2/gps/gpsdataON","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":660,"y":4800,"wires":[]},{"id":"49579cda.0342d4","type":"link out","z":"ce473a14.203078","name":"gps-gps2-ON","links":["a1f2c0b6.5fa4f"],"x":835,"y":4860,"wires":[]},{"id":"13310622.42702a","type":"change","z":"ce473a14.203078","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"GPSdataGPS2-ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":4860,"wires":[["49579cda.0342d4"]]},{"id":"feab3949.9c71c8","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":430,"y":4860,"wires":[["13310622.42702a"]]},{"id":"f0ac563a.7b92e8","type":"comment","z":"ce473a14.203078","name":"gps data gps2","info":"","x":110,"y":4700,"wires":[]},{"id":"558b20b7.c306d","type":"debug","z":"ce473a14.203078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":4700,"wires":[]},{"id":"c549dd97.b045","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":190,"y":4020,"wires":[["a0bbd351.13b61"]]},{"id":"6e89c789.4ddb48","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":190,"y":4260,"wires":[["a68ab3da.a1802"]]},{"id":"531e3965.d47338","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":190,"y":4460,"wires":[["a68854cb.b470a8"]]},{"id":"fc419183.b0a1d","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":190,"y":4800,"wires":[["cc1967ba.c905c8"]]},{"id":"69317438.0fc22c","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":2260,"wires":[[]]},{"id":"99ebd73c.483e38","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":2360,"wires":[[]]},{"id":"bf2bdca0.22e3d","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":2460,"wires":[[]]},{"id":"89f90b5e.e82e58","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":2580,"wires":[["b3145daa.fc1ec","32bb80ff.29252"]]},{"id":"a1999b2e.f515a8","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":2680,"wires":[[]]},{"id":"be27e92c.d0b298","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":2800,"wires":[["2f5ccc6a.4c1b24","aefc4b78.11fb58"]]},{"id":"51e7869d.620f48","type":"rbe","z":"ce473a14.203078","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":2900,"wires":[["56678e58.ddc2d","caedd736.845288"]]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5fc76569.0d621c","type":"ui_group","name":"ZS6CR-RPI-WX","tab":"8d37a358.3a4e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f72305e.9f85bf8","type":"ui_group","name":"ZS6CR-RPI-MQTT","tab":"8d37a358.3a4e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"db2284e1.3dd7e8","type":"ui_group","name":"ZS6CR-RPI-BREW","tab":"8d37a358.3a4e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"1aa2f75c.0355e9","type":"ui_group","name":"ZS6CR-RPI-400","tab":"8d37a358.3a4e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"14f8a078.37047","type":"ui_group","name":"NodeMCU & Internet","tab":"8d37a358.3a4e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"7052522e.22b83c","type":"ui_group","name":"Hubble","tab":"8d37a358.3a4e8","order":6,"disp":true,"width":"6","collapse":false},{"id":"5baa2957.0a1fa8","type":"mqtt-broker","name":"deb-101","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8d37a358.3a4e8","type":"ui_tab","name":"System Status","icon":"dashboard","disabled":false,"hidden":false}]