flows_45_WOL_20230321.json
[{"id":"4d8ca534.6a72cc","type":"tab","label":"WOL","disabled":false,"info":""},{"id":"69e523cf.fd4d0c","type":"inject","z":"4d8ca534.6a72cc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":120,"wires":[["7bb81f4.66f6fe"]]},{"id":"7bb81f4.66f6fe","type":"wake on lan","z":"4d8ca534.6a72cc","mac":"a0:21:b7:c1:ca:5c","host":"","udpport":9,"numpackets":3,"interval":100,"name":"WOL NAS16","x":590,"y":120,"wires":[]},{"id":"3a865f2d.e548e","type":"ui_button","z":"4d8ca534.6a72cc","name":"","group":"cb569a08.e291d8","order":0,"width":0,"height":0,"passthru":false,"label":"nas16","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":160,"wires":[["7bb81f4.66f6fe"]]},{"id":"2f29f404.a749cc","type":"inject","z":"4d8ca534.6a72cc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":220,"wires":[["f65d100.d4b4cf"]]},{"id":"f65d100.d4b4cf","type":"wake on lan","z":"4d8ca534.6a72cc","mac":"00:1e:c9:ad:47:d4","host":"","udpport":9,"numpackets":3,"interval":100,"name":"WOL pe1950iii","x":600,"y":220,"wires":[]},{"id":"26214c0d.b4d054","type":"ui_button","z":"4d8ca534.6a72cc","name":"","group":"cb569a08.e291d8","order":0,"width":0,"height":0,"passthru":false,"label":"pe1950iii","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":260,"wires":[["f65d100.d4b4cf"]]},{"id":"1ba50266.a76f6e","type":"inject","z":"4d8ca534.6a72cc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":320,"wires":[["8227697f.c44c38"]]},{"id":"8227697f.c44c38","type":"wake on lan","z":"4d8ca534.6a72cc","mac":"d8:9e:f3:2c:34:27","host":"","udpport":9,"numpackets":3,"interval":100,"name":"WOL kepler","x":590,"y":320,"wires":[]},{"id":"67c647fd.20f9b8","type":"ui_button","z":"4d8ca534.6a72cc","name":"","group":"cb569a08.e291d8","order":0,"width":0,"height":0,"passthru":false,"label":"kepler","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":360,"wires":[["8227697f.c44c38"]]},{"id":"432e9cc1.f8a774","type":"inject","z":"4d8ca534.6a72cc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":420,"wires":[["7da61001.21685"]]},{"id":"7da61001.21685","type":"wake on lan","z":"4d8ca534.6a72cc","mac":"","host":"","udpport":9,"numpackets":3,"interval":100,"name":"WOL hubble","x":590,"y":420,"wires":[]},{"id":"bd79db08.251758","type":"ui_button","z":"4d8ca534.6a72cc","name":"","group":"cb569a08.e291d8","order":0,"width":0,"height":0,"passthru":false,"label":"hubble","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":460,"wires":[["7da61001.21685"]]},{"id":"f84f8e71.27fad","type":"inject","z":"4d8ca534.6a72cc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":520,"wires":[["e3531f4c.e77e1"]]},{"id":"e3531f4c.e77e1","type":"wake on lan","z":"4d8ca534.6a72cc","mac":"","host":"","udpport":9,"numpackets":3,"interval":100,"name":"WOL tesla","x":590,"y":520,"wires":[]},{"id":"10901018.08892","type":"ui_button","z":"4d8ca534.6a72cc","name":"","group":"cb569a08.e291d8","order":0,"width":0,"height":0,"passthru":false,"label":"tesla","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":560,"wires":[["e3531f4c.e77e1"]]},{"id":"6b3a9803.03d838","type":"inject","z":"4d8ca534.6a72cc","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":620,"wires":[["a7e09fb7.3508f"]]},{"id":"a7e09fb7.3508f","type":"wake on lan","z":"4d8ca534.6a72cc","mac":"8c:04:ba:a0:53:a7","host":"","udpport":9,"numpackets":3,"interval":100,"name":"WOL hertz","x":590,"y":620,"wires":[]},{"id":"12f7b3bd.48acdc","type":"ui_button","z":"4d8ca534.6a72cc","name":"","group":"cb569a08.e291d8","order":0,"width":0,"height":0,"passthru":false,"label":"hertz","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":660,"wires":[["a7e09fb7.3508f"]]},{"id":"cb569a08.e291d8","type":"ui_group","name":"Wake-On-LAN","tab":"14cc3ed7.1bee51","order":3,"disp":true,"width":"6","collapse":false},{"id":"14cc3ed7.1bee51","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false}]