flows_45_secwx_20230321.json
[{"id":"fec4c5fe.d70458","type":"tab","label":"Secundaweather","disabled":false,"info":""},{"id":"e7059c8b.ca42d","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT solar","topic":"weather/radiation_Wpm2","qos":"0","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":130,"y":80,"wires":[["3e243a46.db0bd6"]]},{"id":"72c29ce6.c390f4","type":"ui_gauge","z":"fec4c5fe.d70458","name":"Solar Radiation","group":"5baabe2e.fc791","order":1,"width":"0","height":"0","gtype":"gage","title":"Solar Radiation","label":"W/m2","format":"{{value}}","min":0,"max":"1300","colors":["#7f7f7f","#ffff00","#ffff00"],"seg1":"200","seg2":"","x":520,"y":120,"wires":[]},{"id":"3e243a46.db0bd6","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":80,"wires":[["72c29ce6.c390f4","795e9974.4e1c28","52cd02ef.a1912c"]]},{"id":"b1002dac.7d6f6","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT temp","topic":"weather/outTemp_C","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":130,"y":280,"wires":[["431368ae.fd07b8"]]},{"id":"431368ae.fd07b8","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":280,"wires":[["5a3f2c4f.865c84","e4a81a3b.417998","4ec37b11.2ca184","7deabb99.3d96d4"]]},{"id":"5a3f2c4f.865c84","type":"ui_gauge","z":"fec4c5fe.d70458","name":"Out Temp","group":"311383c8.8a5aac","order":1,"width":0,"height":0,"gtype":"gage","title":"Out Temp","label":"deg C","format":"{{value | number: 1}}","min":"-5","max":"35","colors":["#ffff00","#7f7f7f","#ffff00"],"seg1":"8","seg2":"28","x":500,"y":320,"wires":[]},{"id":"c34a9a0d.8d6f98","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT baro","topic":"weather/barometer_mbar","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":130,"y":660,"wires":[["126638b6.210b27"]]},{"id":"126638b6.210b27","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":660,"wires":[["70a7f5d3.78d7bc","7ac83f2.c6bb3c","4b6ebdd2.f35604"]]},{"id":"70a7f5d3.78d7bc","type":"ui_chart","z":"fec4c5fe.d70458","name":"Barometer","group":"682d4186.5121","order":2,"width":0,"height":0,"label":"Barometer","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":700,"wires":[[]]},{"id":"f72c419.02b54c","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT dew","topic":"weather/dewpoint_C","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":120,"y":540,"wires":[["4ce5b13b.3c78c"]]},{"id":"4ce5b13b.3c78c","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":540,"wires":[["768c7542.38fd9c","23f9db3a.df6cc4","712386e7.34f958"]]},{"id":"768c7542.38fd9c","type":"ui_gauge","z":"fec4c5fe.d70458","name":"Dewpoint","group":"311383c8.8a5aac","order":3,"width":0,"height":0,"gtype":"gage","title":"Dewpoint","label":"deg C","format":"{{value | number: 1}}","min":"-10","max":"20","colors":["#0c00b3","#00e682","#ca3838"],"seg1":"","seg2":"","x":500,"y":500,"wires":[]},{"id":"d0d190db.825d2","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT wind","topic":"weather/windSpeed_kph","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":130,"y":880,"wires":[["bf2fae77.ebe55"]]},{"id":"bf2fae77.ebe55","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":880,"wires":[["adf2ce9a.80eb","552d51a8.1a45"]]},{"id":"adf2ce9a.80eb","type":"ui_gauge","z":"fec4c5fe.d70458","name":"Wind Speed","group":"8c7cee60.3107b","order":2,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"km/h","format":"{{value | number: 1}}","min":"0","max":"30","colors":["#0c00b3","#00e682","#ca3838"],"seg1":"","seg2":"","x":510,"y":880,"wires":[]},{"id":"2a49adf0.9ec182","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT gust","topic":"weather/windGust_kph","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":120,"y":1140,"wires":[["17270d34.6566a3"]]},{"id":"17270d34.6566a3","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":1140,"wires":[["9d8cf46b.0e4738","2cb8be8e.abf7d2"]]},{"id":"9d8cf46b.0e4738","type":"ui_gauge","z":"fec4c5fe.d70458","name":"Wind Gust","group":"8c7cee60.3107b","order":2,"width":0,"height":0,"gtype":"gage","title":"Wind Gust","label":"km/h","format":"{{value | number: 1}}","min":"0","max":"60","colors":["#0c00b3","#00e682","#ca3838"],"seg1":"","seg2":"","x":510,"y":1140,"wires":[]},{"id":"6e5aa835.0325e8","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT cloudbase","topic":"weather/cloudbase_meter","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":1520,"wires":[["1960431b.c08cfd"]]},{"id":"1960431b.c08cfd","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":1520,"wires":[["f6be8d34.52262","535850d5.0fc16","1657eae4.de6e35"]]},{"id":"da8f8dc9.54178","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT DayRain","topic":"weather/dayRain_cm","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":1720,"wires":[["a99114f3.ebb268"]]},{"id":"a99114f3.ebb268","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":1720,"wires":[["ae01904e.9b552"]]},{"id":"8d751df6.803d7","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT rain rate","topic":"weather/rainRate_cm_per_hour","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":2140,"wires":[["f6e893b1.7c826"]]},{"id":"f6e893b1.7c826","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":2140,"wires":[["1f555b62.ce2e45"]]},{"id":"af833c15.2e6118","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT wind dir","topic":"weather/windDir","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":1260,"wires":[["ab012efa.4392b"]]},{"id":"ab012efa.4392b","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":1260,"wires":[["184ce7d.0f34f18","4d71d2be.145d5c"]]},{"id":"184ce7d.0f34f18","type":"ui_gauge","z":"fec4c5fe.d70458","name":"Wind Dir","group":"8c7cee60.3107b","order":2,"width":0,"height":0,"gtype":"compass","title":"Wind Dir","label":"degrees","format":"{{value}}","min":0,"max":"359","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":1260,"wires":[]},{"id":"e4a81a3b.417998","type":"ui_chart","z":"fec4c5fe.d70458","name":"Out Temp","group":"311383c8.8a5aac","order":2,"width":0,"height":0,"label":"Out Temp","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":500,"y":360,"wires":[[]]},{"id":"ae01904e.9b552","type":"range","z":"fec4c5fe.d70458","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":490,"y":1720,"wires":[["6516bb79.1bdc34","653740a.fc731c","9a097b4d.6bc578","cfb9f8cd.5d4d68"]]},{"id":"1f555b62.ce2e45","type":"range","z":"fec4c5fe.d70458","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":490,"y":2140,"wires":[["2a618bbb.f8b4b4","c42ce926.683e1","2fdf1d18.94e332","bed53574.8eabf8"]]},{"id":"6516bb79.1bdc34","type":"mqtt out","z":"fec4c5fe.d70458","name":"","topic":"weather/dayRain_mm","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":720,"y":1760,"wires":[]},{"id":"2a618bbb.f8b4b4","type":"mqtt out","z":"fec4c5fe.d70458","name":"","topic":"weather/rainRate_mm_per_hour","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":750,"y":2180,"wires":[]},{"id":"c42ce926.683e1","type":"ui_gauge","z":"fec4c5fe.d70458","name":"Rain Rate","group":"5baabe2e.fc791","order":2,"width":0,"height":0,"gtype":"gage","title":"Rain Rate","label":"mm/h","format":"{{value}}","min":0,"max":"100","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":2140,"wires":[]},{"id":"f6be8d34.52262","type":"ui_chart","z":"fec4c5fe.d70458","name":"","group":"682d4186.5121","order":4,"width":0,"height":0,"label":"Cloud Base mAGL","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":530,"y":1560,"wires":[[]]},{"id":"7ac83f2.c6bb3c","type":"ui_gauge","z":"fec4c5fe.d70458","name":"","group":"682d4186.5121","order":1,"width":0,"height":0,"gtype":"gage","title":"Barometer","label":"mbar","format":"{{value | number: 1}}","min":"1000","max":"1035","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":660,"wires":[]},{"id":"535850d5.0fc16","type":"ui_text","z":"fec4c5fe.d70458","group":"682d4186.5121","order":3,"width":0,"height":0,"name":"","label":"Cloud Base mAGL","format":"{{value | number: 1}}","layout":"row-spread","x":530,"y":1520,"wires":[]},{"id":"4ec37b11.2ca184","type":"change","z":"fec4c5fe.d70458","name":"","rules":[{"t":"set","p":"ot","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[["9397c3fd.c712c"]]},{"id":"23f9db3a.df6cc4","type":"change","z":"fec4c5fe.d70458","name":"","rules":[{"t":"set","p":"dp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[["9397c3fd.c712c"]]},{"id":"9397c3fd.c712c","type":"join","z":"fec4c5fe.d70458","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":420,"wires":[["7c782b98.b05e64"]]},{"id":"7c782b98.b05e64","type":"func-exec","z":"fec4c5fe.d70458","name":"","func":"msg.payload = Number(msg.ot) - Number(msg.dp);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["235b079a.45d518","7e6307f5.75f548","87351a7c.9e5918","d7ee2b9e.4e8908"]]},{"id":"235b079a.45d518","type":"debug","z":"fec4c5fe.d70458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":360,"wires":[]},{"id":"7e6307f5.75f548","type":"ui_gauge","z":"fec4c5fe.d70458","name":"","group":"311383c8.8a5aac","order":6,"width":0,"height":0,"gtype":"gage","title":"Temp-DewTemp","label":"deg C","format":"{{value | number: 1}}","min":0,"max":10,"colors":["#b30000","#e6e600","#3acb4a"],"seg1":"2","seg2":"3","x":820,"y":400,"wires":[]},{"id":"d7afcb4e.0630e8","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT rain 24hr","topic":"weather/rain24_cm","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":2380,"wires":[["c5a88bf6.e13ec8"]]},{"id":"c5a88bf6.e13ec8","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":2380,"wires":[["a64db968.ef9408"]]},{"id":"a64db968.ef9408","type":"range","z":"fec4c5fe.d70458","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":470,"y":2380,"wires":[["9aa1f283.3f17d","398da8ca.99fae8","d889a392.ed3c9"]]},{"id":"653740a.fc731c","type":"ui_gauge","z":"fec4c5fe.d70458","name":"","group":"5baabe2e.fc791","order":3,"width":0,"height":0,"gtype":"wave","title":"Rain Today","label":"mm","format":"{{value | number: 1}}","min":"0","max":"60","colors":["#0008fa","#e600d2","#cb4f3a"],"seg1":"","seg2":"","x":690,"y":1720,"wires":[]},{"id":"9aa1f283.3f17d","type":"ui_text","z":"fec4c5fe.d70458","group":"5baabe2e.fc791","order":4,"width":0,"height":0,"name":"","label":"Rain 24hr (mm)","format":"{{value | number: 1}}","layout":"row-spread","x":700,"y":2380,"wires":[]},{"id":"398da8ca.99fae8","type":"mqtt out","z":"fec4c5fe.d70458","name":"","topic":"weather/rain24_mm","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":710,"y":2420,"wires":[]},{"id":"2f25198c.cd73f6","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT windrun","topic":"weather/windrun_km","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":1420,"wires":[["9e9d9238.3354b"]]},{"id":"9e9d9238.3354b","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":1420,"wires":[["a8045812.c1c448","2adc6896.ff8c38"]]},{"id":"a8045812.c1c448","type":"ui_text","z":"fec4c5fe.d70458","group":"8c7cee60.3107b","order":3,"width":0,"height":0,"name":"","label":"Windrun (km)","format":"{{value | number: 1}}","layout":"row-spread","x":520,"y":1420,"wires":[]},{"id":"87351a7c.9e5918","type":"mqtt out","z":"fec4c5fe.d70458","name":"exp/outt-dewt","topic":"exp/outt-dewt","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5baa2957.0a1fa8","x":820,"y":440,"wires":[]},{"id":"8d7ed0b.095183","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/radiation_Wpm2","measurement":"weather/radiation_Wpm2","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":160,"wires":[]},{"id":"795e9974.4e1c28","type":"debug","z":"fec4c5fe.d70458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"e88aae7c.ff0ba","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/outTemp_C","measurement":"weather/outTemp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":280,"wires":[]},{"id":"6f86d5a7.9ec07c","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/dewpoint_C","measurement":"weather/dewpoint_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":540,"wires":[]},{"id":"a02ae043.0b9cc","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/rain24_mm","measurement":"weather/rain24_mm","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":2480,"wires":[]},{"id":"d97ff9c7.4e9358","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/rainRate_mm_per_hour","measurement":"weather/rainRate_mm_per_hour","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":2280,"wires":[]},{"id":"a961ddab.269e1","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/dayRain_mm","measurement":"weather/dayRain_mm","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":1860,"wires":[]},{"id":"661da3dc.06f2ac","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/cloudbase_meter","measurement":"weather/cloudbase_meter","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":1600,"wires":[]},{"id":"4e90ea5e.b65d64","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/windrun_km","measurement":"weather/windrun_km","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":1460,"wires":[]},{"id":"ca9fd90d.626548","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/windDir","measurement":"weather/windDir","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":1300,"wires":[]},{"id":"7ad7d017.06f13","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/windGust_kph","measurement":"weather/windGust_kph","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":1180,"wires":[]},{"id":"d129cab5.812c98","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/windSpeed_kph","measurement":"weather/windSpeed_kph","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":920,"wires":[]},{"id":"39a312c8.b502ce","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/barometer_mbar","measurement":"weather/barometer_mbar","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":740,"wires":[]},{"id":"200b091a.ffe366","type":"debug","z":"fec4c5fe.d70458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"7deabb99.3d96d4","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":280,"wires":[["e88aae7c.ff0ba","200b091a.ffe366","4fc81934.301998"]]},{"id":"52cd02ef.a1912c","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":160,"wires":[["8d7ed0b.095183","c7805fc1.20a5e"]]},{"id":"712386e7.34f958","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":540,"wires":[["6f86d5a7.9ec07c"]]},{"id":"4b6ebdd2.f35604","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":740,"wires":[["39a312c8.b502ce","594c30d6.b8505","992ba55c.c74038"]]},{"id":"552d51a8.1a45","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":920,"wires":[["d129cab5.812c98","b6037e07.bf32f"]]},{"id":"2cb8be8e.abf7d2","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1180,"wires":[["7ad7d017.06f13"]]},{"id":"4d71d2be.145d5c","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1300,"wires":[["ca9fd90d.626548"]]},{"id":"2adc6896.ff8c38","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1460,"wires":[["4e90ea5e.b65d64"]]},{"id":"1657eae4.de6e35","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1600,"wires":[["661da3dc.06f2ac"]]},{"id":"9a097b4d.6bc578","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1860,"wires":[["a961ddab.269e1","a9efa2ff.e3b4f","c300d734.b2cf88"]]},{"id":"2fdf1d18.94e332","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":2280,"wires":[["d97ff9c7.4e9358"]]},{"id":"d889a392.ed3c9","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":2480,"wires":[["a02ae043.0b9cc"]]},{"id":"b2de8880.a017b8","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT inTemp","topic":"weather/inTemp_C","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":130,"y":2580,"wires":[["d93803d6.fdb48","ee3dd814.d84bf8"]]},{"id":"d93803d6.fdb48","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":2580,"wires":[["ca7ea9d1.720158"]]},{"id":"ca7ea9d1.720158","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":2580,"wires":[["6e999f22.a0d81"]]},{"id":"6e999f22.a0d81","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/inTemp_C","measurement":"weather/inTemp_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":2580,"wires":[]},{"id":"97cabab7.ed30d8","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT outHumidity","topic":"weather/outHumidity","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":150,"y":2700,"wires":[["4220cdd4.6021d4"]]},{"id":"4220cdd4.6021d4","type":"delay","z":"fec4c5fe.d70458","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":2700,"wires":[["b2fa38ce.6d5058"]]},{"id":"b2fa38ce.6d5058","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":2700,"wires":[["5079d941.f62e58"]]},{"id":"5079d941.f62e58","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/outHumidity","measurement":"weather/outHumidity","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":2700,"wires":[]},{"id":"b6037e07.bf32f","type":"range","z":"fec4c5fe.d70458","minin":"0","maxin":"1","minout":"0","maxout":"0.277778","action":"scale","round":false,"property":"payload","name":"","x":510,"y":1000,"wires":[["22deef72.7d3a4","77d4b6e5.a28198"]]},{"id":"22deef72.7d3a4","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/windSpeed_ms","measurement":"weather/windSpeed_ms","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":1000,"wires":[]},{"id":"77d4b6e5.a28198","type":"mqtt out","z":"fec4c5fe.d70458","name":"","topic":"weather/windSpeed_ms","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":730,"y":1040,"wires":[]},{"id":"8a75c2a.e635c4","type":"mqtt in","z":"fec4c5fe.d70458","name":"MQTT dateTime","topic":"weather/dateTime","qos":"1","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":140,"y":2820,"wires":[["48585cd5.a4eee4","5618db40.5e0c24"]]},{"id":"48585cd5.a4eee4","type":"Message Counter","z":"fec4c5fe.d70458","name":"","units":"minutes","interval":"6","alignToClock":true,"generator":"internal","x":350,"y":2820,"wires":[["33b63374.62c57c"],[]]},{"id":"5229880f.7eb798","type":"mqtt out","z":"fec4c5fe.d70458","name":"","topic":"weather/server/activeStatus","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":680,"y":2820,"wires":[]},{"id":"f86216de.219038","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/server/activeStatus","measurement":"weather/server/activeStatus","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":680,"y":2880,"wires":[]},{"id":"51b23f94.0cec8","type":"mqtt out","z":"fec4c5fe.d70458","name":"","topic":"weather/server/lastUpdate","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":660,"y":3020,"wires":[]},{"id":"5618db40.5e0c24","type":"json","z":"fec4c5fe.d70458","name":"","property":"payload","action":"obj","pretty":false,"x":360,"y":3020,"wires":[["51b23f94.0cec8","91e55183.6af74"]]},{"id":"91e55183.6af74","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"weather/server/lastUpdate","measurement":"weather/server/lastUpdate","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":660,"y":3080,"wires":[]},{"id":"cfb9f8cd.5d4d68","type":"link out","z":"fec4c5fe.d70458","name":"dayRain_mm","links":["817a652d.63d768"],"x":635,"y":1820,"wires":[]},{"id":"bed53574.8eabf8","type":"link out","z":"fec4c5fe.d70458","name":"rainRate_mm_per_hour","links":["997af618.325148"],"x":635,"y":2240,"wires":[]},{"id":"594c30d6.b8505","type":"link out","z":"fec4c5fe.d70458","name":"barometer_mbar","links":["22158be9.cb9c74"],"x":635,"y":780,"wires":[]},{"id":"4fc81934.301998","type":"link out","z":"fec4c5fe.d70458","name":"outTemp_C","links":["d1558bdb.f86648","e45df9d7.287028","a5535076.f04f","22677a84.33ed06"],"x":635,"y":360,"wires":[]},{"id":"f0c3ec8.136f01","type":"change","z":"fec4c5fe.d70458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"rainToday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1920,"wires":[["857dfbe6.bee4e8","5d628a3e.ef2c54"]]},{"id":"a9efa2ff.e3b4f","type":"rbe","z":"fec4c5fe.d70458","name":"","func":"deadbandEq","gap":"5","start":"","inout":"out","septopics":true,"property":"payload","x":500,"y":1920,"wires":[["f0c3ec8.136f01"]]},{"id":"857dfbe6.bee4e8","type":"debug","z":"fec4c5fe.d70458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1960,"wires":[]},{"id":"5d628a3e.ef2c54","type":"link out","z":"fec4c5fe.d70458","name":"notify_rain","links":["d6ddce6.677193"],"x":775,"y":1920,"wires":[]},{"id":"b7eeb3e7.0a7bb","type":"link out","z":"fec4c5fe.d70458","name":"rpi-wx-ON","links":["20b03abe.b496e6"],"x":855,"y":2940,"wires":[]},{"id":"399e82b1.a7844e","type":"change","z":"fec4c5fe.d70458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"rpi-wx-ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2940,"wires":[["b7eeb3e7.0a7bb"]]},{"id":"c300d734.b2cf88","type":"rbe","z":"fec4c5fe.d70458","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","septopics":true,"property":"payload","x":500,"y":2000,"wires":[["864dec26.6d9d6"]]},{"id":"864dec26.6d9d6","type":"change","z":"fec4c5fe.d70458","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"rainToday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":2000,"wires":[["6d1d3976.5ea7e8"]]},{"id":"6d1d3976.5ea7e8","type":"link out","z":"fec4c5fe.d70458","name":"notify_rain_1","links":["6c547499.a0277c"],"x":775,"y":2000,"wires":[]},{"id":"c7805fc1.20a5e","type":"link out","z":"fec4c5fe.d70458","name":"MQTT_solar","links":["51aee6c0.88f8b8"],"x":635,"y":200,"wires":[]},{"id":"992ba55c.c74038","type":"debug","z":"fec4c5fe.d70458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":700,"wires":[]},{"id":"d7ee2b9e.4e8908","type":"influxdb out","z":"fec4c5fe.d70458","influxdb":"cd839b2b.295008","name":"exp/outt-dewt","measurement":"exp/outt-dewt","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":500,"wires":[]},{"id":"ee3dd814.d84bf8","type":"link out","z":"fec4c5fe.d70458","name":"inTemp","links":["c6a28273.605e8","43b76a56.5999c4"],"x":255,"y":2620,"wires":[]},{"id":"33b63374.62c57c","type":"function","z":"fec4c5fe.d70458","name":"","func":"var cntl = (msg.payload);\nif (cntl >0)\n{\n        msg.payload = 1;\n}\nelse\n{\n        msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2880,"wires":[["d60090e4.4d87b","5229880f.7eb798","f86216de.219038"]]},{"id":"d60090e4.4d87b","type":"rbe","z":"fec4c5fe.d70458","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":450,"y":2940,"wires":[["399e82b1.a7844e"]]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5baabe2e.fc791","type":"ui_group","name":"Solar & Rain","tab":"f8e48a5e.ceb3c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"311383c8.8a5aac","type":"ui_group","name":"Temps","tab":"f8e48a5e.ceb3c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"682d4186.5121","type":"ui_group","name":"Barometer","tab":"f8e48a5e.ceb3c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"8c7cee60.3107b","type":"ui_group","name":"Wind","tab":"f8e48a5e.ceb3c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5baa2957.0a1fa8","type":"mqtt-broker","name":"deb-101","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"f8e48a5e.ceb3c8","type":"ui_tab","name":"SecundaWeather","icon":"dashboard","disabled":false,"hidden":false}]