flows_45_garden_20230321.json
[{"id":"434c81ee.aaba1","type":"tab","label":"garden","disabled":false,"info":""},{"id":"a59b05f2.840c98","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/growbox1/temperature_C","topic":"garden/growbox1/temperature_C","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":250,"y":120,"wires":[["9bdaa716.118348","43bfa1c2.7e0d5","51befb5a.42fc14"]]},{"id":"9bdaa716.118348","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":120,"wires":[["1fd7ac44.0c4b94"]]},{"id":"1fd7ac44.0c4b94","type":"influxdb out","z":"434c81ee.aaba1","influxdb":"cd839b2b.295008","name":"garden/growbox1/temperature_C","measurement":"garden/growbox1/temperature_C","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":840,"y":120,"wires":[]},{"id":"891a9c49.acb04","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/growbox1/humidity_percent","topic":"garden/growbox1/humidity_percent","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":260,"y":240,"wires":[["cc139878.4213c8","2bd70de.3e3c8f2"]]},{"id":"cc139878.4213c8","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":240,"wires":[["3679c2e7.ab4efe"]]},{"id":"3679c2e7.ab4efe","type":"influxdb out","z":"434c81ee.aaba1","influxdb":"cd839b2b.295008","name":"garden/growbox1/humidity_percent","measurement":"garden/growbox1/humidity_percent","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":840,"y":240,"wires":[]},{"id":"d145d3a0.63919","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/growbox1/battery_voltage","topic":"garden/growbox1/battery_voltage","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":250,"y":320,"wires":[["6510af51.10dbc","65847429.8f4b3c"]]},{"id":"6510af51.10dbc","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":320,"wires":[["94d71e41.6f99e","a64974f8.b36dc8"]]},{"id":"94d71e41.6f99e","type":"influxdb out","z":"434c81ee.aaba1","influxdb":"cd839b2b.295008","name":"garden/growbox1/battery_voltage","measurement":"garden/growbox1/battery_voltage","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":840,"y":320,"wires":[]},{"id":"a64974f8.b36dc8","type":"debug","z":"434c81ee.aaba1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"91e0f12a.1257a","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/growbox1/rssi","topic":"garden/growbox1/rssi","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":220,"y":400,"wires":[["59154810.8d5408","fb4b7f38.e9451"]]},{"id":"59154810.8d5408","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":400,"wires":[["c30e0e18.3498a"]]},{"id":"c30e0e18.3498a","type":"influxdb out","z":"434c81ee.aaba1","influxdb":"cd839b2b.295008","name":"garden/growbox1/rssi","measurement":"garden/growbox1/rssi","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":800,"y":400,"wires":[]},{"id":"43bfa1c2.7e0d5","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"e0243331.a3017","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp1","label":"C","format":"{{value}}","min":"10","max":"40","colors":["#b30024","#e6e600","#00fa11"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"2bd70de.3e3c8f2","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"e0243331.a3017","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"30","max":"100","colors":["#ff0026","#e6e600","#00ff04"],"seg1":"","seg2":"","x":480,"y":280,"wires":[]},{"id":"65847429.8f4b3c","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"e0243331.a3017","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"V","format":"{{value}}","min":"2.5","max":"5","colors":["#ff1100","#e6e600","#00ff33"],"seg1":"","seg2":"","x":480,"y":360,"wires":[]},{"id":"fb4b7f38.e9451","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"e0243331.a3017","order":4,"width":0,"height":0,"gtype":"gage","title":"RSSI","label":"dBm","format":"{{value}}","min":"-100","max":"-40","colors":["#ff0000","#e6e600","#00ff33"],"seg1":"","seg2":"","x":470,"y":440,"wires":[]},{"id":"128b836f.d0eefd","type":"change","z":"434c81ee.aaba1","name":"","rules":[{"t":"set","p":"outTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":480,"wires":[[]]},{"id":"a5535076.f04f","type":"link in","z":"434c81ee.aaba1","name":"","links":["4fc81934.301998"],"x":135,"y":480,"wires":[["128b836f.d0eefd"]]},{"id":"8783df3f.e02f7","type":"mqtt out","z":"434c81ee.aaba1","name":"garden/growbox1/Tdiff","topic":"garden/growbox1/Tdiff","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":800,"y":520,"wires":[]},{"id":"2aa481e5.315efe","type":"influxdb out","z":"434c81ee.aaba1","influxdb":"cd839b2b.295008","name":"garden/growbox1/Tdiff","measurement":"garden/growbox1/Tdiff","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":800,"y":580,"wires":[]},{"id":"e7c0d095.e7f0d","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":580,"wires":[["2aa481e5.315efe"]]},{"id":"ff498a64.5c31a8","type":"inject","z":"434c81ee.aaba1","name":"2min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":170,"y":520,"wires":[["2faa035.e4f2cfc"]]},{"id":"2faa035.e4f2cfc","type":"function","z":"434c81ee.aaba1","name":"","func":"var outT = flow.get(\"outTemp\");\nvar boxT = flow.get(\"boxTemp\");\nmsg.payload = boxT - outT;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":520,"wires":[["e7c0d095.e7f0d","8783df3f.e02f7"]]},{"id":"51befb5a.42fc14","type":"change","z":"434c81ee.aaba1","name":"","rules":[{"t":"set","p":"boxTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[[]]},{"id":"bbe5f18d.1d776","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/temperature_C","topic":"garden/tunnel/temperature_C","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":260,"y":760,"wires":[["bc75a954.b5d628","cfc91857.9fa168","47175e1.090d3a"]]},{"id":"bc75a954.b5d628","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":760,"wires":[[]]},{"id":"51aafcf.b01f804","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/humidity_percent","topic":"garden/tunnel/humidity_percent","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":270,"y":1000,"wires":[["fab6eb43.385068","3d8664c2.9c67dc"]]},{"id":"fab6eb43.385068","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1000,"wires":[[]]},{"id":"5f976144.81922","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/supply_voltage","topic":"garden/tunnel/supply_voltage","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":260,"y":1080,"wires":[["d9018f04.b6427","9b07e4d2.f6bae8"]]},{"id":"d9018f04.b6427","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1080,"wires":[[]]},{"id":"7f8b4359.49312c","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/rssi","topic":"garden/tunnel/rssi","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":230,"y":1160,"wires":[["76dd7a3d.9cdd04","d88424fc.336ae8"]]},{"id":"76dd7a3d.9cdd04","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1160,"wires":[[]]},{"id":"cfc91857.9fa168","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"6c7a835d.4ca82c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"C","format":"{{value}}","min":"0","max":"50","colors":["#001eb3","#e6e600","#3acb57"],"seg1":"","seg2":"","x":490,"y":800,"wires":[]},{"id":"3d8664c2.9c67dc","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"6c7a835d.4ca82c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#b30024","#e6e600","#3acb52"],"seg1":"","seg2":"","x":500,"y":1040,"wires":[]},{"id":"9b07e4d2.f6bae8","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"6c7a835d.4ca82c","order":3,"width":0,"height":0,"gtype":"gage","title":"Power Supply","label":"V","format":"{{value}}","min":"3.5","max":"5.5","colors":["#b30009","#e6e600","#3acb6c"],"seg1":"","seg2":"","x":520,"y":1120,"wires":[]},{"id":"d88424fc.336ae8","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"6c7a835d.4ca82c","order":4,"width":0,"height":0,"gtype":"gage","title":"RSSI","label":"dBm","format":"{{value}}","min":"-100","max":"-40","colors":["#b30024","#e6e600","#3acb65"],"seg1":"","seg2":"","x":490,"y":1200,"wires":[]},{"id":"4cba29ab.ddfa58","type":"mqtt out","z":"434c81ee.aaba1","name":"garden/tunnel/Tdiff","topic":"garden/tunnel/Tdiff","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9cbf8f3a.f388c","x":790,"y":1240,"wires":[]},{"id":"53f168fb.ee3388","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1280,"wires":[[]]},{"id":"d04df5c2.dd3578","type":"inject","z":"434c81ee.aaba1","name":"2min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":190,"y":1240,"wires":[["243a454f.e8f8ea"]]},{"id":"243a454f.e8f8ea","type":"function","z":"434c81ee.aaba1","name":"","func":"var outT = flow.get(\"outTemp\");\nvar tunnelT = flow.get(\"tunnelTemp\");\nmsg.payload = tunnelT - outT;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1240,"wires":[["53f168fb.ee3388","4cba29ab.ddfa58"]]},{"id":"47175e1.090d3a","type":"change","z":"434c81ee.aaba1","name":"","rules":[{"t":"set","p":"tunnelTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":840,"wires":[[]]},{"id":"f6331ed6.3717a","type":"comment","z":"434c81ee.aaba1","name":"growbox 1","info":"","x":130,"y":60,"wires":[]},{"id":"1c499900.8b7647","type":"comment","z":"434c81ee.aaba1","name":"grow tunnel","info":"","x":150,"y":700,"wires":[]},{"id":"df480359.56115","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/temperature2_C","topic":"garden/tunnel/temperature2_C","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":270,"y":880,"wires":[["457f2e62.571c8","9475a81c.f11aa8","68b7e974.115768"]]},{"id":"457f2e62.571c8","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":880,"wires":[[]]},{"id":"9475a81c.f11aa8","type":"ui_gauge","z":"434c81ee.aaba1","name":"","group":"6c7a835d.4ca82c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"C","format":"{{value}}","min":"0","max":"50","colors":["#001eb3","#e6e600","#3acb57"],"seg1":"","seg2":"","x":490,"y":920,"wires":[]},{"id":"68b7e974.115768","type":"change","z":"434c81ee.aaba1","name":"","rules":[{"t":"set","p":"tunnelTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":960,"wires":[[]]},{"id":"123bd80e.b240c8","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/soilMoisture1","topic":"garden/tunnel/soilMoisture1","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":260,"y":1320,"wires":[["6159aca9.02a504","2100baa5.a4ee96"]]},{"id":"6159aca9.02a504","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1320,"wires":[[]]},{"id":"2100baa5.a4ee96","type":"ui_gauge","z":"434c81ee.aaba1","name":"Soil Moisture 1","group":"6c7a835d.4ca82c","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture 1","label":"%","format":"{{value}}","min":"0","max":"2500","colors":["#b30024","#e6e600","#3acb52"],"seg1":"","seg2":"","x":520,"y":1360,"wires":[]},{"id":"bed250c0.168eb","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/soilMoisture2","topic":"garden/tunnel/soilMoisture2","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":260,"y":1400,"wires":[["e18e479c.9dc978","75a18656.85dc38"]]},{"id":"e18e479c.9dc978","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1400,"wires":[[]]},{"id":"75a18656.85dc38","type":"ui_gauge","z":"434c81ee.aaba1","name":"Soil Moisture 2","group":"6c7a835d.4ca82c","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture 2","label":"%","format":"{{value}}","min":"0","max":"2500","colors":["#b30024","#e6e600","#3acb52"],"seg1":"","seg2":"","x":520,"y":1440,"wires":[]},{"id":"f135b224.890dd","type":"mqtt in","z":"434c81ee.aaba1","name":"garden/tunnel/soilTemp","topic":"garden/tunnel/soilTemp","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":240,"y":1480,"wires":[["369b48cd.bd5248","1a2eebbb.e6b624"]]},{"id":"369b48cd.bd5248","type":"json","z":"434c81ee.aaba1","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":1480,"wires":[[]]},{"id":"1a2eebbb.e6b624","type":"ui_gauge","z":"434c81ee.aaba1","name":"Soil Temp","group":"6c7a835d.4ca82c","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Temp","label":"%","format":"{{value}}","min":"-5","max":"35","colors":["#b30024","#e6e600","#3acb52"],"seg1":"","seg2":"","x":500,"y":1520,"wires":[]},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd839b2b.295008","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"e0243331.a3017","type":"ui_group","name":"Box1","tab":"54d64d70.ccd0e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c7a835d.4ca82c","type":"ui_group","name":"Tunnel","tab":"54d64d70.ccd0e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"54d64d70.ccd0e4","type":"ui_tab","name":"Garden","icon":"dashboard","disabled":false,"hidden":false}]