flows_45_gate_20230321.json
[{"id":"d23b9964.7a3be8","type":"tab","label":"Gate","disabled":false,"info":""},{"id":"deadb151.8bd94","type":"irc in","z":"d23b9964.7a3be8","name":"","ircserver":"a97e961.4c2c668","channel":"#notify","x":130,"y":80,"wires":[[],[]]},{"id":"16d36b28.ae76e5","type":"debug","z":"d23b9964.7a3be8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"af96ee6e.94b34","type":"csv","z":"d23b9964.7a3be8","name":"","sep":" ","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":140,"wires":[["54201a58.a41284"]]},{"id":"54201a58.a41284","type":"function","z":"d23b9964.7a3be8","name":"","func":"var cmd = msg.payload.col1;\nvar par = msg.payload.col2;\nvar out = 1;\n\nif (cmd == \"g\")\n{\n    if (par > 0)\n    {\n        out = 1;\n    }\n}\n\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["16d36b28.ae76e5","d230ca1.900ad38","c69ae2c5.e63e9"]]},{"id":"a33101e0.f51df","type":"rpi-gpio out","z":"d23b9964.7a3be8","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":600,"y":280,"wires":[]},{"id":"d230ca1.900ad38","type":"delay","z":"d23b9964.7a3be8","name":"","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":260,"wires":[["111bcd05.e26423"]]},{"id":"111bcd05.e26423","type":"function","z":"d23b9964.7a3be8","name":"","func":"var digout = msg.payload;\n\nif (digout == 1)\n{\n    digout = 0;\n}\n\nmsg.payload = digout;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["d1f770e7.44fbc","5988b2f2.76d91c","c69ae2c5.e63e9"]]},{"id":"d1f770e7.44fbc","type":"debug","z":"d23b9964.7a3be8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":320,"wires":[]},{"id":"5988b2f2.76d91c","type":"function","z":"d23b9964.7a3be8","name":"","func":"msg.payload = 'Gate command sent';\nmsg.topic = 'Gate Command';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":380,"wires":[["77c4507.213a4b"]]},{"id":"99014c70.4b4f2","type":"ui_button","z":"d23b9964.7a3be8","name":"","group":"45fde2e7.f75dfc","order":0,"width":0,"height":0,"passthru":false,"label":"GATE OPEN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"g 1","payloadType":"str","topic":"payload","topicType":"msg","x":130,"y":140,"wires":[["af96ee6e.94b34"]]},{"id":"77c4507.213a4b","type":"link out","z":"d23b9964.7a3be8","name":"Gate_cmd","links":["1ef55e08.891272"],"x":555,"y":380,"wires":[]},{"id":"300b6567.3077da","type":"ui_button","z":"d23b9964.7a3be8","name":"","group":"14f8a078.37047","order":5,"width":0,"height":0,"passthru":false,"label":"Gate Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"g 1","payloadType":"str","topic":"payload","topicType":"msg","x":130,"y":180,"wires":[["af96ee6e.94b34"]]},{"id":"1d8cc4b5.f15e5b","type":"mqtt in","z":"d23b9964.7a3be8","name":"control/gate","topic":"control/gate","qos":"2","datatype":"auto","broker":"9cbf8f3a.f388c","nl":false,"rap":true,"rh":0,"x":130,"y":320,"wires":[["af96ee6e.94b34"]]},{"id":"27fc7397.bc417c","type":"comment","z":"d23b9964.7a3be8","name":"from HA","info":"","x":120,"y":280,"wires":[]},{"id":"c69ae2c5.e63e9","type":"debug","z":"d23b9964.7a3be8","name":"dummy pin16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"a97e961.4c2c668","type":"irc-server","server":"192.168.1.43","port":"6667","ssl":false,"cert":false,"nickname":"NRed"},{"id":"45fde2e7.f75dfc","type":"ui_group","name":"Gate","tab":"14cc3ed7.1bee51","order":1,"disp":true,"width":"6","collapse":false},{"id":"14f8a078.37047","type":"ui_group","name":"NodeMCU & Internet","tab":"8d37a358.3a4e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"9cbf8f3a.f388c","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14cc3ed7.1bee51","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"8d37a358.3a4e8","type":"ui_tab","name":"System Status","icon":"dashboard","disabled":false,"hidden":false}]