flows_46_all_20230321.json
[{"id":"e27e5adc.5685f8","type":"tab","label":"Status","disabled":false,"info":""},{"id":"a3ab827.d1d778","type":"tab","label":"Water & Other","disabled":false,"info":""},{"id":"4ec98322.a6ab2c","type":"tab","label":"message","disabled":false,"info":""},{"id":"d8d69136.9aa7","type":"tab","label":"cluster GB","disabled":false,"info":""},{"id":"8572c1b4.0f9b3","type":"tab","label":"Web API","disabled":false,"info":""},{"id":"72cf802c.aaf13","type":"tab","label":"IDSalarm","disabled":false,"info":""},{"id":"cc2df0ce.b14fe","type":"tab","label":"rotate","disabled":false,"info":""},{"id":"2f787c92.3f4a44","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"81314812.cd34f8","type":"tab","label":"wsjtx","disabled":false,"info":""},{"id":"df8571fa.4e6ae","type":"tab","label":"hab-dash","disabled":false,"info":""},{"id":"498db040.93218","type":"tab","label":"habtelem-rx","disabled":false,"info":""},{"id":"8d84a62b.30a128","type":"tab","label":"ups","disabled":false,"info":""},{"id":"bfae5dc8.1e56d","type":"mqtt-broker","name":"zs6cr-rpi-mqtt","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"100","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f8e48a5e.ceb3c8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"bd8ec395.ef88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7dd467a3.ca0f08","type":"mqtt-broker","name":"serv1","broker":"102.22.83.208","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ba77a82a.951008","type":"mqtt-broker","name":"zs6cr-rpi-brew","broker":"192.168.1.47","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a86897f2.875cc8","type":"ui_group","name":"Loopback Value","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b95cf26.a0faa","type":"ui_group","name":"elec","tab":"f8e48a5e.ceb3c8","order":4,"disp":true,"width":8,"collapse":false},{"id":"10e38389.1f375c","type":"ui_group","name":"Network ZS6GC","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"e2a04dd0.34c47","type":"ui_group","name":"Network ZS6BAM","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"837ebbdd.f94338","type":"ui_group","name":"CPU","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"aba2aaa7.0e04b8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"brewtestdb","name":"brewtestdb","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"cc1083bb.107a3","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"69a55496.73efdc","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"eab1b57.2e92548","type":"mqtt-broker","name":"serv1","broker":"102.22.83.208","port":"1883","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e9e9ad4.132e85","type":"mqtt-broker","name":"zs6cr-rpi-brew","broker":"192.168.1.47","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a8c44eba.3d032","type":"ui_tab","name":"Status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6762586a.b58218","type":"ui_group","name":"CPU","tab":"a8c44eba.3d032","order":1,"disp":true,"width":"6","collapse":false},{"id":"26deedd3.ca5aa2","type":"ui_group","name":"Memory","tab":"a8c44eba.3d032","order":2,"disp":true,"width":"6","collapse":false},{"id":"b186bde0.c2ca5","type":"ui_group","name":"Network","tab":"a8c44eba.3d032","order":3,"disp":true,"width":"6","collapse":false},{"id":"ef4e54f0.3d5028","type":"ui_group","name":"Load Power","tab":"5ecde47e.f17cdc","order":5,"disp":true,"width":"6","collapse":false},{"id":"2de138e7.261c18","type":"ui_group","name":"Grid Power","tab":"5ecde47e.f17cdc","order":4,"disp":true,"width":"6","collapse":false},{"id":"4c04c91e.0b83d8","type":"ui_group","name":"Battery Power","tab":"5ecde47e.f17cdc","order":3,"disp":true,"width":"6","collapse":false},{"id":"5ecde47e.f17cdc","type":"ui_tab","name":"ZS6GC Solar","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c058fda5.635a6","type":"ui_group","name":"Solar Energy","tab":"5ecde47e.f17cdc","order":1,"disp":true,"width":"6","collapse":false},{"id":"452a9db8.3a6b84","type":"ui_group","name":"PV Power","tab":"5ecde47e.f17cdc","order":2,"disp":true,"width":"6","collapse":false},{"id":"bd7cd5b4.8e4d98","type":"ui_group","name":"Loopback & Water","tab":"f8e48a5e.ceb3c8","order":2,"disp":true,"width":7,"collapse":false},{"id":"5047efca.6031d","type":"ui_group","name":"Water","tab":"f8e48a5e.ceb3c8","order":3,"disp":true,"width":8,"collapse":false},{"id":"522887c2.8f7608","type":"mqtt-broker","name":"deb","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ec42d40f.1ab398","type":"mqtt-broker","name":"Solar Assistant","broker":"gertb.homeip.net","port":"51883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"35c340ab.1f656","type":"ui_group","name":"Weather","tab":"ab5d83d6.47a5a","order":1,"disp":true,"width":24,"collapse":false},{"id":"ef3059b2.e28918","type":"ui_group","name":"Default","tab":"b13cdc20.23da4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab5d83d6.47a5a","type":"ui_tab","name":"WI Gertb","icon":"dashboard","disabled":false,"hidden":false},{"id":"b13cdc20.23da4","type":"ui_tab","name":"Inverter Gertb","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"45fde2e7.f75dfc","type":"ui_group","name":"Gate","tab":"14cc3ed7.1bee51","order":1,"disp":true,"width":"6","collapse":false},{"id":"a031c69b.2be2a8","type":"mqtt-broker","name":"zs6cr-vm-rpi","broker":"192.168.1.62","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"94a453f3.229c4","type":"ui_group","name":"CPU","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"cac80221.91f46","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"cortest","name":"VM","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://192.168.1.62:8086","rejectUnauthorized":false},{"id":"4bd2e1ef.39cff","type":"serial-port","serialport":"com41","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8919cdbb.160f5","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2bd1f375.4b6bbc","type":"ui_group","name":"Sats","tab":"857c11a9.eda6d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"857c11a9.eda6d8","type":"ui_tab","name":"Sats","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"af68320.97cb4d","type":"ui_group","name":"From Brian","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"831f7547.6034e8","type":"ui_group","name":"From Nigel","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"4b60f798.d4fa","type":"ui_group","name":"Energy","tab":"15ebcf5.c678631","order":null,"disp":true,"width":"6"},{"id":"15ebcf5.c678631","type":"ui_tab","name":"Home","icon":"dashboard","order":"1"},{"id":"ce8ea9ec.5bffa8","type":"influxdb","hostname":"192.168.1.45","port":"8086","protocol":"http","database":"zs6cr","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d67f6ff8.62001","type":"ui_spacer","name":"spacer","group":"bd7cd5b4.8e4d98","order":4,"width":7,"height":1},{"id":"d60f5bbc.42d008","type":"ui_spacer","name":"spacer","group":"bd7cd5b4.8e4d98","order":5,"width":7,"height":1},{"id":"8b0013c5.618a2","type":"telnet-connection","name":"Cluster","address":"nolcluster.on8ar.eu","port":"7300","inDelimiter":"","outDelimiter":"","timeOut":"3000","clearOut":"","openTries":"1"},{"id":"bf66195d.e35868","type":"telnet-connection","name":"","address":"127.0.0.1","port":"23","inDelimiter":"","outDelimiter":"","timeOut":"1500","clearOut":"","openTries":"1"},{"id":"f56d5339.1e881","type":"telnet-connection","name":"ZS2EZ","address":"cluster.zs2ez.org","port":"7373","inDelimiter":"","outDelimiter":"","timeOut":"1500","clearOut":"","openTries":"1"},{"id":"87831872.9a51b8","type":"mqtt-broker","name":"WI_Gert/WS","broker":"192.168.1.60","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"74999428.633fbc","type":"mqtt-broker","name":"gertB-wx","broker":"gertb.homeip.net","port":"31883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2d5c1fe4.fbc5b","type":"mqtt-broker","name":"MQTT","broker":"10.0.0.2","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4238dd7f.03e3e4","type":"tls-config","name":"default","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"9881d8f4.571c18","type":"telnet-connection","name":"DX","address":"dx.w1nr.net","port":"23","inDelimiter":"","outDelimiter":"","timeOut":"1500","clearOut":"","openTries":"1"},{"id":"5baa2957.0a1fa8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"56582f14.218fb","type":"influxdb","hostname":"192.168.1.45","port":"8086","protocol":"http","database":"zs6cr","name":"zs6cr-rpi-mqtt","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"2101702a.40fe1","type":"mqtt-broker","name":"vm-deb","broker":"192.168.1.101","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6cef20de.369f","type":"aprs config","filter":"","name":" ZS6WBT-01"},{"id":"ad2d0e19.7534c","type":"mqtt-broker","name":"vm-rpi","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a97e961.4c2c668","type":"irc-server","server":"192.168.1.43","port":"6667","ssl":false,"cert":false,"nickname":"NRed"},{"id":"14cc3ed7.1bee51","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"c49f6da6.3bf37","type":"ui_group","name":"Rotate","tab":"14cc3ed7.1bee51","order":3,"disp":true,"width":"6","collapse":false},{"id":"35f21005.f0f95","type":"yeelight-compat-hue-config","hostname":"192.168.1.140","port":"55443","name":""},{"id":"177eec52.602524","type":"yeelight-compat-hue-config","hostname":"192.168.1.140","port":"55443","name":"shack"},{"id":"1fcf1117.e89eaf","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c3cc0ba1.bbef58","type":"ui_group","name":"NodeMCU & Internet","tab":"6bf8ff70.8b1ed","order":5,"disp":true,"width":"6","collapse":false},{"id":"6bf8ff70.8b1ed","type":"ui_tab","name":"System Status","icon":"dashboard","disabled":false,"hidden":false},{"id":"acf5c923.cfed28","type":"yeelight-compat-hue-config","hostname":"192.168.1.142","port":"55443","name":""},{"id":"4d9f5cd6.3f6194","type":"yeelight-compat-hue-config","hostname":"192.168.1.142","port":"55443","name":""},{"id":"718349bd.522b58","type":"yeelight-config"},{"id":"a144f4b6.064f28","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8cdee5c7.4c3268","type":"ui_group","name":"NodeMCU & Internet","tab":"4be53ecd.b28d6","order":5,"disp":true,"width":"6","collapse":false},{"id":"4be53ecd.b28d6","type":"ui_tab","name":"System Status","icon":"dashboard","disabled":false,"hidden":false},{"id":"f03f3268.6f30b","type":"ui_group","name":"Status","tab":"214e4c92.8b63b4","order":1,"disp":true,"width":"5","collapse":false},{"id":"214e4c92.8b63b4","type":"ui_tab","name":"BACAR","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0ce5e8b.7f7a3","type":"ui_group","name":"Nav","tab":"214e4c92.8b63b4","order":2,"disp":true,"width":"7","collapse":false},{"id":"826fe509.544a58","type":"ui_group","name":"Sense","tab":"214e4c92.8b63b4","order":4,"disp":true,"width":"5","collapse":false},{"id":"52c41ecd.b522","type":"ui_group","name":"Power","tab":"214e4c92.8b63b4","order":3,"disp":true,"width":"4","collapse":false},{"id":"aac31fca.3f73c","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8b050d58.cb413","type":"apcconfig","name":"ip46","host":"192.168.1.46","port":"3551"},{"id":"bd677223.e3193","type":"mqtt in","z":"a3ab827.d1d778","name":"","topic":"test/loopBackOut","qos":"1","datatype":"auto","broker":"bfae5dc8.1e56d","nl":false,"rap":true,"rh":0,"x":120,"y":360,"wires":[["7651bed6.739a5"]]},{"id":"7651bed6.739a5","type":"ui_gauge","z":"a3ab827.d1d778","name":"","group":"bd7cd5b4.8e4d98","order":2,"width":0,"height":0,"gtype":"gage","title":"LoopBackOut","label":"counts","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":360,"wires":[]},{"id":"3b40a830.9972b8","type":"ui_slider","z":"a3ab827.d1d778","name":"","label":"LoopBackIn","tooltip":"","group":"bd7cd5b4.8e4d98","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"1000","step":1,"x":110,"y":300,"wires":[["64d6ce8f.3848d"]]},{"id":"64d6ce8f.3848d","type":"mqtt out","z":"a3ab827.d1d778","name":"","topic":"test/loopBackIn","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":560,"y":300,"wires":[]},{"id":"c6aa2c2c.f7697","type":"mqtt in","z":"a3ab827.d1d778","name":"","topic":"water/pressure_bar","qos":"1","datatype":"auto","broker":"bfae5dc8.1e56d","nl":false,"rap":true,"rh":0,"x":130,"y":120,"wires":[["f202c08e.d68e3","9109c30f.8d72e"]]},{"id":"f202c08e.d68e3","type":"debug","z":"a3ab827.d1d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"9109c30f.8d72e","type":"smooth","z":"a3ab827.d1d778","name":"","property":"payload","action":"low","count":"5","round":"","mult":"single","reduce":false,"x":340,"y":180,"wires":[["79532c2c.5e7da4","d9b773f8.38263"]]},{"id":"79532c2c.5e7da4","type":"debug","z":"a3ab827.d1d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"b32b60db.61369","type":"mqtt out","z":"e27e5adc.5685f8","name":"","topic":"status/zs6cr-rpi-400/cpu_perc","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":730,"y":60,"wires":[]},{"id":"35495580.f93d9a","type":"mqtt out","z":"e27e5adc.5685f8","name":"","topic":"status/zs6cr-rpi-400/temp_C","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":720,"y":100,"wires":[]},{"id":"c687b682.04fa08","type":"cpu","z":"e27e5adc.5685f8","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":330,"y":60,"wires":[["b32b60db.61369"]]},{"id":"dfa2da58.f8de38","type":"memory","z":"e27e5adc.5685f8","name":"","relativeValues":false,"unitType":"mb","totalMemory":false,"usedMemory":false,"freeMemory":false,"availableMemory":false,"activeMemory":true,"buffersMemory":false,"cachedMemory":false,"slabMemory":false,"buffcacheMemory":false,"freeAvailableMemory":false,"swapTotalMemory":false,"swapUsedMemory":false,"swapFreeMemory":false,"x":320,"y":140,"wires":[["7d25a396.227a3c"]]},{"id":"3f58a44d.bc2fbc","type":"network_stats","z":"e27e5adc.5685f8","name":"","receivedBytesSec":true,"transmittedBytesSec":false,"x":340,"y":180,"wires":[["2cf2add2.e99182"]]},{"id":"16be47ed.71d4c8","type":"inject","z":"e27e5adc.5685f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["c687b682.04fa08","f5fca7b8.3ea528","dfa2da58.f8de38","3f58a44d.bc2fbc","df8f6e79.bc6ff","66aaa2ee.79f5cc"]]},{"id":"f5fca7b8.3ea528","type":"cpu","z":"e27e5adc.5685f8","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":330,"y":100,"wires":[["35495580.f93d9a"]]},{"id":"df8f6e79.bc6ff","type":"network_stats","z":"e27e5adc.5685f8","name":"","receivedBytesSec":false,"transmittedBytesSec":true,"x":340,"y":220,"wires":[["ad78f3f9.b231a"]]},{"id":"542f9851.18a028","type":"mqtt out","z":"e27e5adc.5685f8","name":"","topic":"status/zs6cr-rpi-400/mem_perc","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":730,"y":140,"wires":[]},{"id":"6e03b70d.dd8478","type":"mqtt out","z":"e27e5adc.5685f8","name":"","topic":"status/zs6cr-rpi-400/netRX_kBps","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":740,"y":180,"wires":[]},{"id":"89583367.5eaa3","type":"mqtt out","z":"e27e5adc.5685f8","name":"","topic":"status/zs6cr-rpi-400/netTX_kBps","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":730,"y":220,"wires":[]},{"id":"2cf2add2.e99182","type":"range","z":"e27e5adc.5685f8","minin":"0","maxin":"1024","minout":"0","maxout":"1","action":"scale","round":false,"property":"payload","name":"","x":510,"y":180,"wires":[["6e03b70d.dd8478"]]},{"id":"7d25a396.227a3c","type":"range","z":"e27e5adc.5685f8","minin":"0","maxin":"4096","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":510,"y":140,"wires":[["542f9851.18a028"]]},{"id":"ad78f3f9.b231a","type":"range","z":"e27e5adc.5685f8","minin":"0","maxin":"1024","minout":"0","maxout":"1","action":"scale","round":false,"property":"payload","name":"","x":510,"y":220,"wires":[["89583367.5eaa3"]]},{"id":"b603432.5e43cc","type":"mqtt in","z":"a3ab827.d1d778","name":"","topic":"GB_A_water/pressure_bar","qos":"0","datatype":"auto","broker":"522887c2.8f7608","nl":false,"rap":true,"rh":0,"x":150,"y":440,"wires":[["cb264d9a.cdaee","7882c978.ab7898"]]},{"id":"cb264d9a.cdaee","type":"debug","z":"a3ab827.d1d778","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"7882c978.ab7898","type":"smooth","z":"a3ab827.d1d778","name":"","property":"payload","action":"low","count":"5","round":"","mult":"single","reduce":false,"x":400,"y":460,"wires":[["507c9b5f.6b86c4"]]},{"id":"507c9b5f.6b86c4","type":"ui_chart","z":"a3ab827.d1d778","name":"","group":"5047efca.6031d","order":2,"width":0,"height":0,"label":"ZS6GC Water Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"12","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":440,"wires":[[]]},{"id":"66aaa2ee.79f5cc","type":"Drives","z":"e27e5adc.5685f8","name":"","x":310,"y":280,"wires":[["89c07f14.0753a"]]},{"id":"89c07f14.0753a","type":"change","z":"e27e5adc.5685f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].capacity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["e7731b35.7018d8"]]},{"id":"e7731b35.7018d8","type":"range","z":"e27e5adc.5685f8","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":510,"y":340,"wires":[["a2f0de19.e0163"]]},{"id":"a2f0de19.e0163","type":"mqtt out","z":"e27e5adc.5685f8","name":"","topic":"status/zs6cr-rpi-400/disk_perc","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":730,"y":340,"wires":[]},{"id":"d9b773f8.38263","type":"ui_chart","z":"a3ab827.d1d778","name":"","group":"5047efca.6031d","order":1,"width":0,"height":0,"label":"Water Pressure Smoothed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"12","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":240,"wires":[[]]},{"id":"36c57a9b.480836","type":"ui_text_input","z":"4ec98322.a6ab2c","name":"","label":"Enter Text Here","tooltip":"","group":"bd7cd5b4.8e4d98","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":420,"y":160,"wires":[["7bbdb61.2fc3948"]]},{"id":"7bbdb61.2fc3948","type":"mqtt out","z":"4ec98322.a6ab2c","name":"","topic":"message/send","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc1083bb.107a3","x":620,"y":160,"wires":[]},{"id":"d6be0360.1a0a","type":"mqtt in","z":"4ec98322.a6ab2c","name":"","topic":"message/send","qos":"2","datatype":"auto","broker":"cc1083bb.107a3","nl":false,"rap":true,"rh":0,"x":420,"y":240,"wires":[["25b5dd23.5d4fb2"]]},{"id":"25b5dd23.5d4fb2","type":"ui_text","z":"4ec98322.a6ab2c","group":"bd7cd5b4.8e4d98","order":3,"width":0,"height":0,"name":"","label":"Mesg","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":240,"wires":[]},{"id":"38a3bd3a.587e42","type":"inject","z":"d8d69136.9aa7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"zs6cr","payloadType":"str","x":130,"y":60,"wires":[["a73aca8e.f7f298"]]},{"id":"a73aca8e.f7f298","type":"telnet-send","z":"d8d69136.9aa7","name":"","connection":"f56d5339.1e881","x":350,"y":60,"wires":[]},{"id":"8e87b222.ae8d3","type":"telnet-read","z":"d8d69136.9aa7","name":"","connection":"8b0013c5.618a2","x":130,"y":160,"wires":[["fc0b240b.786578","7736d2bd.a046fc"]]},{"id":"7736d2bd.a046fc","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":260,"wires":[]},{"id":"fc0b240b.786578","type":"json","z":"d8d69136.9aa7","name":"Info1","property":"payload","action":"str","pretty":false,"x":330,"y":160,"wires":[["df64ab00.fcf1a8","e98094c5.90cf08","7e353a30.390814"]]},{"id":"e98094c5.90cf08","type":"function","z":"d8d69136.9aa7","name":"","func":"let spot = msg.payload\nlet spotter = spot.substr(6,11);\nlet freq = spot.substr(17,7);\nlet call = spot.substr(26,6);\nlet comment = spot.substr(56,14);\nlet time = spot.substr(70,4);\nlet grid = spot.substr(76,4);\nreturn {payload:{spotter:spotter,freq:freq,call:call,comment:comment,time:time,grid:grid}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":160,"wires":[["b68a3b46.4c78a8","6e0c2916.49efd8","cc2b1d58.c6078","c302483b.e75348"]]},{"id":"b68a3b46.4c78a8","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"df64ab00.fcf1a8","type":"debug","z":"d8d69136.9aa7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":260,"wires":[]},{"id":"7e353a30.390814","type":"Message Counter","z":"d8d69136.9aa7","name":"","units":"minutes","interval":"2","alignToClock":true,"generator":"internal","x":610,"y":80,"wires":[["e26b55f.e0c2ca8"],[]]},{"id":"e26b55f.e0c2ca8","type":"function","z":"d8d69136.9aa7","name":"","func":"var cntl = (msg.payload);\nif (cntl >0)\n{\n        msg.payload = 1;\n}\nelse\n{\n        msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":80,"wires":[["ce85957d.5dbe68"]]},{"id":"ce85957d.5dbe68","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":40,"wires":[]},{"id":"6cd022d6.f8ea0c","type":"switch","z":"d8d69136.9aa7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ZS","vt":"str"},{"t":"eq","v":"ZR","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":160,"wires":[["ae814e26.d2826","305ccc3.172b934","38449dc7.53e2b2"],["fd7e0b7d.8b7a48","40bf9a5f.93c7a4","38449dc7.53e2b2"]]},{"id":"305ccc3.172b934","type":"Message Counter","z":"d8d69136.9aa7","name":"ZS","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":160,"wires":[[],[]]},{"id":"40bf9a5f.93c7a4","type":"Message Counter","z":"d8d69136.9aa7","name":"ZR","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":220,"wires":[[],[]]},{"id":"fd7e0b7d.8b7a48","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":100,"wires":[]},{"id":"ae814e26.d2826","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":60,"wires":[]},{"id":"38449dc7.53e2b2","type":"Message Counter","z":"d8d69136.9aa7","name":"ZS + ZR","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1260,"y":280,"wires":[["5d5483b3.d1df7c","afcac90a.dd5398"],[]]},{"id":"6e0c2916.49efd8","type":"function","z":"d8d69136.9aa7","name":"Prefix","func":"msg.payload = msg.payload.call;\nvar prefx = msg.payload.substr(0,2);\nmsg.payload = prefx;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":160,"wires":[["be851bbc.c61f08","6cd022d6.f8ea0c"]]},{"id":"be851bbc.c61f08","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":120,"wires":[]},{"id":"cc2b1d58.c6078","type":"function","z":"d8d69136.9aa7","name":"","func":"var tet = msg.payload.freq\nmsg.payload = msg.payload.call;\nvar prefx = msg.payload.substr(0,2);\nmsg.payload = prefx;\nif (prefx == \"ZS\") {\n  msg.payload = tet;\n}  else if (prefx == \"ZR\") {\n  msg.payload = tet;\n} else {\n  msg.payload = \" \";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":220,"wires":[["76b82436.f3ec5c","b4cab1ad.a043c"]]},{"id":"76b82436.f3ec5c","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":220,"wires":[]},{"id":"b4cab1ad.a043c","type":"function","z":"d8d69136.9aa7","name":"Freq","func":"var freq = Number(msg.payload);\nfreq =Math.floor(freq/1000);\nmsg.payload = freq;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":500,"wires":[["244316f6.1f694a","954787cf.8c10a8"]]},{"id":"244316f6.1f694a","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":360,"wires":[]},{"id":"954787cf.8c10a8","type":"switch","z":"d8d69136.9aa7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"18","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"24","vt":"num"},{"t":"btwn","v":"27","vt":"num","v2":"30","v2t":"num"},{"t":"btwn","v":"49","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"143","vt":"num","v2":"147","v2t":"num"},{"t":"btwn","v":"430","vt":"num","v2":"439","v2t":"num"},{"t":"gt","v":"2200","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":990,"y":500,"wires":[["e02a420d.9baf4"],["8db2b410.5523f8"],["6a69d842.0fcb68"],["2486ea93.17ce06"],["8cfe05dc.dd7ee8"],["4afad5c8.52c4bc"],["c62ae278.2e8ec"],["f6833932.07df58"],["a4e1e882.c74b18"],["f7670696.4601b8"],["593128e1.c70e68"],["48cb8093.16b47"],["bce6a41c.07f458"]]},{"id":"bce6a41c.07f458","type":"Message Counter","z":"d8d69136.9aa7","name":"QO-100","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1260,"y":740,"wires":[["8902d61a.f0c508","e9db9ed.be43d6"],[]]},{"id":"593128e1.c70e68","type":"Message Counter","z":"d8d69136.9aa7","name":"2m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":680,"wires":[[],[]]},{"id":"a4e1e882.c74b18","type":"Message Counter","z":"d8d69136.9aa7","name":"10m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":620,"wires":[["2687b891.ba9418","77f8389f.eb6158"],[]]},{"id":"c62ae278.2e8ec","type":"Message Counter","z":"d8d69136.9aa7","name":"15m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":560,"wires":[["4f0ddaa8.49ea64","33d7a77b.59e418"],[]]},{"id":"8cfe05dc.dd7ee8","type":"Message Counter","z":"d8d69136.9aa7","name":"20m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":500,"wires":[["242a65cf.3c752a","307e53af.57e49c"],[]]},{"id":"6a69d842.0fcb68","type":"Message Counter","z":"d8d69136.9aa7","name":"40m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":440,"wires":[["4e065d54.4592b4","413dc0d6.42941"],[]]},{"id":"e02a420d.9baf4","type":"Message Counter","z":"d8d69136.9aa7","name":"160m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1250,"y":380,"wires":[["2e505a61.9b9606","7eb771a9.2abe"],[]]},{"id":"8db2b410.5523f8","type":"Message Counter","z":"d8d69136.9aa7","name":"80m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1390,"y":400,"wires":[["be7d73df.4f623","3f5d399f.c6ddc6"],[]]},{"id":"2486ea93.17ce06","type":"Message Counter","z":"d8d69136.9aa7","name":"30m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1390,"y":460,"wires":[["8d1c16fb.416498","a607d1b1.2827e"],[]]},{"id":"4afad5c8.52c4bc","type":"Message Counter","z":"d8d69136.9aa7","name":"17m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1390,"y":520,"wires":[["38ebcd24.82e932","beef6e51.6e5f8"],[]]},{"id":"f6833932.07df58","type":"Message Counter","z":"d8d69136.9aa7","name":"12m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1390,"y":580,"wires":[["b9e2f0e.41a331"],["21fad8ad.17eeb8"]]},{"id":"f7670696.4601b8","type":"Message Counter","z":"d8d69136.9aa7","name":"6m","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1390,"y":640,"wires":[["a2b9cf4b.e69fb","8f038de7.3c452"],[]]},{"id":"48cb8093.16b47","type":"Message Counter","z":"d8d69136.9aa7","name":"70cm","units":"minutes","interval":"30","alignToClock":true,"generator":"internal","x":1390,"y":700,"wires":[[],[]]},{"id":"c302483b.e75348","type":"function","z":"d8d69136.9aa7","name":"Spotter","func":"var tet = msg.payload.freq\nvar spot = msg.payload.spotter;\nmsg.payload = msg.payload.call;\nvar prefx = msg.payload.substr(0,2);\nmsg.payload = prefx;\nif (prefx == \"ZS\") {\n  msg.payload = spot;\n}  else if (prefx == \"ZR\") {\n  msg.payload = spot;\n} else {\n  msg.payload = \" \";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":280,"wires":[["2e0aa94b.1623c6"]]},{"id":"2e0aa94b.1623c6","type":"debug","z":"d8d69136.9aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":280,"wires":[]},{"id":"5d5483b3.d1df7c","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCountZS","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":280,"wires":[]},{"id":"afcac90a.dd5398","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCountZS","measurement":"radio/spotCountZS","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1650,"y":240,"wires":[]},{"id":"2e505a61.9b9606","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount160","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":360,"wires":[]},{"id":"be7d73df.4f623","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount80","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":400,"wires":[]},{"id":"4e065d54.4592b4","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount40","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":440,"wires":[]},{"id":"8d1c16fb.416498","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount30","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":480,"wires":[]},{"id":"242a65cf.3c752a","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount20","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":520,"wires":[]},{"id":"38ebcd24.82e932","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount17","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":560,"wires":[]},{"id":"4f0ddaa8.49ea64","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount15","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":600,"wires":[]},{"id":"21fad8ad.17eeb8","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount12","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":640,"wires":[]},{"id":"2687b891.ba9418","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount10","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":680,"wires":[]},{"id":"a2b9cf4b.e69fb","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCount6","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1650,"y":720,"wires":[]},{"id":"8902d61a.f0c508","type":"mqtt out","z":"d8d69136.9aa7","name":"","topic":"radio/spotCountQO100","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":1670,"y":760,"wires":[]},{"id":"7eb771a9.2abe","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount160","measurement":"radio/spotCount160","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":360,"wires":[]},{"id":"3f5d399f.c6ddc6","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount80","measurement":"radio/spotCount80","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":400,"wires":[]},{"id":"413dc0d6.42941","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount40","measurement":"radio/spotCount40","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":440,"wires":[]},{"id":"a607d1b1.2827e","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount30","measurement":"radio/spotCount30","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":480,"wires":[]},{"id":"307e53af.57e49c","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount20","measurement":"radio/spotCount20","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":520,"wires":[]},{"id":"beef6e51.6e5f8","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount17","measurement":"radio/spotCount17","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":560,"wires":[]},{"id":"33d7a77b.59e418","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount15","measurement":"radio/spotCount15","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":600,"wires":[]},{"id":"b9e2f0e.41a331","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount12","measurement":"radio/spotCount12","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":640,"wires":[]},{"id":"77f8389f.eb6158","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount10","measurement":"radio/spotCount10","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":680,"wires":[]},{"id":"8f038de7.3c452","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCount6","measurement":"radio/spotCount6","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1910,"y":720,"wires":[]},{"id":"e9db9ed.be43d6","type":"influxdb out","z":"d8d69136.9aa7","influxdb":"ce8ea9ec.5bffa8","name":"radio/spotCountQO100","measurement":"radio/spotCountQO100","precision":"","retentionPolicy":"","database":"zs6cr","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1930,"y":760,"wires":[]},{"id":"9395fb3f.25abd8","type":"inject","z":"8572c1b4.0f9b3","name":"5 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"num","x":130,"y":100,"wires":[[]]},{"id":"bb1d1cb6.20cee","type":"http request","z":"8572c1b4.0f9b3","name":"Get data from API","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://services.swpc.noaa.gov/json/sunspot_report.json","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":100,"wires":[["666b837f.76b8ac","6fc034f0.23d09c"]]},{"id":"666b837f.76b8ac","type":"debug","z":"8572c1b4.0f9b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":60,"wires":[]},{"id":"a700bfeb.a08ca","type":"debug","z":"8572c1b4.0f9b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"6fc034f0.23d09c","type":"json","z":"8572c1b4.0f9b3","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":100,"wires":[["40a39ced.6ffa94"]]},{"id":"40a39ced.6ffa94","type":"change","z":"8572c1b4.0f9b3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.WindSpeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["a700bfeb.a08ca"]]},{"id":"141ef02d.2a73a","type":"serial in","z":"72cf802c.aaf13","name":"","serial":"69a55496.73efdc","x":120,"y":140,"wires":[["ea80ef18.b8d7f"]]},{"id":"ea80ef18.b8d7f","type":"csv","z":"72cf802c.aaf13","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"id,d1,d2,d3,d4,d5,d6,d7,Bypass1,Bypass0,Active1,Active0,d12,d13,d14","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":270,"y":140,"wires":[["1f1901a3.8fbdde","43046075.3c71b","48a158bf.108758","ecaf60f1.ed5b","4cd57fc4.1032","2c5eb8e1.379d48"]]},{"id":"43046075.3c71b","type":"debug","z":"72cf802c.aaf13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"3769880f.765198","type":"debug","z":"72cf802c.aaf13","name":"ch8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":480,"wires":[]},{"id":"1f1901a3.8fbdde","type":"change","z":"72cf802c.aaf13","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Bypass0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["94c31b1d.99c3b8","7123b5ea.0d75fc","29515135.c415ce"]]},{"id":"94c31b1d.99c3b8","type":"bit-sixteen","z":"72cf802c.aaf13","name":"bypass0","x":480,"y":300,"wires":[["d7b2ea03.3edd88"],["64749e2d.7db73"],["8c7dc521.dc27b8"],["f94d5a22.8f9cb8"],["5c964053.f135a"],["f2c032ae.44341"],["c30e46da.edb818"],["3769880f.765198"],[],[],[],[],[],[],[],[]]},{"id":"d7b2ea03.3edd88","type":"debug","z":"72cf802c.aaf13","name":"ch1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":200,"wires":[]},{"id":"48a158bf.108758","type":"change","z":"72cf802c.aaf13","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Bypass1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":540,"wires":[["45ee47f9.062158","ec0461ee.032b5","b4c50869.1623e8"]]},{"id":"45ee47f9.062158","type":"bit-sixteen","z":"72cf802c.aaf13","name":"bypass1","x":480,"y":700,"wires":[["b37eed8c.1df98"],["4eb8c202.0031ec"],["91b01ed9.5aef2"],["c121943c.912ce8"],["aa201ff5.b95ab"],["df647f68.ec1d9"],["bd0e6b90.d754c8"],["fd617df0.48246"],[],[],[],[],[],[],[],[]]},{"id":"7123b5ea.0d75fc","type":"function","z":"72cf802c.aaf13","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":140,"wires":[["fcdcff4d.6125b"]]},{"id":"fcdcff4d.6125b","type":"debug","z":"72cf802c.aaf13","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":140,"wires":[]},{"id":"d048dd0d.e0cb3","type":"debug","z":"72cf802c.aaf13","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":540,"wires":[]},{"id":"ec0461ee.032b5","type":"function","z":"72cf802c.aaf13","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":540,"wires":[["d048dd0d.e0cb3"]]},{"id":"64749e2d.7db73","type":"debug","z":"72cf802c.aaf13","name":"ch2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"8c7dc521.dc27b8","type":"debug","z":"72cf802c.aaf13","name":"ch3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":280,"wires":[]},{"id":"f94d5a22.8f9cb8","type":"debug","z":"72cf802c.aaf13","name":"ch4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"5c964053.f135a","type":"debug","z":"72cf802c.aaf13","name":"ch5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":360,"wires":[]},{"id":"f2c032ae.44341","type":"debug","z":"72cf802c.aaf13","name":"ch6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":400,"wires":[]},{"id":"c30e46da.edb818","type":"debug","z":"72cf802c.aaf13","name":"ch7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":440,"wires":[]},{"id":"fd617df0.48246","type":"debug","z":"72cf802c.aaf13","name":"ch16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":880,"wires":[]},{"id":"b37eed8c.1df98","type":"debug","z":"72cf802c.aaf13","name":"ch9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":600,"wires":[]},{"id":"4eb8c202.0031ec","type":"debug","z":"72cf802c.aaf13","name":"ch10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":640,"wires":[]},{"id":"91b01ed9.5aef2","type":"debug","z":"72cf802c.aaf13","name":"ch11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":680,"wires":[]},{"id":"c121943c.912ce8","type":"debug","z":"72cf802c.aaf13","name":"ch12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":720,"wires":[]},{"id":"aa201ff5.b95ab","type":"debug","z":"72cf802c.aaf13","name":"ch13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":760,"wires":[]},{"id":"df647f68.ec1d9","type":"debug","z":"72cf802c.aaf13","name":"ch14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":800,"wires":[]},{"id":"bd0e6b90.d754c8","type":"debug","z":"72cf802c.aaf13","name":"ch15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":840,"wires":[]},{"id":"a3cc3248.23b23","type":"debug","z":"72cf802c.aaf13","name":"ch8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1380,"wires":[]},{"id":"ecaf60f1.ed5b","type":"change","z":"72cf802c.aaf13","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Active0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1040,"wires":[["1ac12e29.382172","7c0efd71.1a0a14","44d8f6e5.30c898"]]},{"id":"e3800683.c5b688","type":"debug","z":"72cf802c.aaf13","name":"ch1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1100,"wires":[]},{"id":"4cd57fc4.1032","type":"change","z":"72cf802c.aaf13","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Active1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1440,"wires":[["423d27db.8dd518","b7ffbe7.e3b954","e46dd828.fc4f98","3d652a7e.c7c85e"]]},{"id":"423d27db.8dd518","type":"bit-sixteen","z":"72cf802c.aaf13","name":"active1","x":440,"y":1820,"wires":[["8960b77.a337f48"],["b5b5b713.6c1558"],["c70a20f4.8c7a3"],["c6d36f69.12b05"],["82ca3106.a4325"],["f8785578.c9da18"],["25d482bf.a7e2be"],["34b347ff.631848"],[],[],[],[],[],[],[],[]]},{"id":"1ac12e29.382172","type":"function","z":"72cf802c.aaf13","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1040,"wires":[["1a5ab2.cce4154e"]]},{"id":"1a5ab2.cce4154e","type":"debug","z":"72cf802c.aaf13","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1040,"wires":[]},{"id":"f81241c5.9a5e2","type":"debug","z":"72cf802c.aaf13","name":"binary","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1440,"wires":[]},{"id":"b7ffbe7.e3b954","type":"function","z":"72cf802c.aaf13","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1440,"wires":[["f81241c5.9a5e2"]]},{"id":"22557da3.4f26e2","type":"debug","z":"72cf802c.aaf13","name":"ch2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1140,"wires":[]},{"id":"f93829a0.2c3ec8","type":"debug","z":"72cf802c.aaf13","name":"ch3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1180,"wires":[]},{"id":"72de1b53.f36794","type":"debug","z":"72cf802c.aaf13","name":"ch4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1220,"wires":[]},{"id":"f9132ae5.f1a8c8","type":"debug","z":"72cf802c.aaf13","name":"ch5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1260,"wires":[]},{"id":"4c88358f.3dfb8c","type":"debug","z":"72cf802c.aaf13","name":"ch6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1300,"wires":[]},{"id":"8770f266.4ffeb","type":"debug","z":"72cf802c.aaf13","name":"ch7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1340,"wires":[]},{"id":"34b347ff.631848","type":"debug","z":"72cf802c.aaf13","name":"ch16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":2000,"wires":[]},{"id":"8960b77.a337f48","type":"debug","z":"72cf802c.aaf13","name":"ch9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1720,"wires":[]},{"id":"b5b5b713.6c1558","type":"debug","z":"72cf802c.aaf13","name":"ch10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1760,"wires":[]},{"id":"c70a20f4.8c7a3","type":"debug","z":"72cf802c.aaf13","name":"ch11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1800,"wires":[]},{"id":"c6d36f69.12b05","type":"debug","z":"72cf802c.aaf13","name":"ch12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1840,"wires":[]},{"id":"82ca3106.a4325","type":"debug","z":"72cf802c.aaf13","name":"ch13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1880,"wires":[]},{"id":"f8785578.c9da18","type":"debug","z":"72cf802c.aaf13","name":"ch14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1920,"wires":[]},{"id":"25d482bf.a7e2be","type":"debug","z":"72cf802c.aaf13","name":"ch15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1960,"wires":[]},{"id":"7c0efd71.1a0a14","type":"bit-sixteen","z":"72cf802c.aaf13","name":"active0","x":660,"y":1200,"wires":[["e3800683.c5b688"],["22557da3.4f26e2"],["f93829a0.2c3ec8"],["72de1b53.f36794"],["f9132ae5.f1a8c8"],["4c88358f.3dfb8c"],["8770f266.4ffeb"],["a3cc3248.23b23"],[],[],[],[],[],[],[],[]]},{"id":"29515135.c415ce","type":"mqtt out","z":"72cf802c.aaf13","name":"","topic":"test/alarm/bypass0","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":690,"y":100,"wires":[]},{"id":"b4c50869.1623e8","type":"mqtt out","z":"72cf802c.aaf13","name":"","topic":"test/alarm/bypass1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":690,"y":500,"wires":[]},{"id":"44d8f6e5.30c898","type":"mqtt out","z":"72cf802c.aaf13","name":"","topic":"test/alarm/active0","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":690,"y":1000,"wires":[]},{"id":"e46dd828.fc4f98","type":"mqtt out","z":"72cf802c.aaf13","name":"","topic":"test/alarm/active1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":690,"y":1400,"wires":[]},{"id":"2c5eb8e1.379d48","type":"mqtt out","z":"72cf802c.aaf13","name":"","topic":"test/alarm/message","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":470,"y":40,"wires":[]},{"id":"3d652a7e.c7c85e","type":"function","z":"72cf802c.aaf13","name":"","func":"var bitch1 = 0;\nbitch1 = (msg.payload & 1)\nif (bitch1 > 0){\n    bitch1 = 1;\n} else {\n    bitch1 = 0;\n}\nvar bitch2 = 0;\nbitch2 = (msg.payload & 1)\nif (bitch2 > 0){\n    bitch2 = 1;\n} else {\n    bitch2 = 0;\n}\nvar bitch3 = 0;\nbitch3 = (msg.payload & 1)\nif (bitch3 > 0){\n    bitch3 = 1;\n} else {\n    bitch3 = 0;\n}\nvar bitch4 = 0;\nbitch4 = (msg.payload & 1)\nif (bitch4 > 0){\n    bitch4 = 1;\n} else {\n    bitch4 = 0;\n}\nvar bitch5 = 0;\nbitch5 = (msg.payload & 1)\nif (bitch5 > 0){\n    bitch5 = 1;\n} else {\n    bitch5 = 0;\n}\nvar bitch6 = 0;\nbitch6 = (msg.payload & 1)\nif (bitch6 > 0){\n    bitch6 = 1;\n} else {\n    bitch6 = 0;\n}\nvar bitch7 = 0;\nbitch7 = (msg.payload & 1)\nif (bitch7 > 0){\n    bitch7 = 1;\n} else {\n    bitch7 = 0;\n}\nvar bitch8 = 0;\nbitch8 = (msg.payload & 1)\nif (bitch8 > 0){\n    bitch8 = 1;\n} else {\n    bitch8 = 0;\n}\n\nvar ch1 = { payload: bitch1 };\nvar ch2 = { payload: bitch2 };\nvar ch3 = { payload: bitch3 };\nvar ch4 = { payload: bitch4 };\nvar ch5 = { payload: bitch5 };\nvar ch6 = { payload: bitch6 };\nvar ch7 = { payload: bitch7 };\nvar ch8 = { payload: bitch8 };\n\nreturn [ [ ch1, ch2, ch3, ch4, ch5, ch6, ch7 ], ch8 ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1500,"wires":[["f4f35d8d.9aef68"]]},{"id":"f4f35d8d.9aef68","type":"debug","z":"72cf802c.aaf13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1500,"wires":[]},{"id":"fa4803ae.600bf","type":"ui_slider","z":"cc2df0ce.b14fe","name":"","label":"slider","tooltip":"","group":"c49f6da6.3bf37","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":190,"y":220,"wires":[["cb399808.9d83f8","132e863c.99e42a"]]},{"id":"132e863c.99e42a","type":"mqtt out","z":"cc2df0ce.b14fe","name":"","topic":"rotator/poltestRaw","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bfae5dc8.1e56d","x":570,"y":220,"wires":[]},{"id":"cb399808.9d83f8","type":"debug","z":"cc2df0ce.b14fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"5c1b3bd6.30c594","type":"mqtt in","z":"2f787c92.3f4a44","name":"weather/outTemp_C","topic":"weather/outTemp_C","qos":"2","datatype":"auto","broker":"8919cdbb.160f5","nl":false,"rap":true,"rh":0,"x":230,"y":200,"wires":[["e013671e.2b9c78"]]},{"id":"ade6ff33.db676","type":"mqtt in","z":"2f787c92.3f4a44","name":"water/pressure2_kPa","topic":"water/pressure2_kPa","qos":"2","datatype":"auto","broker":"8919cdbb.160f5","nl":false,"rap":true,"rh":0,"x":240,"y":300,"wires":[["6031ecd7.f0f044"]]},{"id":"c2f07866.589828","type":"join","z":"2f787c92.3f4a44","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":240,"wires":[["cc2ec377.f1906"]]},{"id":"e013671e.2b9c78","type":"change","z":"2f787c92.3f4a44","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["c2f07866.589828"]]},{"id":"6031ecd7.f0f044","type":"change","z":"2f787c92.3f4a44","name":"","rules":[{"t":"set","p":"pressure","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["c2f07866.589828"]]},{"id":"2a11cdfb.e16ad2","type":"debug","z":"2f787c92.3f4a44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":300,"wires":[]},{"id":"cc2ec377.f1906","type":"function","z":"2f787c92.3f4a44","name":"","func":"varTemp = payload[\"weather/outTemp_C\"];\nvarPressure = payload[\"water/pressure2_kPa\"];\nvarValveOn = 0;\nif ((varTemp < 1) && (varPressure > 1000))\n{\n    varValveOn = 1;\n}\nmsg.payload = varValveOn;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["2a11cdfb.e16ad2","aab7a34b.e629b"]]},{"id":"aab7a34b.e629b","type":"mqtt out","z":"2f787c92.3f4a44","name":"","topic":"water/bleedvalveOn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8919cdbb.160f5","x":900,"y":360,"wires":[]},{"id":"27088b83.0f59f4","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/time","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":160,"wires":[["c985ef8f.221cf"]]},{"id":"f8876379.d9b8e","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/cycle","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["63eca54a.9777ec"]]},{"id":"a74eb41c.1b9eb8","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/lat","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":320,"wires":[["323d563e.8971fa"]]},{"id":"e186137c.be519","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/lon","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":360,"wires":[["64ad2433.d44f1c"]]},{"id":"b4e195e4.9d4218","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/alt","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":400,"wires":[["19bc0e19.7e3b22"]]},{"id":"ca07253e.f70b48","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/mode","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":150,"y":240,"wires":[["4f0c32bb.fd83bc"]]},{"id":"f9e1950e.145388","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/rtty","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":480,"wires":[["5bc14366.f8601c"]]},{"id":"c985ef8f.221cf","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":1,"width":0,"height":0,"name":"","label":"time","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":160,"wires":[]},{"id":"63eca54a.9777ec","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":2,"width":0,"height":0,"name":"","label":"cycle","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":200,"wires":[]},{"id":"4f0c32bb.fd83bc","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":3,"width":0,"height":0,"name":"","label":"mode","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":240,"wires":[]},{"id":"323d563e.8971fa","type":"ui_text","z":"df8571fa.4e6ae","group":"c0ce5e8b.7f7a3","order":1,"width":0,"height":0,"name":"","label":"lat","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":320,"wires":[]},{"id":"64ad2433.d44f1c","type":"ui_text","z":"df8571fa.4e6ae","group":"c0ce5e8b.7f7a3","order":2,"width":0,"height":0,"name":"","label":"lon","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":360,"wires":[]},{"id":"5bc14366.f8601c","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":4,"width":0,"height":0,"name":"","label":"telem","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":480,"wires":[]},{"id":"198a9a83.a637f5","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/temp","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":620,"wires":[["b6c74d84.e53eb","8664d9aa.e071c8"]]},{"id":"8a127df9.5116f","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/hum","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":680,"wires":[["e2121073.8901c"]]},{"id":"3be302cb.ee99ae","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/bat1","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":740,"wires":[["400ff490.074fec"]]},{"id":"400ff490.074fec","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":5,"width":0,"height":0,"name":"","label":"bat1","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":740,"wires":[]},{"id":"7631cc1c.43dda4","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/bat2","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":800,"wires":[["5e4dcebe.cefc7"]]},{"id":"bf59c43c.a6c4f8","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/psu1","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":860,"wires":[["6d6dabb9.eab124"]]},{"id":"3f4e23bd.9c40ac","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/psu2","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":920,"wires":[["2c998019.3e977"]]},{"id":"19bc0e19.7e3b22","type":"ui_gauge","z":"df8571fa.4e6ae","name":"","group":"c0ce5e8b.7f7a3","order":3,"width":0,"height":0,"gtype":"gage","title":"alt","label":"m","format":"{{value}}","min":"1500","max":"35000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":400,"wires":[]},{"id":"b6c74d84.e53eb","type":"ui_gauge","z":"df8571fa.4e6ae","name":"","group":"826fe509.544a58","order":1,"width":0,"height":0,"gtype":"gage","title":"temp","label":"C","format":"{{value}}","min":"-80","max":"30","colors":["#000cb3","#00ace6","#4ae647"],"seg1":"","seg2":"","x":450,"y":620,"wires":[]},{"id":"8664d9aa.e071c8","type":"ui_chart","z":"df8571fa.4e6ae","name":"","group":"826fe509.544a58","order":2,"width":0,"height":0,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":590,"y":640,"wires":[[]]},{"id":"5e4dcebe.cefc7","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":6,"width":0,"height":0,"name":"","label":"bat2","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":800,"wires":[]},{"id":"6d6dabb9.eab124","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":7,"width":0,"height":0,"name":"","label":"psu1","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":860,"wires":[]},{"id":"2c998019.3e977","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":8,"width":0,"height":0,"name":"","label":"psu2","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":920,"wires":[]},{"id":"e2121073.8901c","type":"ui_text","z":"df8571fa.4e6ae","group":"826fe509.544a58","order":3,"width":0,"height":0,"name":"","label":"hum","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":680,"wires":[]},{"id":"a667db01.457a38","type":"mqtt in","z":"df8571fa.4e6ae","name":"","topic":"bacar/sim","qos":"2","datatype":"auto","broker":"2101702a.40fe1","nl":false,"rap":true,"rh":0,"x":140,"y":540,"wires":[["fceffaa0.cf7bc8"]]},{"id":"fceffaa0.cf7bc8","type":"ui_text","z":"df8571fa.4e6ae","group":"f03f3268.6f30b","order":4,"width":0,"height":0,"name":"","label":"sim","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":540,"wires":[]},{"id":"7fd608ea.50af08","type":"serial in","z":"8d84a62b.30a128","name":"","serial":"aac31fca.3f73c","x":230,"y":100,"wires":[["dd8953f7.8101a"]]},{"id":"dd8953f7.8101a","type":"debug","z":"8d84a62b.30a128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":100,"wires":[]},{"id":"7fb93fe3.36aed","type":"inject","z":"8d84a62b.30a128","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":240,"wires":[["7f573b4e.06a334"]]},{"id":"99d7c5c6.398298","type":"debug","z":"8d84a62b.30a128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":240,"wires":[]},{"id":"7f573b4e.06a334","type":"apcrequest","z":"8d84a62b.30a128","name":"","server":"8b050d58.cb413","x":460,"y":240,"wires":[["99d7c5c6.398298"]]}]